<% wrap_layout :'layout-new' do %>
  <main class="entry">
    <% tagname = current_article.tags[0] %>
    <%= partial "blog-header", :locals => { :current_tag =>  tagname } %>

    <div class="container">
      <%= partial "blog-tagposts", :locals => { :current_tag => tagname } %>

      <article class="post">

        <div class="info">
          <div class="avatar">
            <%= image_tag 'about/%s.png' % [current_article.data.author.split()[0].downcase()], :height => '30' %>
          </div>
          <div class="date">
            <span class="long">Posted: <%= current_article.date.strftime('%B %e, %Y')%></span>
            <span class="short"><%= current_article.date.strftime('%b. %e, %Y') %></span>
          </div>
          <div class="author">by <span><%= current_article.data.author %></span></div>
        </div>

        <header>
          <% if current_article.data.image %>
            <div class="image"><%= image_tag current_article.data.image %></div>
          <% end %>
          <h2 class="title"><%= current_article.title %></h2>
        </header>

        <div class="content">
          <%= yield %>
        </div>
        <div class="tail info">
          <div class="share-buttons">
            <span>Share this article: </span><%= partial "share-links" %>
          </div>
          <div class="author">
            Author: <span><%= current_article.data.author %></span>
          </div>
        </div>
        <%= partial "vendors/disqus" %>
      </article>
    </div>
  </main>
<% end %>
