<% wrap_layout :layout do %>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header>
    <div class="container">
      <div>
        <h1>Gettin' Crafty</h1>
        <h2>A Blog written by the team at Codio - the perfect IDE people</h2>
      </div>
    </div>
  </header>

  <div class="container clearfix">

    <section class="posts">

      <% if is_blog_article? %>

        <% content_for :meta_description, "#{current_article.title}. #{truncate strip_tags(current_article.body), :length => 200}" %>
        <% content_for :meta_keywords, current_article.tags.join(', ') %>

        <article>
          <section class="meta">
            <p class="date">
              <%= link_to current_article.date.strftime('%B %e, %Y'), current_article %>
              <% if current_article.data.author %>
                <span class="author">by <%= link_to_author current_article.data.author %></span>
              <% end %>
            </p>
            <p class="tagged">Tagged:</p>
            <ul class="tags">
              <% current_article.tags.each do |tag| %>
                <li><%= tag %></li>
              <% end %>
            </ul>

            <p class="comments">
              <%= link_to 'Comments', current_article.url + "#disqus_thread", :class => "dsq-comment-count" %>
            </p>
          </section>

          <h1><%= link_to current_article.title, current_article %></h1>

          <div class="blog-social clearfix">
            <div class="blog-twitter">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="codiohq" data-size="small" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

            <div class="blog-gplus">
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium" data-annotation="none" data="<%= current_article.url %>"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
            </div>

            <div class="blog-facebook">
              <div class="fb-like" data-send="false" data-width="400" data-show-faces="false"></div>
            </div>
          </div>

          <% if current_article.data.image %>
            <%= image_tag current_article.data.image, :alt => current_article.title, :align => "left", :class => "blog-img" %>
          <% end %>

          <%= yield %>

          <div class="blog-social clearfix">
            <div class="blog-twitter">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="codiohq" data-size="small" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>

            <div class="blog-gplus">
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium" data-annotation="none" data="<%= current_article.url %>"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                (function() {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/plusone.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
            </div>

            <div class="blog-facebook">
              <div class="fb-like" data-send="false" data-width="400" data-show-faces="false"></div>
            </div>
          </div>
        </article>

      <% end %>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'codio'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable Javascript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </section>

    <aside>
      <section class="all-posts">
        <h4><%= link_to 'all posts &raquo;', '/blog/all' %></h4>
        <h5><a href="http://feeds.feedburner.com/codio" target="_blank"><%= image_tag 'feed-icon.png', :size => '14x14' %>Subscribe</a></h5>
      </section>

      <section class="latest-posts">
        <h4>Latest posts...</h4>
        <ul>
          <% blog.articles[0...8].each do |post| %>
            <li><%= link_to post.title, post %></li>
          <% end %>
        </ul>
      </section>

      <div style="margin:35px 0 0 25px;">
        <a href="https://twitter.com/codiohq" class="twitter-follow-button" data-size="medium" data-show-count="false" data-lang="en">Follow us @codiohq</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

      <a href="https://chrome.google.com/webstore/detail/application-craft/fnbfgfpielckjhdohmkacklnnjkdpkdc" target="_blank"><img src="https://developers.google.com/chrome/web-store/images/branding/ChromeWebStore_BadgeWBorder_v2_206x58.png" style="margin:15px 0 0 25px;width:88%;"></a>
    </aside>

  </div>

<% end %>


<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'codio'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

<%= javascript_include_tag 'vendor/rainbow', 'vendor/rainbow/generic', 'vendor/rainbow/javascript' %>
<%= stylesheet_link_tag 'lib/rainbow/github' %>