<% wrap_layout :'layout' do %>

  <div class="page-header-block">
    <div class="search-container">
      <form id="search-input">
        <input type="text" placeholder="Search for a specific question or topic ..." id="st-search-input" class="st-search-input" />
      </form>
    </div>
  </div>
  <div style="clear: both;">
  </div>

  <div class="docs-content">
    <%= partial 'docs-side-navigation' %>

    <article data-swiftype-name="body" data-swiftype-type="text" class="docs-body">
      <h1 data-swiftype-name="title" data-swiftype-type="string">
        <%= current_resource.data.title %>
      </h1>
      <%= yield %>
    </article>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "<%= current_resource.data.title %>",
        "datePublished": "<%= File.ctime(Dir.glob("source/#{current_resource.path}*")[0]).iso8601 %>"
      }
    </script>
  </div>
<% end %>
