<% wrap_layout :layout do %>
  <div class="title">
    <%= link_to "Docs", "/docs", :class => "back-button" %>
  </div>
  <aside>
    <nav>
      <form id="search-input">
        <input type="text" id="st-search-input" class="st-search-input" placeholder="Search"/>
      </form>

      <ul id="docs-menu">
        <% nav_pages(current_resource.url).each do |resource| %>
          <li>
            <h2>
              <%= link_to resource.data.title, resource.url %>
              <a href="" id="docs-menu-button">
                <i class="fa fa-plus closed"></i>
                <i class="fa fa-remove open"></i>
              </a>
            </h2>
            <ul>
              <% ordered(resource).each do |child| %>
                <li>
                  <% active = current_section?(child.url) ? "active" : "" %>
                  <h5 class="<%= active %>"><%=  link_to child.data.title, child.url %></h5>
                    <ul class="<%= active %>">
                    <% ordered(child).each do |p| %>
                      <% if current_section? p.url %>
                        <li class="active">
                          <%=  link_to p.data.title, p.url %>
                          <% if p.children.length > 0 %>
                          <ul>
                            <% ordered(p).each do |inner| %>
                              <% if current_page? inner.url %>
                                <li class="active">
                              <% else %>
                                  <li>
                              <% end %>
                              <%= link_to inner.data.title, inner.url %></li>
                            <% end %>
                          </ul>
                          <% end %>
                      <% else %>
                          <li>
                            <%=  link_to p.data.title, p.url %>
                      <% end %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </aside>
  <article>
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
    <%= partial "share-links" %>
    <%= partial "vendors/disqus" %>
  </article>
<% end %>

<%= partial "vendors/swiftype" %>
