<% wrap_layout :'layout' do %>

  <div class="docs-content">

    <%= partial "docs/actions" %>

    <%= partial 'docs-side-navigation' %>

    <article data-swiftype-name="body" data-swiftype-type="text" class="docs-body">
      <h2 data-swiftype-name="title" data-swiftype-type="string">
        <%= current_resource.data.title %>
      </h2>
      <%= yield %>
    </article>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "<%= current_resource.data.title %>",
        "datePublished": "<%= File.ctime(Dir.glob("source/#{current_resource.path}*")[0]).iso8601 %>"
      }
    </script>
  </div>
<% end %>
