<% wrap_layout :layout do %>
  <header class="artwork"></header>
  <aside>
    <nav>
      <%= link_to "Docs", "/docs" %>
      <ul>
        <% nav_pages(current_resource.url).each do |resource| %>
          <li>
            <h4><%= link_to resource.data.title, resource.url %></h4>
            <ul>
              <% resource.children.each do |child| %>
                <li>
                  <h5> <%=  link_to child.data.title, child.url %></h5>
                  <% if current_section? child.url %>
                    <ul class="active">
                  <% else %>
                    <ul>
                  <% end %>
                    <% child.children.each do |p| %>
                      <% if current_page? p.url %>
                        <li class="active">
                      <% else %>
                        <li>
                      <% end %>
                        <%=  link_to p.data.title, p.url %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </aside>
  <article>
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
  </article>
<% end %>

<%= javascript_include_tag "vendors/swiftype" %>
