<% wrap_layout :layout do %>
  <%= link_to "Docs", "/docs", :class => "back-button" %>
  <aside>
    <nav>
      <form id="search-input">
        <input type="text" id="st-search-input" class="st-search-input" placeholder="Search"/>
      </form>

      <ul>
        <% nav_pages(current_resource.url).each do |resource| %>
          <li>
            <h4><%= link_to resource.data.title, resource.url %></h4>
            <ul>
              <% resource.children.each do |child| %>
                <li>
                  <h5> <%=  link_to child.data.title, child.url %></h5>
                  <% if current_section? child.url %>
                    <ul class="active">
                  <% else %>
                    <ul>
                  <% end %>
                    <% child.children.each do |p| %>
                      <% if current_section? p.url %>
                        <li class="active">
                          <%=  link_to p.data.title, p.url %>
                          <ul>
                            <% p.children.each do |inner| %>
                              <% if current_page? inner.url %>
                                <li class="active">
                              <% else %>
                                  <li>
                              <% end %>
                              <%= link_to inner.data.title, inner.url %></li>
                            <% end %>
                          </ul>
                      <% else %>
                          <li>
                            <%=  link_to p.data.title, p.url %>
                      <% end %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </nav>
  </aside>
  <article>
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
  </article>
<% end %>

<%= javascript_include_tag "vendors/swiftype" %>
