<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Codio" %></title>

    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= partial "header" %>

    <section><%= yield %></section>

    <%= partial "footer" %>

    <!-- Include Scripts -->
    <%= javascript_include_tag  "all" %>

  </body>
</html>
