<% wrap_layout :'layout' do %>
  <div class="header-block">
    <h2>Legal Information</h2>
  </div>

  <div class="legal-content">
    <%= partial 'legal-header-navigation' %>

    <%= partial 'legal-side-navigation' %>

    <article data-swiftype-name="body" data-swiftype-type="text" class="legal-body">
      <h1 data-swiftype-name="title" data-swiftype-type="string">
        <%= current_resource.data.title %>
      </h1>
      <%= yield %>
    </article>

<!--    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "<%= current_resource.data.title %>",
        "datePublished": "<%= File.ctime(Dir.glob("source/#{current_resource.path}*")[0]).iso8601 %>"
      }
    </script>
-->

<% end %>
