<div class="pagination">
  <% if paginate && num_pages > 1 %>

    <ul>

      <li class="page-prev">
        <% prev_label = "&#x25c2; previous" %>
        <% if prev_page %>
          <%= link_to prev_label, prev_page %>
        <% else %>
          <span><%= prev_label %></span>
        <% end %>
      </li>

      <% (page_number - 8 .. page_number + 8).select{|i| i > 0 && i <= num_pages}[0..7].each do |i| %>
        <% if i == page_number %>
          <li class="num active"><span><%= i %></span></li>
        <% else %>
          <li class="num">
            <%
              p = nil
              (i ... page_number).each do p = p ? p.metadata[:locals]['prev_page'] : prev_page; end
              (page_number ... i).each do p = p ? p.metadata[:locals]['next_page'] : next_page; end
            %>
            <%= link_to "#{i}", p && p.url %>
          </li>
        <% end %>
      <% end %>

      <li class="page-next">
        <% next_label = "next &#x25b8;" %>
        <% if next_page %>
          <%= link_to next_label, next_page %>
        <% else %>
          <span><%= prev_label %></span>
        <% end %>
      </li>
    </ul>

  <% end %>
</div>
