<div id="features-subheader" class="subheader-block">
	<div class="menu">
		<div class="header-item <% if current_resource.data.features_page == 'infrastructure' %> selected<% end %>">
    	<div class="header-img">
      	<%= inline_svg 'assets/index/infrastructure.svg', class: '' %>
    	</div>
    	<div class="header-button">
      	<%= link_to 'Infrastructure', '/features/infrastructure', class: '' %>
    	</div>
  	</div>

		<div class="header-item <% if current_resource.data.features_page == 'ide' %> selected<% end %>">
    	<div class="header-img">
      	<%= inline_svg 'assets/index/webbased.svg', class: '' %>
    	</div>
    	<div class="header-button">
      	<%= link_to 'Online IDE', '/features/ide', class: '' %>
    	</div>
  	</div>

		<div class="header-item">
    	<div class="header-img">
      	<%= inline_svg 'assets/index/projecttemplates.svg', class: '' %>
    	</div>
    	<div class="header-button">
      	<%= link_to 'Grading<span> & Auto-Grading</span>', '', class: '' %>
    	</div>
  	</div>

		<div class="header-item">
    	<div class="header-img">
      	<%= inline_svg 'assets/index/learning.svg', class: '' %>
    	</div>
    	<div class="header-button">
	      <%= link_to 'LMS', '', class: '' %>
  	  </div>
  	</div>

		<div class="header-item">
    	<div class="header-img">
	      <%= inline_svg 'assets/index/contentauthoring.svg', class: '' %>
  	  </div>
    	<div class="header-button">
      	<%= link_to 'Curriculum<span> Authoring</span>', '/features/curriculum', class: '' %>
    	</div>
  	</div>

		<div class="header-item">
    	<div class="header-img">
      	<%= inline_svg 'assets/index/curriculumcontent.svg', class: '' %>
    	</div>
    	<div class="header-button">
      	<%= link_to 'Templating', '/features/templates', class: '' %>
    	</div>
  	</div>
  </div>
</div>
