<footer>
  <div class="container">
    <div class="footer-copyright">
      <%= image_tag 'logo-dark.svg', alt: 'Codio', class: 'footer-logo' %>
      <p>Copyright © 2016 Codio</p>
      <p>All rights reserved</p>
    </div>

    <ul class="footer-list">
      <li>
        <h4>About</h4>
      </li>
      <li>
        <%= link_to 'Why Codio?', '/about/mission' %>
      </li>
      <li>
        <%= link_to 'Our Team', '/about' %>
      </li>
      <li>
        <%= link_to 'Blog', '/blog' %>
      </li>
      <li>
        <%= link_to 'Legal Stuff', '/legal' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Product</h4>
      </li>
      <li>
        <%= link_to 'Login', '/p/login' %>
      </li>
      <li>
        <%= link_to 'Price', '/pricing' %>
      </li>
      <li>
        <%= link_to 'Features', '/features' %>
      </li>
      <li>
        <%= link_to 'School', '/school' %>
      </li>
      <li>
        <%= link_to 'University', '/university' %>
      </li>
      <li>
        <%= link_to 'Trial', '/start-edu-trial' %>
      </li>
      <li>
        <%= link_to 'Demo', '/demo' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Help</h4>
      </li>
      <li>
        <%= link_to 'Get Started', '/docs/started' %>
      </li>
      <li>
        <%= link_to 'IDE', '/docs/ide/navigation' %>
      </li>
      <li>
        <%= link_to 'Authoring', '/docs/content/authoring' %>
      </li>
      <li>
        <%= link_to 'Publishing', '/docs/content/publish' %>
      </li>
      <li>
        <%= link_to 'Tools', '/docs/teacher/assess' %>
      </li>
      <li>
        <%= link_to 'Templates', '/docs/project' %>
      </li>
      <li>
        <%= link_to 'Courses', '/docs/content/courses' %>
      </li>
      <li>
        <%= link_to 'Students', '/docs/student/classes' %>
      </li>
      <li>
        <%= link_to 'Settings', '/docs/acount' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Contact Us</h4>
      </li>
      <li>
        <%= link_to 'Forum', 'http://forum.codio.com', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Status', 'https://status.codio.com', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Twitter', 'https://twitter.com/CODIOHQ', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Facebook', 'https://www.facebook.com/CodioHQ/', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'YouTube', 'https://www.youtube.com/channel/UCe_pvWqpowhOlwOwO3nVsaw' %>
      </li>
    </ul>
  </div>
</footer>
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2227229.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->