<footer class="footer">
  <div class="wrapper">

    <div class="footer-links">
      <ul>
        <li><h4>Codio</h4></li>
        <li><%= link_to "Pricing", "/pricing" %></li>
        <li><%= link_to "Blog", "/blog" %></li>
      </ul>

      <ul>
        <li><h4>About</h4></li>
        <li><%= link_to "About Us", "/about" %></li>
        <li><%= link_to "Team", "/about#team" %></li>
        <li><%= link_to "Legal", "/legal" %></li>
      </ul>
      <ul>
        <li><h4>Help</h4></li>
        <li><%= link_to "Docs", "/docs" %></li>
        <li><%= link_to "Community", "http://forum.codio.com" %></li>
        <li><%= link_to "Status", "http://status.codio.com" %></li>
      </ul>
      <ul>
        <li><h4>Connect</h4></li>
        <li>
          <a href="https://www.facebook.com/CodioHQ" class="facebook-share">
            <i class="fa fa-facebook"></i> Twitter
          </a>
        </li>
        <li>
          <a href="https://twitter.com/codiohq" class="twitter-share">
            <i class="fa fa-twitter"></i> Facebook
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/107423236292333764300" class="plus-share">
            <i class="fa fa-google-plus"></i> Google Plus
          </a>
        </li>
      </ul>
    </div>
    <div class="copy">
      <span>Made with <3</span>
      <span>&copy; Codio 2014</span>
    </div>
  </div>
  <div class="artwork"></div>
</footer>
