<footer class="footer">
  <div class="footer-links">
    <ul>
      <li><%= link_to "About Us", "/about" %></li>
      <li><%= link_to "Team", "/about#team" %></li>
      <li><%= link_to "Blog", "/blog" %></li>
      <li><%= link_to "Community", "http://forum.codio.com" %></li>
    </ul>
    <ul>
      <li><%= link_to "Contact", "/about#contact" %></li>
      <li><%= link_to "Terms and Conditions", "/legal#toc" %></li>
      <li><%= link_to "Privacy Policy", "/legal#privacy-policy" %></li>
      <li><%= link_to "System Status", "http://status.codio.com" %></li>
    </ul>
    <ul>
      <li>Codio</li>
      <li>c/o Application Craft UK Ltd.</li>
      <li>29 Wood St, Stratford-Upon-Avon</li>
      <li>United Kingdom</li>
    </ul>
  </div>
  <div class="social-links">
    <ul>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">Google Plus</a></li>
    </ul>
  </div>
  <div class="copy">
    Made with <3. &copy; 2014 Codio Inc.
  </div>

</footer>
