<footer class="footer">
  <div class="wrapper">

    <div class="footer-links">
      <ul>
        <li><%= link_to "About", "/about" %></li>
        <li><%= link_to "Team", "/about#team" %></li>
        <li><%= link_to "Blog", "/blog" %></li>
      </ul>
      <ul>
        <li><%= link_to "Community", "http://forum.codio.com" %></li>
        <li><%= link_to "Legal", "/legal" %></li>
        <li><%= link_to "Status", "http://status.codio.com" %></li>
      </ul>
      <ul>
        <li>Codio</li>
        <li>c/o Application Craft UK Ltd.</li>
        <li>29 Wood St, Stratford-Upon-Avon</li>
        <li>United Kingdom</li>
      </ul>
    </div>
    <div class="share-links small">
      <ul>
        <li>
          <a href="https://www.facebook.com/CodioHQ" class="facebook-share">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/codiohq" class="twitter-share">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/107423236292333764300" class="plus-share">
            <i class="fa fa-google"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="artwork"></div>
</footer>
