<footer>
  <div class="container">
    <div class="footer-copyright">
      <%= image_tag 'logo-dark.svg', class: 'footer-logo' %>
      <p>Copyright © 2015 Codio</p>
      <p>All rights reserved</p>
    </div>

    <ul class="footer-list">
      <li>
        <h4>About</h4>
      </li>
      <li>
        <%= link_to 'Why Codio?', '' %>
      </li>
      <li>
        <%= link_to 'Our Team', '/about' %>
      </li>
      <li>
        <%= link_to 'Blog', 'http://blog.codio.com' %>
      </li>
      <li>
        <%= link_to 'Legal Stuff', '/legal' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Product</h4>
      </li>
      <li>
        <%= link_to 'Login', '/p/login' %>
      </li>
      <li>
        <%= link_to 'Price', '/pricing' %>
      </li>
      <li>
        <%= link_to 'Features', '/features' %>
      </li>
      <li>
        <%= link_to 'Individual', '' %>
      </li>
      <li>
        <%= link_to 'School', '' %>
      </li>
      <li>
        <%= link_to 'University', '' %>
      </li>
      <li>
        <%= link_to 'Free Trial', '' %>
      </li>
      <li>
        <%= link_to 'Request a Demo', '' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Help</h4>
      </li>
      <li>
        <%= link_to 'Get Started', '' %>
      </li>
      <li>
        <%= link_to 'IDE', '' %>
      </li>
      <li>
        <%= link_to 'Class Admin', '' %>
      </li>
      <li>
        <%= link_to 'Cource Authoring', '' %>
      </li>
      <li>
        <%= link_to 'Cource Publishing', '' %>
      </li>
      <li>
        <%= link_to 'Leaning Tools', '' %>
      </li>
      <li>
        <%= link_to 'Project Templates', '' %>
      </li>
      <li>
        <%= link_to 'Courses', '' %>
      </li>
      <li>
        <%= link_to 'For Students', '' %>
      </li>
      <li>
        <%= link_to 'Settings', '' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Support</h4>
      </li>
      <li>
        <%= link_to 'Forum', 'http://forum.codio.com', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'System Status', 'https://status.codio.com', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Live Chat', '' %>
      </li>
    </ul>
  </div>
</footer>
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2227229.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->