<footer>
  <div class="container">
    <div class="footer-copyright">
      <%= image_tag 'logo-dark.svg', class: 'footer-logo' %>
      <p>Copyright © 2015 Codio</p>
      <p>All rights reserved</p>
    </div>

    <ul class="footer-list">
      <li>
        <h4>Product</h4>
      </li>
      <li>
        <%= link_to 'Login', '/p/login' %>
      </li>
      <li>
        <%= link_to 'Pricing', '/pricing' %>
      </li>
      <li>
        <%= link_to 'Features', '/' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Company</h4>
      </li>
      <li>
        <%= link_to 'Our Mission', '/mission' %>
      </li>
      <li>
        <%= link_to 'Our Team', '/team' %>
      </li>
      <li>
        <%= link_to 'Blog', 'https://codio.ghost.io' %>
      </li>
      <li>
        <%= link_to 'Legal Details', '/legal' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Support</h4>
      </li>
      <li>
        <%= link_to 'Documentation', '/docs' %>
      </li>
      <li>
        <%= link_to 'Community', 'http://forum.codio.com' %>
      </li>
      <li>
        <%= link_to 'System Status', 'https://status.codio.com' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Connect</h4>
      </li>
      <li>
        <%= link_to 'Twitter', 'https://twitter.com/codiohq' %>
      </li>
      <li>
        <%= link_to 'Youtube', 'https://www.youtube.com/channel/UCe_pvWqpowhOlwOwO3nVsaw' %>
      </li>
      <li>
        <%= link_to 'Facebook', 'https://www.facebook.com/CodioHQ' %>
      </li>
      <li>
        <%= link_to 'Google+', 'https://plus.google.com/+Codio/' %>
      </li>
    </ul>
  </div>
</footer>
