<footer>
  <div class="container">
    <ul class="footer-list">
      <li>
        <h4>About</h4>
      </li>
      <li>
        <%= link_to 'Why Codio?', '/about/mission' %>
      </li>
      <li>
        <%= link_to 'Customers', 'http://news.codio.com' %>
      </li>
      <li>
        <%= link_to 'Contact Us', 'http://news.codio.com/contact-us' %>
      </li>
      <li>
        <%= link_to 'News Blog', 'http://news.codio.com/blog/' %>
      </li>
      <li>
        <%= link_to 'Product Blog', 'http://news.codio.com/blog/topic/product-news' %>
      </li>
      <li>
        <%= link_to 'Legal Stuff', '/legal' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Product</h4>
      </li>
      <li>
        <%= link_to 'Cloud CS', '/cloudcs' %>
      </li>
      <li>
        <%= link_to 'Cloud Labs', '/cloudlabs' %>
      </li>
      <li>
        <%= link_to 'University Leadership', '/universityleadership' %>
      </li>
      <li>
        <%= link_to 'School Leadership', '/school_leadership' %>
      </li>
      <li>
        <%= link_to 'School Teacher', '/school' %>
      </li>
      <li>
        <%= link_to 'Pricing', '/pricing' %>
      </li>
      <li></li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Features</h4>
      </li>
      <li>
        <%= link_to 'Infrastructure', '/features/infrastructure' %>
      </li>
      <li>
        <%= link_to 'Online IDE', '/features/ide' %>
      </li>
      <li>
        <%= link_to 'Grading & Auto-grading', '/features/grading' %>
      </li>
      <li>
        <%= link_to 'LMS', '/features/lms' %>
      </li>
      <li>
        <%= link_to 'Curriculum Authoring', '/features/content-authoring' %>
      </li>
      <li>
        <%= link_to 'Templating', '/features/templates/' %>
      </li>
      <li>
        <%= link_to 'Available Courses', '/docs/misc/schoolscontent' %>
      </li>
      <li>
        <%= link_to 'Technical Specification', '/features/technicalspecifications' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Gain Access</h4>
      </li>
      <li>
        <%= link_to 'Free Trial', '/start-edu-trial' %>
      </li>
      <li>
        <%= link_to 'Demo', '/demo' %>
      </li>
      <li>
        <%= link_to 'Login', '/p/login' %>
      </li>
      <li>
        <%= link_to 'Join Class', '/p/join-class' %>
      </li>
        <li>
        <%= link_to 'Desktop App', '/docs/dashboard/desktopapp' %>
      </li>
      <li>
        <%= link_to 'Get Started', '/docs/started' %>
      </li>
      <li>
        <%= link_to 'Documentation', '/docs' %>
      </li>
    </ul>
  </div>
  <div class="container-logo">
    <div class="footer-logo">
      <%= image_tag 'logo-light.svg', alt: 'Codio', class: 'footer-logo' %>
    </div>
    <div class="line"></div>
    <div class="social">
      <a href="https://www.facebook.com/CodioHQ/" target="_blank">
        <%= image_tag '/img/assets/facebook_icon_white.png', alt: 'Codio', class: 'facebook' %>
      </a>
      <a href="https://www.youtube.com/channel/UCe_pvWqpowhOlwOwO3nVsaw" target="_blank">
        <%= image_tag '/img/assets/youtube_icon_white.png', alt: 'Codio', class: 'icon' %>
      </a>
      <a href="https://twitter.com/CODIOHQ" target="_blank">
        <%= image_tag '/img/assets/twitter_icon_white.png', alt: 'Codio', class: 'icon' %>
      </a>
    </div>
  </div>
</footer>
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2227229.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->
<!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
-->
<script type="text/javascript">
/* <![CDATA[ */
  var google_conversion_id = 940186541;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
/* ]]> */
</script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt=""
      src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/940186541/?guid=ON&amp;script=0"/>
  </div>
</noscript>