<footer>
  <div class="container">
    <ul class="footer-list">
      <li>
        <h4>About</h4>
      </li>
      <li>
        <%= link_to 'Why Codio?', '/about/mission' %>
      </li>
      <li>
        <%= link_to 'Customers', '' %>
      </li>
      <li>
        <%= link_to 'Contact Us', '' %>
      </li>
      <li>
        <%= link_to 'News Blog', '/blog' %>
      </li>
      <li>
        <%= link_to 'Product Blog', '' %>
      </li>
      <li>
        <%= link_to 'Legal Stuff', '/legal' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Product</h4>
      </li>
      <li>
        <%= link_to 'School Leadership', '' %>
      </li>
      <li>
        <%= link_to 'School Teacher', '' %>
      </li>
      <li>
        <%= link_to 'University Leadership', '' %>
      </li>
      <li>
        <%= link_to 'University Faculty', '/university' %>
      </li>
      <li>
        <%= link_to 'Price', '/pricing' %>
      </li>
      <li></li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Features</h4>
      </li>
      <li>
        <%= link_to 'Infrastructure', '' %>
      </li>
      <li>
        <%= link_to 'Online IDE', '/docs/ide/navigation' %>
      </li>
      <li>
        <%= link_to 'Grading & Auto-grading', '' %>
      </li>
      <li>
        <%= link_to 'LMS Integration', '' %>
      </li>
      <li>
        <%= link_to 'Curriculum Authoring', '' %>
      </li>
      <li>
        <%= link_to 'Templating', '' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Gain Access</h4>
      </li>
      <li>
        <%= link_to 'Free Trial', '/start-edu-trial' %>
      </li>
      <li>
        <%= link_to 'Demo', '/demo' %>
      </li>
      <li>
        <%= link_to 'Login', '/p/login' %>
      </li>
      <li>
        <%= link_to 'Join Class', '', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Get Started', '/docs/started' %>
      </li>
      <li>
        <%= link_to 'Documentation', '/docs' %>
      </li>
    </ul>
  </div>
  <div class="container-logo">
    <div class="footer-logo">
      <%= image_tag 'logo-light.svg', alt: 'Codio', class: 'footer-logo' %>
    </div>
    <div class="line"></div>
    <div class="social">
      F  Y  T
    </div>
  </div>
</footer>
<!-- Start of Async HubSpot Analytics Code -->
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/2227229.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<!-- End of Async HubSpot Analytics Code -->