<footer>
  <div class="container">
    <div class="footer-copyright">
      <%= image_tag 'logo-dark.svg', class: 'footer-logo' %>
      <p>Copyright © 2015 Codio</p>
      <p>All rights reserved</p>
    </div>

    <ul class="footer-list">
      <li>
        <h4>About</h4>
      </li>
      <li>
        <%= link_to 'Why Codio?', '' %>
      </li>
      <li>
        <%= link_to 'Our Team', '/about' %>
      </li>
      <li>
        <%= link_to 'Blog', 'http://blog.codio.com' %>
      </li>
      <li>
        <%= link_to 'Legal Stuff', '/legal' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Product</h4>
      </li>
      <li>
        <%= link_to 'Login', '/p/login' %>
      </li>
      <li>
        <%= link_to 'Price', '/pricing' %>
      </li>
      <li>
        <%= link_to 'Features', '/features' %>
      </li>
      <li>
        <%= link_to 'Individual', '' %>
      </li>
      <li>
        <%= link_to 'School', '' %>
      </li>
      <li>
        <%= link_to 'University', '' %>
      </li>
      <li>
        <%= link_to 'Free Trial', '' %>
      </li>
      <li>
        <%= link_to 'Request a Demo', '' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Help</h4>
      </li>
      <li>
        <%= link_to 'Get Started', '' %>
      </li>
      <li>
        <%= link_to 'IDE', '' %>
      </li>
      <li>
        <%= link_to 'Class Admin', '' %>
      </li>
      <li>
        <%= link_to 'Cource Authoring', '' %>
      </li>
      <li>
        <%= link_to 'Cource Publishing', '' %>
      </li>
      <li>
        <%= link_to 'Leaning Tools', '' %>
      </li>
      <li>
        <%= link_to 'Project Templates', '' %>
      </li>
      <li>
        <%= link_to 'Courses', '' %>
      </li>
      <li>
        <%= link_to 'For Students', '' %>
      </li>
      <li>
        <%= link_to 'Settings', '' %>
      </li>
    </ul>
    <ul class="footer-list">
      <li>
        <h4>Contact Us</h4>
      </li>
      <li>
        <%= link_to 'Forum', 'http://forum.codio.com', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'System Status', 'https://status.codio.com', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Live Chat', '' %>
      </li>
      <li>
        <%= link_to 'Twitter', 'https://twitter.com/CODIOHQ', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'Facebook', 'https://www.facebook.com/CodioHQ/', target: '_blank' %>
      </li>
      <li>
        <%= link_to 'YouTube', 'https://www.youtube.com/channel/UCe_pvWqpowhOlwOwO3nVsaw' %>
      </li>
    </ul>
  </div>
  <script type="text/javascript">
	var trackcmp_email = '';
	var trackcmp = document.createElement("script");
	trackcmp.async = true;
	trackcmp.type = 'text/javascript';
	trackcmp.src = '//trackcmp.net/visit?actid=251729529&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
	var trackcmp_s = document.getElementsByTagName("script");
	if (trackcmp_s.length) {
		trackcmp_s[0].parentNode.appendChild(trackcmp);
	} else {
		var trackcmp_h = document.getElementsByTagName("head");
		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
	}
  </script>
</footer>
