<header>

  <nav class="top">
    <ul>
      <li>
        <a href="" id="menu-toggle">
          <i class="fa fa-bars"></i>
        </a>
      </li>
      <li>
        <h3><%= link_to ".codio", "/" %></h3>
      </li>
      <li>
        <a href="" class="outline-button">Sign Up</a>
      </li>
    </ul>
  </nav>
  <nav class="left slide-menu">
    <h3><%= link_to ".codio", "/" %></h3>
    <%= link_to_nav "Docs", "/docs" %>
    <%= link_to_nav "Pricing", "/pricing" %>
    <%= link_to_nav "Community", "/community" %>

    <div class="actions signed-out">
      <a href="">Sign In</a>
      <a href="" class="outline-button">Sign Up</a>
    </div>
    <div class="actions signed-in">
      <a id="userlink">
        <img id="gravatar" alt="Gravatar"></img>
        <span></span>
      </a>
      <a id="intercom" href="mailto:ee8711023afa04b80a6b921ddb3939c1171e0f62@incoming.intercom.io">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-comments-o fa-stack-1x"></i>
        </span>
        Chat
      </a>
    </div>
  </nav>
</header>

<header class="artwork"></header>
