<div class="legal-header-navigation">
  <div class="header-block">
    <h2>Legal Information</h2>
  </div>

  <div class="legal-navigation-content">
    <div class="legal-block">
      <a href="/legal/terms">
        <div>
          <%= inline_svg "assets/legal/terms.svg", class: "" %>
        </div>
        <h4>Terms and Conditions</h4>
      </a>
    </div><div class="legal-block">
      <a href="/legal/privacy">
        <div>
          <%= inline_svg "assets/legal/privacy.svg", class: "" %>
        </div>
        <h4>Privacy Policy</h4>
      </a>
    </div><div class="legal-block">
      <a href="/legal/policy">
        <div>
          <%= inline_svg "assets/legal/policy.svg", class: "" %>
        </div>
        <h4>Acceptable Usage Policy</h4>
      </a>
    </div>
  </div>

  <div class="legal-navigation-content">
    <div class="legal-block">
      <a href="/legal/copyright">
        <div>
          <%= inline_svg "assets/legal/copyright.svg", class: "" %>
        </div>
        <h4>Copyright Notices</h4>
      </a>
    </div><div class="legal-block">
      <a href="/legal/trademarks">
        <div>
          <%= inline_svg "assets/legal/trademarks.svg", class: "" %>
        </div>
        <h4>Trademarks</h4>
      </a>
    </div><div class="legal-block">
      <a href="/legal/billing">
        <div>
          <%= inline_svg "assets/legal/billing.svg", class: "" %>
        </div>
        <h4>Billing &amp; Refunds</h4>
      </a>
    </div>
  </div>

</div>
