<ul>
  <li <% if current_page.path.start_with?("docs") then concat 'class="active"' end %>>
    <%= link_to 'Docs', '/docs' %>
  </li>
  <li <% if current_page.path.start_with?("pricing") then concat 'class="active"' end %>>
    <%= link_to 'Pricing', '/pricing' %>
  </li>
  <li>
    <%= link_to 'Community', 'http://forum.codio.com', target: '_blank' %>
  </li>
  <li>
    <%= link_to 'Log in', '/p/login' %>
  </li>
  <li>
    <%= link_to 'Sign up', '/p/signup', class: 'button' %>
  </li>
</ul>
