<ul>
  <li>
    <%= link_to 'Cloud CS', '/cloudcs' %>
  </li>
  <li>
    <%= link_to 'Cloud Labs', '/cloudlabs' %>
  </li>
  <li>
    <%= link_to 'Features', '/features' %>
  </li>
  <li>
    <%= link_to 'Case studies', 'http://news.codio.com' %>
  </li>
  <li>
    <%= link_to 'Careers', '' %>
  </li>
  <li>
    <%= link_to 'Log in', '/p/login' %>
  </li>
  <li class='highspot'>
    <%= link_to 'Free trial', (defined?(surl) && !surl.nil? ? surl : '/start-edu-trial'), class: 'button' %>
  </li>
  <li>
    <%= link_to 'Join Class', '/p/join-class' %>
  </li>
  <li></li>
</ul>