<ul>
  <li>
    <%= link_to 'New home', '/new-home' %>
  </li>
  <li>
    <%= link_to 'Features', '/features' %>
  </li>
  <li>
    <%= link_to 'Case studies', 'http://news.codio.com' %>
  </li>
  <li>
    <%= link_to 'Log in', '/p/login' %>
  </li>
  <li class='highspot'>
    <%= link_to 'Free trial', (defined?(surl) && !surl.nil? ? surl : '/start-edu-trial'), class: 'button button-rounded-small' %>
  </li>
  <li>
    <%= link_to 'Join Class', '/p/join-class' %>
  </li>
  <li></li>
</ul>