---
title: Features
class_name: features
---

<div class="container">

	<header>
		<div>
			<h2>Just a few highlights of what Codio has to offer...</h2>
		</div>
		<div>
			<h1>Codio is packed full of productivity features!</h1>
		</div>
	</header>

	<section class="first">
		<h2>Command Bar<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>The Command Bar lets you access almost every Codio command with a single keyboard shortcut. You simply type the command you want to run and it autocompletes the list for you. It's a great place to look up keyboard shortcuts without having to explore the menu or documentation.</p>
			<p>The example below shows how a user toggles the line wrapping (which can also be done with a dedicated keyboard shortcut).</p>
		</article>
		<%= image_tag 'features/animated_gifs/command-bar.gif' %>
	</section>

	<section>
		<h2>Quick Open<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Quick Open is a great way of opening files without the need to access the file tree. You can start typing the name of a file and as you type, the list will narrow down. You can then select the file you want using the mouse or use the keyboard.</p>
		</article>
		<%= image_tag 'features/animated_gifs/quick-open.gif' %>
	</section>

	<section>
		<h2>Panels &amp; Tabs<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>You can create any panel configuration you want for both code editing and also other features (such as SSH, Bower, Deployment etc.).</p>
			<p>This gives you complete control over the layout of your project. Whenever you leave you project, the panel configuration is saved and reloaded when you come back to it.</p>
			<p>You can open multiple tabs within a panel. You can drag tabs from one panel to another and you can switch tabs using the keyboard using `Alt+Shift+&gt;` and `Alt+Shift+&lt;`</p>
		</article>
		<%= image_tag 'features/animated_gifs/panels.gif' %>
	</section>

	<section>
		<h2>Abbreviations / Snippets<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>There are a very wide range of shortcuts available for HTML, CSS and Javascript. You simply enter the abbreviation in the Code Editor and then press the Tab key to expand the abbreviation. Take a look at the example below.</p>
		</article>
		<%= image_tag 'features/animated_gifs/abbreviations.gif' %>
	</section>

	<section>
		<h2>Keyboard Shortcuts<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Codio has over 80 actions that can be invoked with a keyboard shortcut. If you are used to Sublime, Vim or Textmate then you won't be disappointed.</p>
		</article>
		<%= image_tag 'features/animated_gifs/key-bindings.gif' %>
	</section>

	<section>
		<h2>Deployment<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>We've got a great way of configuring and managing your deployment targets right in the IDE. We support SFTP, FTP, Rsync, Nodejitsu, Git and Parse. Got any other ideas? Let us know.</p>
		</article>
		<%= image_tag 'features/animated_gifs/deploy.gif' %>
	</section>

	<section>
		<h2>Code Beautification<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Beautify your HTML, CSS and JS code (entire file or selected block) with a single key press. You customize over 20 individual settings to get the exact format you're after.</p>
		</article>
		<%= image_tag 'features/animated_gifs/beautify.gif' %>
	</section>

	<section>
		<h2>Import<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Create new projects from templates or import them from Git, Mercurial, (S)FTP or ZIP files.</p>
		</article>
		<%= image_tag 'features/animated_gifs/import.gif' %>
	</section>

	<section>
		<h2>Preferences<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Codio supports very rich settings and preferences control. You can control account level settings, users general preferences, project level overrides as well as permissions.</p>
			<p>All keybindings can be overridden and there is a wide range of general options and settings available.</p>
		</article>
		<%= image_tag 'features/animated_gifs/preferences.gif' %>
	</section>

	<section>
		<h2>Manage Projects<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>See all your projects in one place. Simply click to load the IDE.</p>
		</article>
		<%= image_tag 'features/animated_gifs/projects.gif' %>
	</section>

	<section>
		<h2>Annotations<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Codio Annotations is a set of features within the Codio IDE that lets you create rich, interactive code samples and documentation for a project in any programming language.</p>
			<p>Users can explore the file tree, blocks of code and even get a guided tour.</p>
		</article>
		<%= image_tag 'features/animated_gifs/annotations.gif' %>
	</section>

	<section>
		<h2>Templates<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>Codio provides a template management system so when you create new files of differeing types, a code stub us automatically inserted into the new file. There various tokens such as date, time, project name etc. Everything is editable and you can add your own.</p>
		</article>
		<%= image_tag 'features/animated_gifs/templates.gif' %>
	</section>

	<section>
		<h2>Syntax Highlighting<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>All files (over 70 types) have automatic syntax highlighting which you can override from the status bar.</p>
		</article>
		<%= image_tag 'features/animated_gifs/syntax.gif' %>
	</section>

	<section class="last">
		<h2>Bower<small><a href="#"><i class="icon-file"></i> read the docs</a></small></h2>
		<article>
			<p>We've integrated Bower into the Codio IDE. You can search for components and install without leaving Codio. You can also update your components with a button press.</p>
		</article>
		<%= image_tag 'features/animated_gifs/bower.gif' %>
	</section>

</div>