---
layout: layout
---
<article class="docs-landing">
  <section class="header">
    <form id="search-input">
      <input type="text" id="st-search-input" class="st-search-input" placeholder="Search"/>
    </form>
    <h1>Documentation</h1>
  </section>
  <section>
    <% ordered(current_resource).each do |resource| %>
      <div class="docs-section">
        <%= sprockets.find_asset("icons/#{resource.data.title.gsub(' ', '-').downcase}-small.svg").to_s %>
        <h2><%= link_to resource.data.title, resource.url %></h2>
        <div class="links">
          <% mid = (resource.children.length / 2.to_f).ceil %>
          <div class="first">
            <% ordered(resource)[0..mid-1].each do |child| %>
              <%=  link_to child.data.title, child.url %>
            <% end %>
          </div>
          <div class="second">
            <% ordered(resource)[mid..-1].each do |child| %>
              <%=  link_to child.data.title, child.url %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</article>

<%= partial "vendors/swiftype" %>
