---
title: Learn to Code | Code Curriculum  | Codio
description: Codio provides course content that is mapped to national curriculum standards. Courses teach how to code in Java, Python, Javascript and the concept of computational thinking.
features_page: curriculum
---

<%= partial "features-subheader" %>

<section class="header-block vertical">
  <div class="title">Easy to onboard<br/>and use with<br/>minimal disruption</div>
</section>

<section class="content-body">
  <div class="video-block">
    <div class="header">
      Author exceptional computer science content and curricula with Codio Guides
    </div>
    <div class="text">
      Codio Guides lets you create anything from simple assignments and assessments to fully
      fledged books with built-in assessment libraries. Allied to our course publishing features
      it lets you teach Computer Science in a way that is not possible by any other means.
    </div>
    <div class="video">
      <div class="h_iframe">
        <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
<iframe src="https://player.vimeo.com/video/214190836" width="640" height="417" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/214190836">Curriculum Authoring</a> from <a href="https://vimeo.com/user20752628">Codio</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
    <%= link_to 'Free 90 Day Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  </div>

  <div class="logos-block">
    <div class="logos">
      <div class="logo">
        <%= image_tag 'assets/index/logos/kent-state-university-logo.png', alt: 'Kent State University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coded-by-kids-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/wright-state-university-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/john-carroll-university-logo.png', alt: 'John Carroll University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coventry-university-logo.png', alt: 'Coventry University', class: 'img-responsive' %>
      </div>
    </div>
    <div class="testimonial">
      <div class="text">
        <a href="http://news.codio.com/codio-used-to-teach-cs-and-non-cs-majors-at-wright-state-university">
          "The VM technology, integrated IDE and class monitoring tools are a killer combination.
          The time savings for students and faculty are huge."
        </a>
      </div>
      <div class="author">
        - Mateen Rizki, Chair of the Department of Computer Science and Engineering,<br/> Wright State University
      </div>
    </div>
  </div>

  <div class="features-block">
    <div class="row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div id="featuresRow" class="features-row">
        <div id="text" class="left-part description wow slideInLeft">
          <div class="header">
            Contents controls the IDE
          </div>
          <div class="text">
            The Guides editor fully controls the IDE. Each page is able to open and close the files
            you need to see for any individual page of content. You can also execute commands, open
            up browser pages and even highlight portions of code.
          </div>
        </div>
        <div class="middle-part">
          <div id="row1" class="vertical-dot-line">
            <div class="top"></div>
            <div class="dot"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div id="img" class="right-part screen wow slideInRight">
          <%= image_tag 'assets/features/curriculum/content-1.png', alt: 'Guides controls IDE', class: 'img-responsive' %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="features-row">
        <div id="img" class="left-part screen wow slideInLeft">
          <%= image_tag 'assets/features/curriculum/std-autograde.jpg', alt: 'Assessment setup', class: 'img-responsive' %>
        </div>
        <div class="middle-part">
          <div id="row2" class="vertical-dot-line">
            <div class="top"></div>
            <div class="dot"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div id="text" class="right-part description wow slideInRight">
          <div class="header">
            Assessments
          </div>
          <div class="text">
            The Guides editor is also where you author the many different types of assessments
            offered by Codio. We support auto-graded coding, multiple choice questions, fill in
            the blank and open ended free text assessment types.
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="features-row">
        <div id="text" class="left-part description wow slideInLeft">
          <div class="header">
            Markdown or HTML
          </div>
          <div class="text">
            You can choose between markdown and HTML authoring for each individual page. Markdown
            is a very fast and easy way to produce beautiful content without the need for any HTML
            unless you require it. HTML pages allow you to control all aspects of styling and embed
            javascript widgets to meet specific requirements.
          </div>
        </div>
        <div class="middle-part">
          <div id="row3" class="vertical-dot-line">
            <div class="top"></div>
            <div class="dot"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div id="img" class="right-part screen wow slideInRight">
          <%= image_tag 'assets/features/curriculum/assessments.jpg', alt: 'Assessment setup', class: 'img-responsive' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="features-row">
        <div id="img" class="left-part screen wow slideInLeft">
          <%= image_tag 'assets/features/curriculum/courses.jpg', alt: 'Teach Anywhere', class: 'img-responsive' %>
        </div>
        <div class="middle-part">
          <div id="row4" class="vertical-dot-line">
            <div class="top"></div>
            <div class="dot"></div>
            <div class="bottom"></div>
          </div>
        </div>
        <div id="text" class="right-part description wow slideInRight">
          <div class="header">
            Courses
          </div>
          <div class="text">
            Codio allows you to publish your curriculum content to courses, which can be browsed
            and pulled off the shelf. You can also assign parts of a course to your class as you teach.
            Courses are structured into a hierarchy of modules and units that map to lessons and lectures.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
