---
title: Learn to Code | Code Curriculum  | Codio
description: Codio provides course content that is mapped to national curriculum standards. Courses teach how to code in Java, Python, Javascript and the concept of computational thinking.
fixed: true
---

<section class="header-block">
  <h1>Curriculum-Maped Courses</h1>
  <h2>Codio is built for students. Learning to code isn't just a paassing trend. It's an essential skill...</h2>
  <div class="action-buttons animated fadeInUp">
    <%= link_to 'Start FREE Trial', '/p/free-education-trial', class: 'button button-xlarge button-main' %>
    <%= link_to 'Book a Demo', '/demo', class: 'button button-xlarge button-main button-demo' %>
  </div>
  <div class="clear">
  </div>
</section>

<section class="curriculum-body">
  <div class='section top'>
    <h1 class="">
      Courses mapped to leading National Curricula
    </h1>
    <p>
      Access to our 80+ course units comes as a standart with any Codio license. We are constantly
      working with the UK's national exam board, <a href="#">Oxford, Cambridge and RSA</a> (OCR)
      to ensure our content is mapped to national curriculum standards. For further details, please
      see our curriculum map for the GSCE J276 specification. We are now in the process of mapping
      our curriculum to the  K12cs.org framework for USA K-12 schools.
    </p>
  </div>

  <div class="grey">
    <div class="curriculum-img">
      <%= image_tag "assets/features/curriculum/courses_mapped.png", class: "curriculum-content-img" %>
    </div>
  </div>

  <div class='section top'>
    <h1 class="">
      Auto-marked tests with all Courses
    </h1>
    <p>
      All Codio courses come with tests integrated into the content so students have an interactive
      and engaging learning experience. All our tests are graded automatically so students get
      instant feedback.
    </p>
  </div>

  <div class="action-buttons animated fadeInUp">
    <%= link_to 'Start free trial', '/p/free-education-trial', class: 'button button-xlarge button-main' %>
  </div>

  <hr/>

  <div class="curriculum-faq">

    <div class="curriculum-faq-col curriculum-faq-col-left">
      <div class="curriculum-faq-entry">
        <h3>Computational Thinking - Create a maze game</h3>
        <p>
          The cource teaches the fundamental concepts of computational thinking.
        </p>
      </div>
      <div class="curriculum-faq-entry">
        <h3>Flode - Flowcharting</h3>
        <p>
          A unit under Introduction to Programming, Flode teaches foundation programming concepts
          using executable and debuggable flow charts.
        </p>
      </div>
      <div class="pricing-faq-entry">
        <h3>Introduction to Web Development</h3>
        <p>
          The course teaches the critical skills of HTML and CSS. It also uses Javascript
          to teach the basic of web sites and web applications.
        </p>
      </div>
      <div class="curriculum-faq-entry">
        <h3>OCR's Cambridge MOOC</h3>
        <p>
          Created by OCR, the course covers all the basic topics students need to know
          to get started. The tutorial contains content, videos and auto-marked tests.
        </p>
      </div>
    </div>
    <div class="curriculum-faq-col curriculum-faq-col-right">
      <div class="curriculum-faq-entry">
        <h3>An Intropduction to Programming</h3>
        <p>
          Introduces the basic concepts of programming as well as Javascript, Python and Java.
        </p>
      </div>
      <div class="curriculum-faq-entry">
        <h3>Crunch</h3>
        <p>
          Crunch is a modern and very easy to use alternative to Little Man Computer.
          It comes with a debugger and visualization feature that teaches the fetch/execute
          cycle and shows how CPUs work.
        </p>
      </div>
      <div class="curriculum-faq-entry">
        <h3>Linux Command Line Interface</h3>
        <p>
          This course teaches students how to access the terminal and access the Linux command line interface;
        </p>
      </div>
      <div class="curriculum-faq-entry">
        <h3>MySQL</h3>
        <p>
          The course introduces basic and advance topics relating to accessing of databaes through code.
          It is a good course to challenge for students interested in web applications.
        </p>
      </div>
    </div>
  </div>

  <hr/>

  <div class="section">
    <div class="bubble-container">
      <div class="bubble-section quote">
        <div class="section-block bubble">
          <div class="left-quote">
            &ldquo;
          </div>
          <div class="section-block-copy vertical">
            Students who had lost confidence and had been "pulling their hair out" because they "could not get"
            Little Man Computer, loved CRUNCH from Codio. They got the concepts, so thank you.
          </div>
          <div class="right-quote">
            &rdquo;
          </div>
        </div>
        <div class="teacher">
          <div class="profile">
            <%= image_tag 'assets/features/curriculum/white-beard-man.png', class: 'profile-img' %>
          </div>
          <div class="copy">
            <h4>Peter Kelly</h4>
            <p>
              Head of Computing and Business,<br/>
              Norton College<br/>
              UK
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= partial "features-call-to-action" %>

</section>