---
title: "Teaching code | Codio advantages"
description: "Codio is the ideal platform to teach computer science to your students."
fixed: true
---
<% @signupUrl = "/p/free-education-trial" %>

<section class='header-block'>
  <h1 class="animated fadeIn">
    Helping you to teach <span>computer science</span>
  </h1>
  <h2>
    In addition to the significant cost savings, Codio has a range of other
    advantages that make it the ideal platform to teach computer science to
    your students.
  </h2>
  <div class="benefits">
    <div class="column-benefit">
      <div class="ide"></div>
      <div class="title">Online IDE</div>
      <div class="text">Save time with an <a href="/features/ide">online IDE</a> to teach Java, Python, C++, C or any language.
        Provide a consistent environment for your students. No hassle and no compromises on functionality. For beginners to experts.
      </div>
    </div>
    <div class="column-benefit">
      <div class="templates"></div>
      <div class="title">Project Templates</div>
      <div class="text">The fast and simple way to create new computer science teaching projects, and adapt
        existing ones. Use our pre-configured stacks or <a href="features/templates">create your own</a>.
      </div>
    </div>
    <div class="column-benefit">
      <div class="management"></div>
      <div class="title">Integrated Education Features</div>
      <div class="text">Codio is designed to make learning a smooth process. Track student progress,
        <a href="/docs/content/authoring/assessments/">auto-graded assessments</a>,
        <a href="/blog/codio-launches-plagiarism-feature-to-detect-cheating-in-programming-classes/">plagiarism checker</a>
        and <a href="/blog/codio-releases-integration-with-lms-platforms/">connect Codio to your institution’s Moodle, Blackboard or Canvas</a>
        to save you time!.
      </div>
    </div>
    <div class="column-benefit">
      <div class="curriculum"></div>
      <div class="title">Your Curriculum or Ours?</div>
      <div class="text">Enhanced learning experience with instructional content that controls the IDE. Either use one
        of our <a href="/docs/content/courses/">80+ course units</a> to teach Python or Java.
        Or <a href="/docs/content/authoring/">author your own content</a> to teach advanced subjects like Data Science.
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="action-button">
    <%= link_to 'Pricing', '/pricing', class: 'button button-large pricing-button' %>
    <%= link_to 'Get started', '', class: 'button button-large button-main' %>
  </div>
</section>

<section class="features-body">

  <div class="section first">
    <div class="section-body">
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header infrastructure">
            Infrastructure <span>as a service</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Cloud based, Codio is low on hardware requirements and big on
              savings, reliability and flexibility.
            </p>
            <%= link_to 'Learn more', '/features/infrastructure', class: 'button button-large learn-more' %>
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header ide">
            Web-based <span>IDE</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Less hassle than installing an IDE on your network or desktop, with
              no compromises on functionality.
            </p>
            <%= link_to 'Learn more', '/features/ide', class: 'button button-large learn-more' %>
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header templates">
            Project <span>templates</span>
          </h3>
          <div class="section-block-copy">
            <p>
              The fast and simple way to create new computer science teaching
              projects, and adapt existing ones. You can use our pre-configured stacks or create your own.
            </p>
            <%= link_to 'Learn more', '/features/templates', class: 'button button-large learn-more' %>
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header management">
            Learning <span>management</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Manage your computer science classes from the Codio dashboard.
              Watch your students progress through a course.  Assessments are
              auto-marked, so you save time.
            </p>
            <%= link_to 'Learn more', '/features/management', class: 'button button-large learn-more' %>
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header authoring">
            Content <span>authoring</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Create your own course content either by uploading your class
              notes or creating interactive content directly within the IDE.
            </p>
            <%= link_to 'Learn more', '/features/content-authoring', class: 'button button-large learn-more' %>
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header curriculum">
            Curriculum <span>content</span>
          </h3>
          <div class="section-block-copy">
            <p>
              We’ve co-developed over 50 courses with Oxford, Cambridge and RSA
              (OCR) — all mapped to the UK Computer Science national curriculum.
            </p>
            <%= link_to 'Learn more', '/features/curriculum', class: 'button button-large learn-more' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section footer">
      <h3>
        Learn more about the advantages of codio
      </h3>
      <div class="learn-buttons">
        <%= link_to 'Schools', '/school', class: 'button button-main button-large' %>
        <%= link_to 'Universties', '/university', class: 'button button-main button-large' %>
      </div>
    </div>
  </div>

</section>
