<h2>Features</h2>

<ul>
  <li>
    <%= link_to 'Infrastructure as a service', '/features/infrastructure' %>
  </li>
  <li>
    <%= link_to 'Web-based IDE', '/features/ide' %>
  </li>
  <li>
    <%= link_to 'Project templates', '/features/templates' %>
  </li>
  <li>
    <%= link_to 'Learning management', '/features/management' %>
  </li>
  <li>
    <%= link_to 'Content authoring', '/features/content-authoring' %>
  </li>
</ul>
