---
title: "Teaching code | Codio advantages"
description: "Codio is the ideal platform to teach computer science to your students."
fixed: true
---
<% @signupUrl = "/start-edu-trial" %>

<section class="header-block">
  <h1 class="animated fadeIn">
    Easy to onboard and use with minimal disruption
  </h1>
  <h2>
    Codio's platform is built for computer science education to provide an accessible
    and flexible system for students to learn how to code. It also reduces admin time,
    streamlines grading and assessments and scales with demand. It's perfect to use from
    complete beginners to University courses for both CS and non-CS majors.
  </h2>

  <div class="block-center">
    <div class="image-center">
      <img src="/img/assets/features/index/codio_universities_illustrations.png" alt="Codio for universities" />
    </div>
  </div>
  <div class="clear"></div>
  <div class="action-button animated">
    <%= link_to 'Pricing', '/pricing', class: 'button button-large blue-button' %>
    <span><div class="separator"></div></span>
    <a href="#modalDialog" data-toggle="modal" class="button button-large button-main">Get Started</a>
  </div>
  <div class="clear"></div>
</section>

<div class="clear"></div>
<hr/>

<section class="features-body">
  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Online IDE for Education</h3>
      <p class="info">Every student gets a full featured IDE that includes debugger,
        dyslexic font and more. Perfect for complete beginners to university students.
        Accessible for CS majors and non-CS majors. You can use it in the classroom,
        at home, for an online course or a large scaled MOOC.  Save time with an online IDE
        to teach Java, Python, C++, C and more.
      </p>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/individuals.svg" alt="Online IDE for Education" />
    </div>
  </div>

  <div class="clear"></div>

  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Infrastructure as a Service</h3>
      <p class="info">Codio provides the entire infrastructure you need to get started.
        No more late nights in the IT lab setting-up at the last minute. It has a unique
        containerized server infrastructure that makes Codio able to scale with demand
        and very affordable. Unlimited Ubuntu servers in the cloud for everyone.
      </p>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/codio_infrastructure_as_a_service.svg" alt="Infrastructure as a Service" />
    </div>
  </div>

  <div class="clear"></div>

  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Project Templates</h3>
      <p class="info">Codio's templates deliver fully preconfigured servers in less
        than 5 seconds, no matter how complex the configuration. Codio comes with a number
        of stacks pre-loaded. Stacks are simply Codio boxes that have the base software
        components installed and are fully configured. You simply take a snapshot of the
        box contents to save it as a stack. With one click, it's ready for your students
        to use. This template approach makes Codio easy to use, configure and adapt.
      </p>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/project_templates.svg" alt="Project Templates" />
    </div>
  </div>

  <div class="clear"></div>

  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Auto-graded Assessments</h3>
      <p class="info">Less hassle for you. Students get instant feedback. Perfect for flipped-learning.
      </p>
      <div class="action-button animated">
        <%= link_to 'Learn More', '/docs/content/authoring/assessments/', class: 'button button-large blue-button' %>
      </div>
      <h4 class="quote-title">David Croft, Lecturer, Coventry University says:</h4>
      <div class="speech-purple"></div>
      <div class="quote-text">"Having the instant formative feedback is really useful. And that’s where Codio comes in handy.
        They click check it in Codio and it goes and tests that their code meets the specifications. It sorts correctly, it
        searches correctly. It has the error handling and features that we are expecting. It doesn’t have memory leaks."
      </div>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/assessments_system.svg" alt="Auto-graded Assessments" />
    </div>
  </div>

  <div class="clear"></div>

  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Content Authoring</h3>
      <p class="info">Create your own course content either by uploading your class
        notes or creating interactive content directly within the IDE.
      </p>
      <div class="action-button animated">
        <%= link_to 'Learn More', '/features/content-authoring/', class: 'button button-large blue-button' %>
      </div>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/content_authoring_tools.svg" alt="Content Authoring" />
    </div>
  </div>

  <div class="clear"></div>

  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Integration with your LMS</h3>
      <p class="info">We save you time by integrating with your institution’s LMS system.
        Moodle, Blackboard, Canvas or any LTI compliant system will work with Codio.
        We have a seamless system for you and your students.
      </p>
      <div class="action-button animated">
        <%= link_to 'Learn More', 'blog/codio-releases-integration-with-lms-platforms/', class: 'button button-large blue-button' %>
      </div>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/logos.svg" alt="Integration with your LMS" />
    </div>
  </div>

  <div class="clear"></div>

  <div class="block-quote">
    <div class="text-part">
      <h3 class="title">Curriculum</h3>
      <p class="info">We’ve co-developed over 120+ courses. We collaborate with Oxford,
        Cambridge and RSA (OCR) and the Computer Science Teachers Association (CSTA)
        to ensure we provide curriculum mapped to both UK and USA national standards.
      </p>
      <div class="action-button animated">
        <%= link_to 'Learn More', '/features/curriculum/', class: 'button button-large blue-button' %>
      </div>
    </div>
    <div class="image-part">
      <img src="/img/assets/features/index/curriculum_mapped.png" alt="Curriculum" />
    </div>
  </div>

  <div class="clear"></div>
  <hr/>

  <div class="block-rss">
    <h3 class="title">Latest news from Codio</h3>
  </div>
</section>

<div class="modal fade" id="modalDialog" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="header">Get Started</h2>
      </div>
      <div class="modal-body">
        <div class="action-button animated step-1">
          <a id="schoolsBtn" class="button button-large blue-button">Schools</a>
          <div class="separator">or</div>
          <a href="/university" data-toggle="modal" class="button button-large button-main">Universities</a>
        </div>

        <div class="action-button step-2">
          <a id="backBtn" class="back">&lt; Back</a>
          <%= link_to 'Start Free Trial', '/start-edu-trial', class: 'button button-large blue-button' %>
          <div class="separator">or</div>
          <div class="dropdown">
            <a href="" class="button button-large button-main" data-toggle="dropdown">
              Attend a Webinar
              <span class="carret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://attendee.gotowebinar.com/rt/701433821333789698" class="">North America</a></li>
              <li class="divider"></li>
              <li><a href="https://attendee.gotowebinar.com/rt/3941926581006800900?splash=false" class="">Europe and Asia</a></li>
              <li class="divider"></li>
              <li><a href="https://attendee.gotowebinar.com/rt/701433821333789698" class="">CSTA</a></li>
              <li class="divider"></li>
              <li><a href="https://attendee.gotowebinar.com/rt/1909014245387843332" class="">CAS</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
