---
title: "Teaching code | Codio advantages"
description: "Codio is the ideal platform to teach computer science to your students."
fixed: true
---
<% @signupUrl = "/p/free-education-trial" %>

<section class='header-block'>
  <h1 class="animated fadeIn">
    Helping you to teach <span>computer science</span>
  </h1>
  <h2>
    In addition to the significant cost savings, Codio has a range of other
    advantages that make it the ideal platform to teach computer science to
    your students.
  </h2>
  <div class="highlighted">
    <h2>
      New! Plagiarism Checker for Students' Code
    </h2>
  </div>
  <div class="action-button">
    <%= link_to 'Learn more',
    'http://email.codio.com/plagiarism-detection-for-source-code/',
    class: 'button button-large button-main' %>
  </div>
</section>

<section class="features-body">

  <div class="section first">
    <div class="section-body">
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header infrastructure">
            Infrastructure <span>as a service</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Cloud based, Codio is low on hardware requirements and big on
              savings, reliability and flexibility.
            </p>
            <%= link_to 'Learn more', '/features/infrastructure', class: 'button button-large learn-more' %>
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header ide">
            Web-based <span>IDE</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Less hassle than installing an IDE on your network or desktop, with
              no compromises on functionality.
            </p>
            <%= link_to 'Learn more', '/features/ide', class: 'button button-large learn-more' %>
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header templates">
            Project <span>templates</span>
          </h3>
          <div class="section-block-copy">
            <p>
              The fast and simple way to create new computer science teaching
              projects, and adapt existing ones. You can use our pre-configured stacks or create your own.
            </p>
            <%= link_to 'Learn more', '/features/templates', class: 'button button-large learn-more' %>
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header management">
            Learning <span>management</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Manage your computer science classes from the Codio dashboard.
              Watch your students progress through a course.  Assessments are
              auto-marked, so you save time.
            </p>
            <%= link_to 'Learn more', '/features/management', class: 'button button-large learn-more' %>
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header authoring">
            Content <span>authoring</span>
          </h3>
          <div class="section-block-copy">
            <p>
              Create your own course content either by uploading your class
              notes or creating interactive content directly within the IDE.
            </p>
            <%= link_to 'Learn more', '/features/content-authoring', class: 'button button-large learn-more' %>
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header curriculum">
            Curriculum <span>content</span>
          </h3>
          <div class="section-block-copy">
            <p>
              We’ve co-developed over 50 courses with Oxford, Cambridge and RSA
              (OCR) — all mapped to the UK Computer Science national curriculum.
            </p>
            <%= link_to 'Learn more', '/features/curriculum', class: 'button button-large learn-more' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section footer">
      <h3>
        Learn more about the advantages of codio
      </h3>
      <div class="learn-buttons">
        <%= link_to 'Schools', '/school', class: 'button button-main button-large' %>
        <%= link_to 'Universties', '/university', class: 'button button-main button-large' %>
      </div>
    </div>
  </div>

</section>
