---
title: "Infrastructure as a service"
---
<% @pricingType = "university" %>
<% @signupUrl = "/p/free-education-trial" %>

<section class="infrastructure-body">

  <section class='section top'>
    <h1 class="">
      Infrastructure as a service
    </h1>
    <p>
      Cloud computing isn’t just a passing trend. It’s the approach many
      forward thinking organisations now take with their technology. Why?
      Because Codio helps manage issues like access, availability, scalability
      and disaster recovery.
    </p>
    <div class="action-buttons animated fadeInUp">
      <%= link_to 'Free 30 day trial', '/p/free-education-trial', class: 'button button-xlarge button-main' %>
    </div>
    <p>
      With Codio there’s no new infrastructure needed or software to install.
      It’s easy to use, scalable and designed for teaching code.
    </p>
  </section>

  <div class="grey">
    <div class="section showcase">
      <div class="section-body">
        <%= inline_svg "assets/features/infrastructure/infrastructure.svg", class: "" %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-body">
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header software">
            No software to install
          </h3>
          <div class="section-block-copy">
            No complicated setup or configuration, and no time-consuming
            software updates. You simply log in and get started.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header code">
            Code Anywhere
          </h3>
          <div class="section-block-copy">
            You don’t need to be in a classroom or at a specific location to
            use Codio. Get access anywhere — in the lab, at work, on the move,
            at school or at home.
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header resource">
            Dynamic resource allocation
          </h3>
          <div class="section-block-copy">
            A high volume of users isn’t a problem with Codio. Containerisation
            technology smooths CPU and RAM usage across all users, optimising
            performance for boxes that are in use.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header servers">
            Unlimited servers
          </h3>
          <div class="section-block-copy">
            Need to scale up, or down? Easy. Codio containerisation technology
            packs hundreds of user servers onto a single physical server.
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header sudo">
            Sudo access
          </h3>
          <div class="section-block-copy">
            There are no barriers for your students or team members with Codio.
            They can install and configure any programming language, database
            or software component.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header conflicts">
            No user conflicts
          </h3>
          <div class="section-block-copy">
            Each student project gets its own fully isolated server, so there
            is no risk of stack or version conflicts.
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">

        </div>
        <div class="section-block">
          <h3 class="section-block-header always">
            'Always-on' boxes
          </h3>
          <div class="section-block-copy">
            You can select to leave your box on. This feature enables you to
            build and test cloud based services.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grey-top">
    <div class="section quote">
      <div class="section-block">
        <div class="left-quote">
          &ldquo;
        </div>
        <div class="section-block-copy">
          Codio just makes the whole process simple. And that’s something all
          teachers are looking for.
        </div>
        <div class="right-quote">
          &rdquo;
        </div>
      </div>
      <div class="teacher">
        <div class="profile">
          <%= inline_svg "assets/features/quotes/man-young-black.svg", class: "" %>
        </div>
        <div class="copy">
          <h4>Thomas Smith</h4>
          <p>
            Head of Computing <br />
            Head of Computing <br />
            Caistor Grammar School <br />
            Lincolnshire, UK
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section footer">
      <h3>
        Learn more about the advantages of codio
      </h3>
      <div class="learn-buttons">
        <%= link_to 'Schools', '/school', class: 'button button-large' %>
        <%= link_to 'Universties', '/university', class: 'button button-large' %>
      </div>
    </div>
  </div>
</section>
