---
title: "Infrastructure as a service | Teaching code | Codio"
description: "With Codio there’s no software to install and no hardware investment needed."
features_page: infrastructure
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class="header-block">
  <div class="title vertical">
    Easy to onboard and use with<br/>minimal disruption
  </div>
</section>

<%= partial "features-subheader" %>

<section class="content-body">
  <div class="video-block">
    <div class="header">
      A fully featured professional grade IDE connected to every cloud server
    </div>
    <div class="text">
      Connected to every cloud VM, Codio's online IDE offers all the tools and features
      you would expect from leading desktop IDEs, including the ability to run GUI
      applications. Hide or reveal complexity depending on your students' learning stage.
    </div>
    <div class="video">
      <div class="h_iframe">
        <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
        <iframe src="https://www.youtube.com/embed/tLM0l6mneQE"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>
    </div>
    <%= link_to 'Free 30 Day Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  </div>

  <div class="logos-block">
    <div class="logos">
      <div class="logo">
        <%= image_tag 'assets/index/logos/kent-state-university-logo.png', alt: 'Kent State University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coded-by-kids-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/wright-state-university-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/john-carroll-university-logo.png', alt: 'John Carroll University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coventry-university-logo.png', alt: 'Coventry University', class: 'img-responsive' %>
      </div>
    </div>
    <div class="testimonial">
      <div class="text">
        <a href="news.codio.com/codio-used-to-teach-cs-and-non-cs-majors-at-wright-state-university">
          "The VM technology, integrated IDE and class monitoring tools are a killer combination.
          The time savings for students and faculty are huge."
        </a>
      </div>
      <div class="author">
        - Mateen Rizki, Chair of the Department of Computer Science and Engineering,<br/> Wright State University
      </div>
    </div>
  </div>

  <div class="features-block">
    <div id="featuresRow" class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          Install and teach anything
        </div>
        <div class="text">
          Our IDE gives you command line access to the Ubuntu box. Codio's infrastructure
          supports anything that you choose to install and configure from the command line.
          Codio boxes have sudo level privileges so you and your students can custom configure
          your environment.
        </div>
      </div>
      <div class="middle-part">
        <div id="row1" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/ide/install-and-teach-anything.jpg', alt: 'Install and Teach Anything', class: 'img-responsive' %>
      </div>
    </div>
    
    <div class="features-row">
      <div class="left-part screen wow slideInLeft">
        <%= image_tag 'assets/features/ide/teach-anywhere.jpg', alt: 'Teach Anywhere', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow slideInRight">
        <div class="header">
          Teach anywhere
        </div>
        <div class="text">
          The student policy of 'Bring Your Own Device' (BYOD) is today's reality. Therefore, Codio
          allows you to reduce your computer lab costs by providing a cloud-based IDE accessible
          from the classroom or from home. Students just need a web browser to use the Codio IDE.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          Virtual Desktop
        </div>
        <div class="text">
          Even though all Codio boxes are running in the Cloud, the Codio virtual desktop lets
          anyone develop GUI based applications. Whether Swing, JavaFX, tkinter, OpenGL or anything
          else, they all run beautifully within your browser.
        </div>
      </div>
      <div class="middle-part">
        <div id="row3" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/ide/virtual-desktop.jpg', alt: 'Install and Teach Anything', class: 'img-responsive' %>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow slideInLeft">
        <%= image_tag 'assets/features/ide/integrated-debugger.jpg', alt: 'Teach Anywhere', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row4" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow slideInRight">
        <div class="header">
          Integrated Debugger
        </div>
        <div class="text">
          The Codio IDE has a superb debugger that runs in the browser. It supports Java, Python,
          C, C++, NodeJS. You will find all the features you would expect including gutter based
          breakpoint, automatic watching of local variables, manual variable watches, call stack,
          step over, step out and more.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          Advanced Features
        </div>
        <div class="text">
          Codio is designed for experts and enables teaching complex topics such us Data Science
          or Graphics. For full details, review our <a href="#">technical specifications</a>.
          <ul>
            <li>Syntax highlighting for all languages</li>
            <li>Extensive keyboard shortcuts</li>
            <li>Code complete</li>
            <li>Multiple code panels</li>
            <li>Display themes</li>
            <li>Code beautification</li>
            <li>Emmet support</li>
            <li>One click software installation</li>
            <li>Custom configurable menus</li>
          </ul>
        </div>
      </div>
      <div class="middle-part">
        <div id="row5" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/ide/advanced-features.jpg', alt: 'Install and Teach Anything', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
