---
title: "LMS Integration"
description:
features_page: lms
---

<%= partial "features-subheader" %>

<section class="content-body">
  <div class="video-block">
    <div class="header">
      Use our extensive LMS features or integrate with Canvas, Blackboard and many other LMS platforms
    </div>
    <div class="text">
      Classroom dashboards let you monitor student progress. You can also instantly access
      student code. Our automated and manual grading of assessments feed data directly to your dashbaord.
    </div>
    <div class="video">
      <div class="h_iframe">
        <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
          <iframe src="https://player.vimeo.com/video/214174992" width="640" height="417" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/214174992">LMS Features</a> from <a href="https://vimeo.com/user20752628">Codio</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
    <%= link_to 'Free 30 Day Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  </div>

  <div class="logos-block">
    <div class="logos">
      <div class="logo">
        <%= image_tag 'assets/index/logos/kent-state-university-logo.png', alt: 'Kent State University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coded-by-kids-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/wright-state-university-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/john-carroll-university-logo.png', alt: 'John Carroll University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coventry-university-logo.png', alt: 'Coventry University', class: 'img-responsive' %>
      </div>
    </div>
    <div class="testimonial">
      <div class="text">
        <a href="news.codio.com/codio-used-to-teach-cs-and-non-cs-majors-at-wright-state-university">
          "The VM technology, integrated IDE and class monitoring tools are a killer combination.
          The time savings for students and faculty are huge."
        </a>
      </div>
      <div class="author">
        - Mateen Rizki, Chair of the Department of Computer Science and Engineering,<br/> Wright State University
      </div>
    </div>
  </div>

  <div class="features-block">
    <div id="featuresRow" class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          LMS platform support
        </div>
        <div class="text">
          If you want to deliver your course from Canvas, Blackboard and many other LMS platforms
          then configuration is easy. Our integration handles Codio account creation, single sign
          on and the passing back of Codio grades to the LMS gradebook.
        </div>
      </div>
      <div class="middle-part">
        <div id="row1" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/lms/lti.jpg', alt: 'LMS LTI settings', class: 'img-responsive' %>
      </div>
    </div>
    
    <div class="features-row">
      <div class="left-part screen wow slideInLeft">
        <%= image_tag 'assets/features/lms/classes.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow slideInRight">
        <div class="header">
          Class management
        </div>
        <div class="text">
          Class creation is simple. You can add coding assignments to your class in seconds.
          Adding students is straightforward using either your LMS or invitation urls, so no
          need to perform messy CSV file uploads.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          Coding assignments
        </div>
        <div class="text">
          You have carefully configured a coding assignment on a Codio box with the right
          programming language, database and other components. You now want to get it to all
          200 students. Just add the project to the class and immediately all of your students
          will have their own individual clone and they can start coding. And whenever you need
          to access their Codio box to review their work, it's a one click operation.
        </div>
      </div>
      <div class="middle-part">
        <div id="row3" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/lms/add-project.jpg', alt: 'Add project to class', class: 'img-responsive' %>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow slideInLeft">
        <%= image_tag 'assets/features/lms/add-students.jpg', alt: 'Add students', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row4" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow slideInRight">
        <div class="header">
          Adding students
        </div>
        <div class="text">
          Adding students can be done in one of two ways. If you are using an LMS platform then
          it will automatically add students to the class. Otherwise, each class has its own unique
          invitation URL that you can post anywhere. When students click on it, an account is created
          if they are a new user, and then they're added to the class.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          Dashboard
        </div>
        <div class="text">
          The teacher dashboard gives you an instant snapshot of class progress. All auto graded
          assessments are shown and you can also manually grade. There are many levels of drill down,
          right down to seeng student results for individual assessments.
        </div>
      </div>
      <div class="middle-part">
        <div id="row5" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/lms/dashboard.jpg', alt: 'dashboard', class: 'img-responsive' %>
      </div>
    </div>
    
    <div class="features-row">
      <div class="left-part screen wow slideInLeft">
        <%= image_tag 'assets/features/lms/plagiarism.jpg', alt: 'Plagiarism detection', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row4" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow slideInRight">
        <div class="header">
          Plagiarism detection
        </div>
        <div class="text">
          Codio incorporates a plagiarism detection capability that was specially developed at
          Princeton University to ensure the best possible results for student programming
          assignments after experiences with other engines were shown to be less than ideal.
          Detection is launched across all students with a single click. No need to painstakingly
          aggregate and upload code. 
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          More features
        </div>
        <div class="text">
          Codio offers many other Learning Management features. Auto grading triggered
          automatically when a student completes a project. The amount of time spent in
          assignments is recorded and displayed in the teacher dashboard. Pin an assignment
          to the student dashboard for ease of location. Specify assignment start and stop date
          and time for controlled assessments. Specify larger specification servers for
          assignments with higher memory requirements.
        </div>
      </div>
      <div class="middle-part">
        <div id="row5" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/lms/other.jpg', alt: 'Other LMS features', class: 'img-responsive' %>
      </div>
    </div>    
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
