---
title: "Templates | Teaching code | Codio"
description: "Codio’s templates make it easy to create your own projects, or use our pre-configured courses."
features_page: templates
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<%= partial "features-subheader" %>

<section class="content-body">
  <div class="video-block">
    <div class="header">
      Launch a fully preconfigured coding environment in seconds.
    </div>
    <div class="text">
      Imagine being able to quickly create all the software configurations you need and
      then create a templated snapshot. And then simply pull them off the shelf for you or
      your students when you need them. Codio’s Stacks and Starter Packs let you do just this. 
    </div>
    <div class="video">
      <div class="h_iframe">
        <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
        <iframe src="https://www.youtube.com/embed/tLM0l6mneQE"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>
    </div>
    <%= link_to 'Free 30 Day Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  </div>

  <div class="logos-block">
    <div class="logos">
      <div class="logo">
        <%= image_tag 'assets/index/logos/kent-state-university-logo.png', alt: 'Kent State University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coded-by-kids-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/wright-state-university-logo.png', alt: 'Coded by Kids', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/john-carroll-university-logo.png', alt: 'John Carroll University', class: 'img-responsive' %>
      </div>
      <div class="logo">
        <%= image_tag 'assets/index/logos/coventry-university-logo.png', alt: 'Coventry University', class: 'img-responsive' %>
      </div>
    </div>
    <div class="testimonial">
      <div class="text">
        <a href="news.codio.com/codio-used-to-teach-cs-and-non-cs-majors-at-wright-state-university">
          "The VM technology, integrated IDE and class monitoring tools are a killer combination.
          The time savings for students and faculty are huge."
        </a>
      </div>
      <div class="author">
        - Mateen Rizki, Chair of the Department of Computer Science and Engineering,<br/> Wright State University
      </div>
    </div>
  </div>

  <div class="features-block">
    <div id="featuresRow" class="features-row">
      <div class="left-part description wow slideInLeft">
        <div class="header">
          Stacks
        </div>
        <div class="text">
          Stack templates are server snapshots of the underlying software configuration.
          You might have Python with the modules you require along with a SQL or Mongo database.
          Or perhaps you regularly teach Java 8 with Junit and JavaFX. Or if you’re teaching a full
          stack web development course you might want a the Mean or LAMP/LEMP stack.
          No matter what underlying stack you’ve configured, once it’s added to your template library,
          you will will be able to go from nowhere to an up-and-running project in seconds.
        </div>
      </div>
      <div class="middle-part">
        <div id="row1" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part screen wow slideInRight">
        <%= image_tag 'assets/features/templates/stacks.jpg', alt: 'Stacks', class: 'img-responsive' %>
      </div>
    </div>
    
    <div class="features-row">
      <div class="left-part screen wow slideInLeft">
        <%= image_tag 'assets/features/templates/packs.jpg', alt: 'Starter packs', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow slideInRight">
        <div class="header">
          Starter Packs
        </div>
        <div class="text">
          A starter pack allows you to combine a Stack template with some workspace code
          that delivers a ready-to-go starting point for you and your students. This will
          save you huge amounts of time getting large classes of students set up so you can
          start teaching them rather than acting as support staff and wasting precious teaching time.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Start Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
</section>
