---
title: We are Codio
description: Codio is an online IDE with integrated education features. It contains a professional grade IDE, teaching monitoring tools, plagiarism detection, auto-graded assessments, curriculum, content authoring and much more.
fixed: true
---

<div class="header-block">
  <div class="header-container">
    <h2>
      We build with <em>heart and passion</em><br/>
      Meet <em>Team Codio</em>
    </h2>
  </div>
</div>

<div class="team-section">
  <div class="member">
    <%= image_tag "about/phillip.jpg", alt: "Phillip Snalune, CEO & Co-founder" %>
    <h2>Phillip Snalune</h2>
    <h4>CEO & Co-founder</h4>
    <hr />
    <div class="description">
      <p>
        Phillip is concerned with Codio creating a teaching and learning experience that users will find indispensable.
        He sees the connections between the user experience, our proposition and the marketing & selling of Codio to schools, universities and partners.
        Downtime is mainly family, triathlon, rugby, piano or food related.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/freddy.jpg", alt: "Freddy May, CPO & Founder" %>
    <h2>Freddy May</h2>
    <h4>CPO & Founder</h4>
    <hr />
    <div class="description">
      <p>
        Freddy has a vision to help teach the world to code. As Codio's founder, he believes it's possible to create a
        teaching & learning experience for students that reflects both a professional grade IDE & an experience that inspires learning &
        creativity. Classical piano, cricket and family are Freddy's other passions.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/maxim.jpg", alt: "Maxim Kraev, Software Architect" %>
    <h2>Maxim Kraev</h2>
    <h4>Software Architect</h4>
    <hr />
    <div class="description">
      <p>
        Max is lead developer and architect. He always has a point of view and can always find a workable
        solution. Max studied information security and cryptography and ensures Codio is a safe place for your code.
        For happiness Max only needs a good system architecture, downtime with his daughter and time to ride his motorbike.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/jennifer.jpg", alt: "Jennifer Bilec-Sullivan, Head of Marketing" %>
    <h2>Jennifer Bilec-Sullivan</h2>
    <h4>Head of Marketing</h4>
    <hr />
    <div class="description">
      <p>Jennifer is the communications guru at Codio. She's worked in a variety of fields from electronics to non-profits.
        She sees first hand the importance of computational thinking and coding as a 21st century skill from millennials
        to senior coders.  She loves how technology can empower social causes and believes in the open source movement.
        She's either on her laptop, BBQ'ing, hanging out with family, BBQ'ing (again!), at the gym or working on the next "fixer-upper" project.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/svitlana.jpg", alt: "Svitlana Yarmolchuk, General Manager, UK" %>
    <h2>Svitlana Yarmolchuk</h2>
    <h4>General Manager, UK</h4>
    <hr />
    <div class="description">
      <p>
        Svitlana is very excited about joining the Codio team. Her career choice and personal passion is working with technology in education and has
        pursued this goal for the last eight years. She looks forward to bringing her experience gained at Apple, Cisco and Rosetta Stone to make Codio a great success.
        She shares Isaac Asimov’s conviction that self-education is the only kind of education there is and feels great to be part of the company that makes it possible.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/oliver.jpg", alt: "Oliver Godfrey, Finance Director" %>
    <h2>Oliver Godfrey</h2>
    <h4>Finance Director</h4>
    <hr />
    <div class="description">
      <p>
        Oliver is Codio’s Excel whizz, and also looks after our operations to ensure the team has everything need to get things done effectively.
        In his role he sees first-hand the importance of computational thinking, and as a technology lover he is passionate about Codio’s mission and how it can support the growing
        role technology plays in our daily lives. In his spare time he’s a keen CrossFitter, snowboarder and music lover.
      </p>
    </div>
  </div>
  
  <div class="member">
    <%= image_tag "about/eliza_griscom.jpg", alt: "Eliza Griscom, Senior Education Community Manager" %>
    <h2>Eliza Griscom</h2>
    <h4>Senior Education Community Manager</h4>
    <hr />
    <div class="description">
      <p>
        Eliza has worked in the field of education technology and e-learning for the past 15 years, both in K12 and Higher Ed. She is a National Coalition
        for Women in Technology Educator Award winner. In her time off, she is renovating and landscaping a fixer-upper home from 1874.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/tom_smith.jpg", alt: "Tom Smith, Head of Schools Liasion" %>
    <h2>Tom Smith</h2>
    <h4>Head of Schools Liasion</h4>
    <hr />
    <div class="description">
      <p>
        Tom is Head of Schools Liaison at Codio having been a computer science teacher for nine years. He enjoys web development and teaching others how to code.
        Additionally, he enjoys cycling and football and when he has the chance he enjoys travelling to other countries.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/ian.jpg", alt: "Ian Jobling, Customer Support Manager" %>
    <h2>Ian Jobling</h2>
    <h4>Customer Support Manager</h4>
    <hr />
    <div class="description">
      <p>
        With a background in Banking, Ian has always helped people. When Banking changed from Customer Service to Selling he
        moved into the tech sector & now helps our users with their questions. When not working Ian can be found felling trees, travelling the
        Grand Union Canal & making good old fashioned Wine.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/igor.jpg", alt: "Igor Yashtykov, QA Specialist" %>
    <h2>Igor Yashtykov</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        As all round bug fixer and QA supremo, Igor monitors & checks that everything is working perfectly for Codio users with a keen eye on the quality of experience
        and user happiness. When he gets some downtime, Igor enjoys swimming, travelling, reading books & watching live sport.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/andrey.jpg", alt: "Andrey Nikitin, Software Engineer" %>
    <h2>Andrey Nikitin</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        Andrey's a problem-solver. The more complicated the better. He loves seeing results & having fun with the process. He says, “as life goes on there are always new ideas
        emerging & with them new opportunities to achieve.” When he’s not developing software, Andrey can be found skating, doing aikido, and listening to good music.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/anna.jpg", alt: "Anna Glushkova, QA Specialist" %>
    <h2>Anna Glushkova</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        Anna tackles defects prevention and prides herself on ensuring customer happiness. When not working Anna can be found hiking, shooting with her compound
        bow or riding her pitbike. She also dreams about a trip in the Himalayas.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/dmitri.jpg", alt: "Dmitrii Suchkov, Software Engineer" %>
    <h2>Dmitrii Suchkov</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        It's hard to find a Codio subsystem that has not been fixed or improved by Dmitri. He makes sure all our services are up & running smoothly. He enjoys writing powerful
        yet simple code that delivers for our users. Dmitrii is also interested in information security, loves meeting interesting people,
        reading & travelling by bicycle.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/konstantin.jpg", alt: "Konstantin Makarov, QA Specialist" %>
    <h2>Konstantin Makarov</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        Konstantin loves beauty & simplicity, and his QA work ensures Codio is kept as simple and easy to use as possible.
        "It critical that users can gain new knowledge & acquire skills easily & comfortably".
        In his spare time, Konstantin enjoys self learning & creates beautiful things through photography & dance.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/mikhail.jpg", alt: "Mikhail Loginov, Software Engineer" %>
    <h2>Mikhail Loginov</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        Mikhail joined the team as a client-side developer. Coding from a young age, he enjoys creating something new & solving complex problems.
        He says, “programming is not just a job for me, it’s my passion.” His professional interests are 3D graphics, Flash, web & mobile.
        In his spare time, he plays basketball & volleyball & rides a motorbike.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/vasiliy.jpg", alt: "Vasiliy Levykin, Software Engineer" %>
    <h2>Vasiliy Levykin</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        When a tricky problem needs to be solved & simplified, Vasiliy is Codio's go-to guy. He likes to dive into the core of Codio, yet always listens to the needs of users.
        He enjoys writing elegant and easy to use code. Fascinated by foreign languages, Vasiliy spends his free time travelling & reading.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/veronika.jpg", alt: "Veronika Schiraya, QA Specialist" %>
    <h2>Veronika Schiraya</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        As a member of the QA team, Veronika is addicted to finding issues. She’s also taking her first steps in UX design.
        In her spare time she enjoys teaching teenage kids to code, playing board games and swimming.
      </p>
    </div>
  </div>
</div>
