---
title: We are Codio
description: Codio is an online IDE with integrated education features. It contains a professional grade IDE, teaching monitoring tools, plagiarism detection, auto-graded assessments, curriculum, content authoring and much more.
fixed: true
---

<div class="header-block">
  <div class="header-container">
    <h2>
      Meet <em>Team Codio</em>
    </h2>
  </div>
</div>

<div class="team-section">
  <div class="member">
    <%= image_tag "about/phillip.jpg", alt: "Phillip Snalune, CEO & Co-founder" %>
    <h2>Phillip Snalune</h2>
    <h4>CEO & Co-founder</h4>
    <hr />
    <div class="description">
      <p>
        Phillip is concerned with Codio creating an experience that users will find indispensable, believing that
        customer advocacy is the foundation for profitable growth. Instrumental in shaping Codio’s pivot to a pure
        education focus Phillip has led Codio’s sales growth with leading institutions and platforms like edX and
        Coursera.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/enis.jpg", alt: "Enis Konuk, Chairman" %>
    <h2> Enis Konuk</h2>
    <h4>Chairman</h4>
    <hr />
    <div class="description">
      <p>
        Having successfully founded and scaled Quiklabs (now a Google company) Enis is passionate about the potential
        for Codio to make a significant impact in CS and STEM education.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/maxim.jpg", alt: "Maxim Kraev, CTO, Software Architect" %>
    <h2>Maxim Kraev</h2>
    <h4>CTO and Software Architect</h4>
    <hr />
    <div class="description">
      <p>
        Max is lead developer and architect. He always has a point of view and can always find a workable
        solution. Max studied information security and cryptography and ensures Codio is a safe place for your code.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/ian.jpg", alt: "Ian Jobling, Customer Support Manager" %>
    <h2>Ian Jobling</h2>
    <h4>Customer Support Manager</h4>
    <hr />
    <div class="description">
      <p>
        With a background in Banking, Ian has always helped people. When Banking changed from Customer Service to Selling he
        moved into the tech sector & now helps our users with their questions. When not working Ian can be found felling trees, travelling the
        Grand Union Canal & making good old fashioned Wine.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/igor.jpg", alt: "Igor Yashtykov, QA Specialist" %>
    <h2>Igor Yashtykov</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        As all round bug fixer and QA supremo, Igor monitors & checks that everything is working perfectly for Codio users with a keen eye on the quality of experience
        and user happiness. When he gets some downtime, Igor enjoys swimming, travelling, reading books & watching live sport.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/andrey.jpg", alt: "Andrey Nikitin, Software Engineer" %>
    <h2>Andrey Nikitin</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        Andrey's a problem-solver. The more complicated the better. He loves seeing results & having fun with the process. He says, “as life goes on there are always new ideas
        emerging & with them new opportunities to achieve.” When he’s not developing software, Andrey can be found skating, doing aikido, and listening to good music.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/anna.jpg", alt: "Anna Glushkova, QA Specialist" %>
    <h2>Anna Glushkova</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        Anna tackles defects prevention and prides herself on ensuring customer happiness. When not working Anna can be found hiking, shooting with her compound
        bow or riding her pitbike. She also dreams about a trip in the Himalayas.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/dmitri.jpg", alt: "Dmitrii Suchkov, Software Engineer" %>
    <h2>Dmitrii Suchkov</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        It's hard to find a Codio subsystem that has not been fixed or improved by Dmitri. He makes sure all our services are up & running smoothly. He enjoys writing powerful
        yet simple code that delivers for our users. Dmitrii is also interested in information security, loves meeting interesting people,
        reading & travelling by bicycle.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/konstantin.jpg", alt: "Konstantin Makarov, QA Specialist" %>
    <h2>Konstantin Makarov</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        Konstantin loves beauty & simplicity, and his QA work ensures Codio is kept as simple and easy to use as possible.
        "It critical that users can gain new knowledge & acquire skills easily & comfortably".
        In his spare time, Konstantin enjoys self learning & creates beautiful things through photography & dance.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/mikhail.jpg", alt: "Mikhail Loginov, Software Engineer" %>
    <h2>Mikhail Loginov</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        Mikhail joined the team as a client-side developer. Coding from a young age, he enjoys creating something new & solving complex problems.
        He says, “programming is not just a job for me, it’s my passion.” His professional interests are 3D graphics, Flash, web & mobile.
        In his spare time, he plays basketball & volleyball & rides a motorbike.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/vasiliy.jpg", alt: "Vasiliy Levykin, Software Engineer" %>
    <h2>Vasiliy Levykin</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>
        When a tricky problem needs to be solved & simplified, Vasiliy is Codio's go-to guy. He likes to dive into the core of Codio, yet always listens to the needs of users.
        He enjoys writing elegant and easy to use code. Fascinated by foreign languages, Vasiliy spends his free time travelling & reading.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/veronika.jpg", alt: "Veronika Schiraya, QA Specialist" %>
    <h2>Veronika Schiraya</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>
        As a member of the QA team, Veronika is addicted to finding issues. She’s also taking her first steps in UX design.
        In her spare time she enjoys teaching teenage kids to code, playing board games and swimming.
      </p>
    </div>
  </div>
</div>
