---
title: We are Codio
fixed: true
---

<div class="header-block">
  <div class="header-container">
    <h2>
      We build with <em>heart and passion</em><br/>
      Meet <em>Team Codio</em>
    </h2>
  </div>
</div>

<div class="team-section">
  <div class="member">
    <%= image_tag "about/phillip.jpg" %>
    <h2>Phillip Snalune</h2>
    <h4>CEO & Co-founder</h4>
    <hr />
    <div class="description">
      <p>
        Phillip is concerned with Codio creating a teaching and learning
        experience that users will find indispensable.
      </p>
      <p>
        He sees the connections between the user experience, our proposition
        and the marketing & selling of Codio to schools, universities and partners.
      </p>
      <p>
        Downtime is mainly family, triathlon, rugby, piano or food related.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/freddy.jpg" %>
    <h2>Freddy May</h2>
    <h4>CPO & Founder</h4>
    <hr />
    <div class="description">
      <p>
        Freddy has a vision to help teach the world to code.
      </p>
      <p>
        As Codio's founder, he believes it's possible to create a
        teaching & learning experience for students that reflects both
        a professional grade IDE & an experience that inspires learning &
        creativity.
      </p>
      <p>
        Classical piano, cricket and family are Freddy's other passions.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/maxim.jpg" %>
    <h2>Maxim Kraev</h2>
    <h4>Software Architect</h4>
    <hr />
    <div class="description">
      <p>
        Max is lead developer and architect.
      </p>
      <p>
        He always has a point of view and can always find a workable
        solution. Max studied information security and cryptography
        and ensures Codio is a safe place for your code.
      </p>
      <p>
        For happiness Max only needs a good system architecture, downtime
        with his daughter and time to ride his motorbike.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/jennifer.jpg" %>
    <h2>Jennifer Bilec-Sullivan</h2>
    <h4>Head of Marketing</h4>
    <hr />
    <div class="description">
      <p>Jennifer is the communications guru at Codio.</p>
      <p>She's worked in a variety of fields from electronics to non-profits. She sees first
        hand the importance of computational thinking and coding as a 21st century skill from
        millennials to senior coders.  She loves how technology can empower social causes and
        believes in the open source movement.
      </p>
      <p>She's either on her laptop, BBQ'ing, hanging out with family, BBQ'ing (again!),
        at the gym or working on the next "fixer-upper" project.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/svitlana.jpg" %>
    <h2>Svitlana Yarmolchuk</h2>
    <h4>General Manager, UK</h4>
    <hr />
    <div class="description">
      <p>Svitlana is very excited about joining the Codio team.</p>
      <p>Her career choice and personal passion is working with technology in education and has
        pursued this goal for the last eight years. She looks forward to bringing her experience
        gained at Apple, Cisco and Rosetta Stone to make Codio a great success.
      </p>
      <p>She shares Isaac Asimov’s conviction that self-education is the only kind of education
        there is and feels great to be part of the company that makes it possible.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/oliver.jpg" %>
    <h2>Oliver Godfrey</h2>
    <h4>Finance Director</h4>
    <hr />
    <div class="description">
      <p>Oliver is Codio’s Excel whizz, and also looks after our operations to ensure the team
        has everything need to get things done effectively.
      </p>
      <p>In his role he sees first-hand the importance of computational thinking, and as a
        technology lover he is passionate about Codio’s mission and how it can support the growing
        role technology plays in our daily lives.
      </p>
      <p>In his spare time he’s a keen CrossFitter, snowboarder and music lover.
      </p>
    </div>
  </div>
  
  <div class="member">
    <%= image_tag "about/amy_box.jpg" %>
    <h2>Amy Box</h2>
    <h4>Head of School Liaison and Content Manager</h4>
    <hr />
    <div class="description">
      <p>Amy Box is Head of Schools Liaison at Codio where she enjoys chatting to teachers and
        students, and helping them to use Codio.
      </p>
      <p>Her other interests include creation of new resources. She is also loves encouraging
        girls and young women to take up coding and Computer Science.
      </p>
      <p>Amy has taught Computer Science and ICT in London comprehensive schools for over 12 years
        and has first-hand experience of transition from ICT to Computing.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/ian.jpg" %>
    <h2>Ian Jobling</h2>
    <h4>Customer Support Manager</h4>
    <hr />
    <div class="description">
      <p>With a background in Banking, Ian has always helped people.</p>
      <p>When Banking changed from Customer Service to Selling he
        moved into the tech sector & now helps our users with their questions.
      </p>
      <p>When not working Ian can be found felling trees, travelling the
        Grand Union Canal & making good old fashioned Wine.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/igor.jpg" %>
    <h2>Igor Yashtykov</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>As all round bug fixer and QA supremo, Igor monitors & checks that everything
        is working perfectly for Codio users with a keen eye on the quality of experience
        and user happiness.
      </p>
      <p>When he gets some downtime, Igor enjoys swimming, travelling,
        reading books & watching live sport.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/andrey.jpg" %>
    <h2>Andrey Nikitin</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>Andrey's a problem-solver</p>
      <p>The more complicated the better. He loves seeing results & having
        fun with the process. He says, “as life goes on there are always new ideas
        emerging & with them new opportunities to achieve.”
      </p>
      <p>When he’s not developing software, Andrey can be found skating, doing aikido,
        and listening to good music.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/anna.jpg" %>
    <h2>Anna Glushkova</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>Anna tackles defects prevention and prides herself on ensuring
        customer happiness.
      </p>
      <p>When not working Anna can be found hiking, shooting with her compound
        bow or riding her pitbike.
      </p>
      <p>She also dreams about a trip in the Himalayas.</p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/dmitri.jpg" %>
    <h2>Dmitrii Suchkov</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>It's hard to find a Codio subsystem that has not been fixed or improved by Dmitri.</p>
      <p>He makes sure all our services are up & running smoothly. He enjoys writing powerful
        yet simple code that delivers for our users.
      </p>
      <p>Dmitrii is also interested in information security, loves meeting interesting people,
        reading & travelling by bicycle.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/konstantin.jpg" %>
    <h2>Konstantin Makarov</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>Konstantin loves beauty & simplicity, and his QA work ensures
        Codio is kept as simple and easy to use as possible.
      </p>
      <p>"It critical that users can gain new knowledge & acquire skills
        easily & comfortably".
      </p>
      <p>In his spare time, Konstantin enjoys self learning & creates
        beautiful things through photography & dance.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/mikhail.jpg" %>
    <h2>Mikhail Loginov</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>Mikhail joined the team as a client-side developer.</p>
      <p>Coding from a young age, he enjoys creating something new & solving complex problems.
        He says, “programming is not just a job for me, it’s my passion.” His professional
        interests are 3D graphics, Flash, web & mobile.
      </p>
      <p>In his spare time, he plays basketball & volleyball & rides a motorbike.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/vasiliy.jpg" %>
    <h2>Vasiliy Levykin</h2>
    <h4>Software Engineer</h4>
    <hr />
    <div class="description">
      <p>When a tricky problem needs to be solved & simplified, Vasiliy is Codio's go-to guy.</p>
      <p>He likes to dive into the core of Codio, yet always listens to the needs of users.</p>
      <p>He enjoys writing elegant and easy to use code. Fascinated by foreign languages,
        Vasiliy spends his free time travelling & reading.
      </p>
    </div>
  </div>

  <div class="member">
    <%= image_tag "about/veronika.jpg" %>
    <h2>Veronika Schiraya</h2>
    <h4>QA Specialist</h4>
    <hr />
    <div class="description">
      <p>As a member of the QA team, Veronika is addicted to finding issues.</p>
      <p>She’s also taking her first steps in UX design.</p>
      <p>In her spare time she enjoys teaching teenage kids to code,
        playing board games and swimming.
      </p>
    </div>
  </div>
</div>
