---
title: Codio Blog
per_page: 4
class_name: blog
full_width: true
---

<div id="blog-categories" class="blog-cat-all">
  <div class="container">
    <ul>
      <li><%= link_to 'All posts', '/blog/all' %></li>
      <% blog.tags.sort.each do |tag, articles| %>
        <li><%= link_to tag, tag_path(tag) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container clearfix">

  <section class="posts all">

    <% year, month = nil, nil %>
    <% blog.articles.each do |article| %>

      <% if year != article.date.year %>
        <h2><%= link_to article.date.year, "/blog/#{article.date.year}" %></h2>
      <% end %>

      <article>
        <section class="meta">
          <p class="date">
            <% if month != article.date.month %>
              <%= link_to article.date.strftime('%B'), "/blog/#{article.date.year}/#{article.date.strftime('%m')}" %>
            <% end %>
          </p>
        </section>

        <h3><%= link_to article.title, article %></h3>
      </article>

      <% year, month = article.date.year, article.date.month %>
    <% end %>
  </section>

  <aside>
    <section class="all-posts">
      <h5><a href="https://codio.com/s/blog/feed.xml" target="_blank"><%= image_tag 'feed-icon.png', :size => '14x14' %>Subscribe</a></h5>
    </section>

    <section class="latest-posts">
      <h4>Latest posts...</h4>
      <ul>
        <% blog.articles[0...5].each do |post| %>
          <li><%= link_to post.title, post %></li>
        <% end %>
      </ul>

      <h4>categories...</h4>
      <ul>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to tag, tag_path(tag) %></li>
        <% end %>
      </ul>
    </section>

    <section class="all-posts">
      <h4><%= link_to 'all posts &raquo;', '/blog/all' %></h4>
    </section>

    <div style="margin:35px 0 0 25px;">
      <a href="https://twitter.com/codiohq" class="twitter-follow-button" data-size="medium" data-show-count="false" data-lang="en">Follow us @codiohq</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </aside>

</div>
