---
title: Codio Blog
per_page: 4
class_name: blog
full_width: true
---

<nav>
  <ul>
    <li><%= link_to 'All posts', '/blog/all' %></li>
    <% blog.tags.sort.each do |tag, articles| %>
      <li><%= link_to tag, tag_path(tag) %></li>
    <% end %>
  </ul>
</nav>

<section>
  <% year, month = nil, nil %>
  <% blog.articles.each do |article| %>

    <% if year != article.date.year %>
      <h2><%= link_to article.date.year, "/blog/#{article.date.year}" %></h2>
    <% end %>

    <article>
      <section class="meta">
        <p class="date">
          <% if month != article.date.month %>
            <%= link_to article.date.strftime('%B'), "/blog/#{article.date.year}/#{article.date.strftime('%m')}" %>
          <% end %>
        </p>
      </section>

      <h3><%= link_to article.title, article %></h3>
    </article>

    <% year, month = article.date.year, article.date.month %>
  <% end %>
</section>
