---
title: Codio Blog - Categories
pageable: true
per_page: 10
layout: layout-new
---
<main>
  <%= partial "blog-header", :locals => { :current_tag => tagname } %>
  <article class="overview">
    <h1><%= tagname %></h1>

    <% page_articles.each_with_index do |article, i| %>
      <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
      <%= article.summary(200) %>
      <%= link_to "Read more...", article %>
    <% end %>

    <% if paginate && num_pages > 1 %>
      <div class="pagination">
        <ul>
          <% if prev_page %>
            <li class="page-prev"><%= link_to 'Prev', prev_page %></li>
          <% end %>
          <li>
            <%= page_number %> of <%= num_pages %>
          </li>
          <% if next_page %>
            <li class="page-next"><%= link_to 'Next', next_page %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </article>
</main>
