---
title: Codio Blog - Categories
pageable: true
per_page: 10
layout: layout-new
---
<main>
  <%= partial "blog-header", :locals => { :current_tag => tagname } %>

  <div class="overview">
    <div class="container">
      <%= partial "blog-tagposts", :locals => { :current_tag => tagname } %>
    </div>
    <article>
      <% page_articles.each_with_index do |article, i| %>
        <div class="striped">
          <article class="container" >
            <div class="content">
              <div class="info">
                <div class="avatar">
                  <%= image_tag 'about/%s.png' % [article.data.author.split()[0].downcase()], :height => '30' %>
                </div>
                <div class="date">Posted: <span><%= article.date.strftime('%B %e, %Y')%></span></div>
                <div class="author">by <span><%= article.data.author %></span></div>
                <% if article.data.image %>
                <div class="image"><%= image_tag article.data.image %></div>
                <% end %>
              </div>

              <h2><%= link_to article.title, article, :class => 'title' %></h2>
              <div class="summary">
                <%= article.summary(200) %>
                <%= link_to "Continue reading", article, :class => 'read-more' %>
              </div>
            </div>
          </article>
        </div>
      <% end %>

      <div class="striped">
        <%= partial "blog-paginate", :locals => locals %>
      </div>

    </article>
  </div>
</main>
