<h1>Legal Information</h1>


<ul>
  <li>
    <h2>
      <%= link_to 'Terms of Service', '/legal/terms' %>
    </h2>
    <p>
      These are the contractual terms between Codio and the users Codio.
    </p>
  </li>
  <li>
    <h2>
      <%= link_to 'Privacy Policy', '/legal/privacy' %>
    </h2>
    <p>
      This notice informs users about how Codio collects, uses and discloses their information.
    </p>
  </li>
  <li>
    <h2>
      <%= link_to 'Copyright', '/legal/copyright' %>
    </h2>
  </li>
  <li>
    <h2>
      <%= link_to 'Trademarks', '/legal/trademarks' %>
    </h2>
  </li>
  <li>
    <h2>
      <%= link_to 'Refunds', '/legal/refunds' %>
    </h2>
  </li>
</ul>
