---
title: Legal Information
---

<ul class="legal-toc">
  <li>
    <h3>
      <%= link_to 'Terms of Service', '/legal/terms', class: 'legal-toc-head' %>
    </h3>
    <p>
      These are the contractual terms between Codio and the users Codio.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to 'Privacy Policy', '/legal/privacy', class: 'legal-toc-head' %>
    </h3>
    <p>
      This notice informs users about how Codio collects, uses and discloses their information.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to 'Copyright', '/legal/copyright', class: 'legal-toc-head' %>
    </h3>
  </li>
  <li>
    <h3>
      <%= link_to 'Trademarks', '/legal/trademarks', class: 'legal-toc-head' %>
    </h3>
  </li>
  <li>
    <h3>
      <%= link_to 'Refunds', '/legal/refund', class: 'legal-toc-head' %>
    </h3>
  </li>
</ul>
