---
title: Legal Information
---

<ul>
  <li>
    <h3>
      <%= link_to 'Terms of Service', '/legal/terms' %>
    </h3>
    <p>
      These are the contractual terms between Codio and the users Codio.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to 'Privacy Policy', '/legal/privacy' %>
    </h3>
    <p>
      This notice informs users about how Codio collects, uses and discloses their information.
    </p>
  </li>
  <li>
    <h3>
      <%= link_to 'Copyright', '/legal/copyright' %>
    </h3>
  </li>
  <li>
    <h3>
      <%= link_to 'Trademarks', '/legal/trademarks' %>
    </h3>
  </li>
  <li>
    <h3>
      <%= link_to 'Refunds', '/legal/refunds' %>
    </h3>
  </li>
</ul>
