<footer>
  <div class="container clearfix">
    <div>
      <ul id="social-icons">
        <li><a target="_blank" href="https://plus.google.com/u/0/b/107423236292333764300/107423236292333764300/posts"><span></span>Google+</a></li>
        <li><a target="_blank" href="https://www.facebook.com/pages/Codio/164778707006897?ref=hl"><span></span>Facebook</a></li>
        <li><a target="_blank" href="https://twitter.com/codiohq"><span></span>Twitter</a></li>
      </ul>
    </div>

    <div>
      Copyright &copy; <%= Date.today.year %> Application Craft Ltd.
      &nbsp;&nbsp;
      <a href="http://status.codio.com/" target="_blank">System Status</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="mailto:support@codio.com">Drop us a line...</a><br>
      All rights reserved. Read our <%= link_to 'Privacy policy', '/legal/privacy' %> and other <%= link_to 'Legalese', '/legal' %>.
    </div>

    <div>
      <a href="http://www.iloveopensource.io/orgs/523c6c7f861be70200000007" target="_blank">
        <%= image_tag 'ilos-logo-darkbg.png', :width => 90, :alt => "Codio is powered by Open Source. Click here to find out more..." %>
      </a>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<%= javascript_include_tag 'main' %>

<%= yield_content :foot %>