<footer>
  <section>
    <div class="container clearfix">
      <div>
        <%= link_to 'This site is open source... Fork it!', 'https://github.com/codio/site', :target => "_blank" %>
      </div>

      Copyright &copy; <%= Date.today.year %> Application Craft Ltd. All rights reserved.
      Read our <%= link_to 'Privacy policy', '/legal/privacy' %>.
    </div>
  </section>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<!-- <script src="/js/vendor/protofluid.min.js"></script> -->
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<%= javascript_include_tag 'main' %>
<%= yield_content :foot %>

<% if !current_page.app.development? %>
  <script src="/plugins/sitebar.js"></script>
  <script>
      $(document).ready(function () {
          AC.start();
          AC.get("repository").get("sitebar").start();
      });
  </script>

  <script>
    // TODO: uncomment when we have codio.com GA setup
    // var _gaq=[['_setAccount','UA-11680203-1'],['_trackPageview']];
    // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    // s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
<% end %>
