<footer>
  <section>
    <div class="container clearfix">
      <div>
        <%= link_to 'This site is open source... Fork it!', 'https://github.com/codio/site', :target => "_blank" %>
      </div>

      Copyright &copy; <%= Date.today.year %> Application Craft Ltd. All rights reserved.
      Read our <%= link_to 'Privacy policy', '/legal/privacy' %>.
      &nbsp;&nbsp;
      <a href="mailto:help@codio.com">Drop us a line...</a>
    </div>
  </section>
</footer>

<% if !current_page.app.development? %>
  <script data-main="/sitebar" type="text/javascript" src="/vendors/requirejs/requirejs-min.js"></script>
  <script>
      require.config({
          baseUrl: "/",
          waitSeconds: 15
      });
  </script>
<% end %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<!-- <script src="/js/vendor/protofluid.min.js"></script> -->
<script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
<%= javascript_include_tag 'main' %>
<%= yield_content :foot %>

<% if !current_page.app.development? %>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39233819-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<% end %>