<nav>
  <div class="container">

    <nav class="clearfix">
      <%= link_to image_tag('logo.png', :width => 183, :height => 46), '/', :data => { :"no-turbolink" => true } %>

      <ul id="codio-nav">
        <li><%= link_to 'Try Now', '/p/try', :id => "trynow", :data => { :"no-turbolink" => true } %></li>
        <li><%= link_to 'Sign In', '/p/login', :data => { :"no-turbolink" => true } %></li>
        <li><%= link_to 'Sign Up', '/p/signup', :data => { :"no-turbolink" => true } %></li>
      </ul>

      <ul id="site-nav">
        <li><%= link_to 'Docs', '/docs', :data => { :"no-turbolink" => true } %></li>
        <li><%= link_to 'Pricing', '/docs', :data => { :"no-turbolink" => true } %></li>
        <li><%= link_to 'Blog', '/blog', :data => { :"no-turbolink" => true } %></li>
      </ul>
    </nav>

  </div>
</nav>