---
title: About
---

<section class="about-us">
  <h1>About Us</h1>
  <article>
    <p>
      Codio is a cloud-based computer programming platform for universities,
      schools, and developer professionals.
    </p>

    <p>
      We provide instant coding environments featuring rich code editing, a
      large portfolio of programming languages and other software
      components, dedicated virtual servers and a large library of tutorial
      resources, all accessible anywhere through any browser.
    </p>

    <p>
      Created to take the pain out of teaching programming, Codio enables
      teachers to side step the time consuming task of setting up many
      programming tools (stacks) for the various operating systems on every
      single Mac or PC within an ICT suite and on students’ own machines.
    </p>

    <p>
      Teachers and students can use school-provided machines in the
      classroom, their own machines at home, and can access the platform and
      their coding projects from anywhere.
    </p>

    <p>
      Codio is now used in over 170 countries worldwide and by many of the
      world’s leading computer science universities and schools.
    </p>
  </article>
  <aside>
    <h3>Contact Details</h3>
    <p>
      Codio</br>
      Application Craft UK Ltd.</br>
      29 Wood St, Stratford-Upon-Avon</br>
      United Kingdom</br>
    </p>
  </aside>
</section>

<section class="team">
  <h1 id="team">Team</h1>
  <section class="info-cards">

    <section class="info-card">
      <%= image_tag "about/andrey.png" %>
      <h2>Andrey Nikitin</h2>
      <div class="body">
        Andrey's a problem-solver - the more complicated the better.
        He loves seeing results & having fun with the process. He says,
        “as life goes on there are always new ideas emerging & with them
        new opportunities to achieve.” When he’s not developing software,
        Andrey can be found skating, doing aikido, and listening to good music.
        He graduated Mari State Technical University with a degree in software engineering.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/anna.png" %>
      <h2>Anna Glushkova</h2>
      <div class="body">
        Anna tackles defects prevention
        and prides herself on ensuring customer happiness. When not working Anna can
        be found hiking, shooting with her compound bow or riding
        her pitbike. She also dreams about a trip in the Himalayas.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/dmitri.png" %>
      <h2>Dmitri Suchkov</h2>
      <div class="body">
        It's hard to find a Codio subsystem that has not been fixed or improved by Dmitri.
        He makes sure all our services are up & running smoothly. He enjoys writing powerful
        yet simple code that delivers for our users. Dmitri is also interested in information
        security, loves meeting interesting people, reading & travelling by bicycle.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/freddy.png" %>
      <h2>Freddy May</h2>
      <div class="body">
        Freddy has a vision to help teach the world to code. As Codio's founder,
        he believes it's possible to create a teaching & learning experience for
        students that reflects both a real world IDE & an experience
        that inspires learning & creativity. Classical piano, cricket and family are
        Freddy's other passions.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/friedel.png" %>
      <h2>Friedel Ziegelmayer</h2>
      <div class="body">
        Having studied maths for over five years Friedel wanted to apply
        his skills to a more practical domain & so joined Codio. Today
        he is working just about everywhere, from designing the
        UI to implementing backend tasks, nothing is safe from Friedel.
        When not working on Codio he enjoys time with his family, goes
        to the gym and learns new programming languages.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/ian.png" %>
      <h2>Ian Jobling</h2>
      <div class="body">
        With a background in Banking, Ian has always helped people.
        When Banking changed from Customer Service to Selling he
        moved into the tech sector & now helps our users with their questions.
        When not working Ian can be found felling trees, travelling the
        Grand Union Canal & making good old fashioned Wine. His Elderberry
        Wine usually goes down well at team meet ups.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/igor.png" %>
      <h2>Igor Yashtykov</h2>
      <div class="body">
        As all round bug fixer and QA supremo, Igor monitors & checks that everything
        is working perfectly for Codio users with a keen eye on the quality of experience
        and user happiness.  When he gets some downtime, Igor enjoys swimming, travelling,
        reading books & watching live sport.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/jessica.png" %>
      <h2>Jessica May</h2>
      <div class="body">
        Jessica May - self proclaimed admin goddess by day, classical pianist by night.
        She likes order and harmony and thus enjoys filing, paying bills, tying up loose
        ends and feeding the team with her latest culinary experiments to the background
        strains of Bach, Beethoven or barking dogs.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/joel.png" %>
      <h2>Joel Moss</h2>
      <div class="body">
        <%= lorem.words 45 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/konstantin.png" %>
      <h2>Konstantin Makarov</h2>
      <div class="body">
        Konstantin loves beauty & simplicity, and his QA work ensures
        Codio is kept as simple and easy to use as possible.
        "It critical that users can gain new knowledge & acquire skills
        easily & comfortably". In his spare time, Konstantin
        enjoys self learning & creates beautiful things through
        photography & dance.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/maxim.png" %>
      <h2>Maxim Kraev</h2>
      <div class="body">
        Max is lead developer and architect. He always has a point of view
        and can always find a workable solution. Max studied information
        security and cryptography, and spends a lot of time ensuring Codio
        is a safe place for your code. For happiness Max needs only a few things:
        a good system architecture, downtime with his daughter and time to ride his motorbike.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/mikhail.png" %>
      <h2>Mikhail Loginov</h2>
      <div class="body">
        Mikhail joined the team in 2012 as a client-side developer. Coding from
        a young age, he enjoys creating something new & solving complex problems.
        He says, “programming is not just a job for me, it’s my passion.” His professional
        interests are 3D graphics, Flash, web & mobile development. In his spare time, he plays
        basketball & volleyball & rides a motorbike. He has a electro-technical degree from Mari State Tech University.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/phillip.png" %>
      <h2>Phillip Snalune</h2>
      <div class="body">
        Phillip is concerned with Codio creating a teaching
        & learning experience that users will find indispensable.  He sees the
        connections between the user experience, our proposition and the marketing
        & selling of Codio to schools, universities and partners.  Downtime is mainly
        family, triathlon, rugby, piano or food related.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/vasiliy.png" %>
      <h2>Vasiliy Levykin</h2>
      <div class="body">
        When a tricky problem needs to be solved & simplified, Vasiliy is Codio's go-to guy.
        He likes to dive into the core of Codio, yet always listens to the needs of users.
        He enjoys writing elegant and easy to use code.Fascinated by foreign languages,
        Vasiliy spends his free time travelling & reading.
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/veronika.png" %>
      <h2>Veronika Schiraya</h2>
      <div class="body">
        As a member of the QA team, Veronika is addicted to finding issues.
        She’s also taking her first steps in UX design. In her spare time
        she enjoys teaching teenage kids to code, playing board games and swimming.
      </div>
    </section>

  </section>
</section>
