---
title: About
---

<section class="about-us">
  <h1>About Us</h1>
  <article>
    <p>
      Codio is a cloud-based computer programming platform for universities,
      schools, and developer professionals.
    </p>

    <p>
      We provide instant coding environments featuring rich code editing, a
      large portfolio of programming languages and other software
      components, dedicated virtual servers and a large library of tutorial
      resources, all accessible anywhere through any browser.
    </p>

    <p>
      Created to take the pain out of teaching programming, Codio enables
      teachers to side step the time consuming task of setting up many
      programming tools (stacks) for the various operating systems on every
      single Mac or PC within an ICT suite and on students’ own machines.
    </p>

    <p>
      Teachers and students can use school-provided machines in the
      classroom, their own machines at home, and can access the platform and
      their coding projects from anywhere.
    </p>

    <p>
      Codio is now used in over 170 countries worldwide and by many of the
      world’s leading computer science universities and schools.
    </p>
  </article>
  <aside>
    <h3>Contact Details</h3>
    <p>
      Codio</br>
      Application Craft UK Ltd.</br>
      29 Wood St, Stratford-Upon-Avon</br>
      United Kingdom</br>
    </p>
  </aside>
</section>

<section class="team">
  <h1 id="team">Team</h1>
  <section class="info-cards">
    
    <section class="info-card">
      <%= image_tag "about/andrey.png" %>
      <h2>Andrey Nikitin</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>    
    <section class="info-card">
      <%= image_tag "about/anna.png" %>
      <h2>Anna Glushkova</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>    
    <section class="info-card">
      <%= image_tag "about/dmitri.png" %>
      <h2>Dmitri Suchkov</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/freddy.png" %>
      <h2>Freddy May</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/friedel.png" %>
      <h2>Friedel Ziegelmayer</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/ian.png" %>
      <h2>Ian Jobling</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/igor.png" %>
      <h2>Igor Yashtykov</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag lorem.image('250x170') %>
      <h2>Jessica May</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag lorem.image('250x170') %>
      <h2>Joel Moss</h2>
      <div class="body">
        <%= lorem.words 19 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/konstantin.png" %>
      <h2>Konstantin Makarov</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/maxim.png" %>
      <h2>Maxim Kraev</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/mikhail.png" %>
      <h2>Mikhail Loginov</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/phillip.png" %>
      <h2>Phillip Snalune</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/vasiliy.png" %>
      <h2>Vasiliy Levykin</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>
    <section class="info-card">
      <%= image_tag "about/veronika.png" %>
      <h2>Veronika Schiraya</h2>
      <div class="body">
        <%= lorem.words 20 %>
      </div>
    </section>

  </section>
</section>
