---
title: Codio Books
layout: layout
fixed: true
transparent: false
description: Codio Books
---

<section class="carousel-block">
  <div id="bookCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#bookCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bookCarousel" data-slide-to="1"></li>
      <li data-target="#bookCarousel" data-slide-to="2"></li>
    </ol>
    <div class="scrollto carousel-inner" role="listbox">
      <div class="item active slot-1">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Performance Computer Science Programs</div>
            <div class="sub-heading">Save time. Reduce costs. Boost engagement. Gain better learning insights.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
      </div>
      <div class="item slot-2">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Performance Computer Science Programs</div>
            <div class="sub-heading">Save time. Reduce costs. Boost engagement. Gain better learning insights.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
      </div>
      <div class="item slot-3">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Performance Computer Science Programs</div>
            <div class="sub-heading">Save time. Reduce costs. Boost engagement. Gain better learning insights.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-body">
  <div class="features-block">
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/reduction-in-admin-time.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          20% reduction in admin time
        </div>
        <div class="text">
          Faculty consistently report a reduction in admin time of at least 20% through
          breakthroughs that include instant access to student code,
          <a href="/features/templates">reduction in setup and configuration time</a> for new
          assignments use of <a href="/features/grading">auto-graded assessment</a> creation
          without the need to write code, and LMS integration.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/cost-saving.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Cost saving
        </div>
        <div class="text">
          Codio delivers tangible reductions in grading costs as manual grading is easily replaced
          with auto-grading. Codio’s VM and <a href="/features/ide">IDE</a> also reduces the need to
          invest and maintain labs. All students need is a laptop and a browser.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/sheffield-projects.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Better Collaboration
        </div>
        <div class="text">
          <a href="/features/ide">Instant access to student code</a> enables class groups to share and
          contrast approaches to problem solving and programming in a classroom setting, which means better class
          engagement and greater potential for learning.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/simple-bash-test.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          New ways of teaching
        </div>
        <div class="text">
          Codio’s <a href="/features/content-authoring">curriculum authoring tools</a> lets your instructional content control the IDE,
          enabling better concept illustration and student interaction. Together with integrated
          assessments, it enhances your teaching materials and allows for a more immersive and
          rewarding learning experience for students.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/intro-to-software-engineering.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Greater insight into student progress
        </div>
        <div class="text">
          <a href="/features/lms">Learning management features</a> like recording student time spent in assignments, and use of
          integrated assessments give faculty far greater insight into student engagement and
          students get faster feedback loops on assignment challenges.
        </div>
      </div>
    </div>
  </div>
</section>
