---
title: Teaching code | Universities and Colleges | Codio
description: Codio is designed for teaching computer science. Cloud based, it works on any device.
fixed: true
transparent: false
---

<section class="header-block">
  <div class="header-text">
    <div class="heading">Is your bootcamp powered by Codio?</div>
    <div class="sub-heading">
      Courses run on Codio allow instructors more time to focus on student outcomes.
    </div>
  </div>
</section>

<section class="info-block">
  <div class="text">
    <b>Built originally for professional developers and used extensively by web and application development teams -</b><br/>
    Codio's platform combines real world tools with the education wrappers that make running a bootcamp
    simpler for instructors and students.
  </div>
  <%= link_to 'Explore', '', class: 'button button-rounded button-rounded-border' %>
</section>

<section class="content-body">
  <div class="features-block">
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/reduction-in-admin-time.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Real world tools
        </div>
        <div class="check-list">
          <ul class="check-list-list">
            <li class="check-list-list-item">
              Flexible uncapped ubuntu servers in the cloud with full sudo privileges
            </li>
            <li class="check-list-list-item">
              Git integrated with Aevery box
            </li>
            <li class="check-list-list-item">
              Fully web facing
            </li>
            <li class="check-list-list-item">
              Always on box options for pair and collaborative development
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/cost-saving.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Configure, template and share any programming environment instantly
        </div>
        <div class="check-list">
          <ul class="check-list-list">
            <li class="check-list-list-item">
              No wasted setup and configuration time
            </li>
            <li class="check-list-list-item">
              Libraries of pre-configured software (Python, Java, Ocaml, R_Studio, etc.). Or configure your own
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/sheffield-projects.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Instant access to compile & run student code
        </div>
        <div class="check-list">
          <ul class="check-list-list">
            <li class="check-list-list-item">
              Provide students with faster feedback
            </li>
            <li class="check-list-list-item">
              Easily find where a student is off track
            </li>
        </ul>
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/simple-bash-test.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Performance dataset for every student
        </div>
        <div class="check-list">
          <ul class="check-list-list">
            <li class="check-list-list-item">
              Previously inaccessible insights into student learning patterns and problem-solving behavior
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/intro-to-software-engineering.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Class management
        </div>
        <div class="check-list">
          <ul class="check-list-list">
            <li class="check-list-list-item">
              Easy LTI integration with existing LMS tools
            </li>
            <li class="check-list-list-item">
              Easily organize student groups into pairs or teams
            </li>
            <li class="check-list-list-item">
              Fully exportable data set
            </li>
            <li class="check-list-list-item">
              Easy consolidated admin support for multiple campus locations
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/certified-stacks.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Create and enhance your curriculum by authoring inside the development environment
        </div>
        <div class="check-list">
          <ul class="check-list-list">
            <li class="check-list-list-item">
              Create a better learning experience for students by bringing concepts to life in a uniquely interactive way
            </li>
            <li class="check-list-list-item">
              Curate and manage course materials
            </li>
            <li class="check-list-list-item">
              Powerful assessment, auto-grading, manual grading and code commenting tools
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <div class="button-block">
    <%= link_to 'Free 90 Days Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
    <div class="divider"></div>
    <%= link_to 'Schedule A Call', 'http://news.codio.com/contact-us', class: 'button button-rounded button-main' %>
  </div>
</section>

