---
title: Codio Books
layout: layout
fixed: true
transparent: false
description: Codio Books
---

<section class="carousel-block">
  <div id="bookCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#bookCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#bookCarousel" data-slide-to="1"></li>
      <li data-target="#bookCarousel" data-slide-to="2"></li>
      <li data-target="#bookCarousel" data-slide-to="3"></li>
    </ol>
    <div class="scrollto carousel-inner" role="listbox">
      <div class="item active slot-1">
        <div class="box">
          <div class="header-text">
            <div class="normal-text">
              Introducing
            </div>
            C-Books,
            <div class="italic-text">
              the most complete textbook replacement and web-based learning platform for computer science courses.
            </div>
            <br/>
            <%= link_to 'Learn how', 'http://news.codio.com/ci-books/what-you-get', class: 'button button-large button-main' %>
          </div>
          <div class="image">
            <%= image_tag '/img/assets/c-books/carousel/slider1-main-img.png', alt: 'Classes', class: '' %>
          </div>
        </div>
      </div>
      <div class="item slot-2">
        <div class="box">
          <div class="header-text">
            <div class="normal-text">
              C-Books combines the best of interactive textbooks with the leading cloud platform
              for computer science education - creating a better experience for educators and students
            </div>
            <br/>
            <%= link_to 'Learn how', 'http://news.codio.com/ci-books/what-you-get', class: 'button button-large button-main' %>
          </div>
          <div class="image">
            <%= image_tag '/img/assets/c-books/carousel/slider2-main-img.png', alt: 'Classes', class: '' %>
          </div>
        </div>
      </div>
      <div class="item slot-3">
        <div class="box">
          <div class="header-text">
            <div class="normal-text">
              C-Books provide full semester-long syllabi of interactive teaching units mapped to
              original textbooks, complete with assessments, practical labs and progress dashboards.
            </div>
            <br/>
            <%= link_to 'Learn how', 'http://news.codio.com/ci-books/what-you-get', class: 'button button-large button-main' %>
          </div>
          <div class="image">
            <%= image_tag '/img/assets/c-books/carousel/slider3-main-img.png', alt: 'Classes', class: '' %>
          </div>
        </div>
      </div>
      <div class="item slot-4">
        <div class="box">
          <div class="header-text">
            <div class="normal-text">
              C-Book licenses are free for instructors - and per student licenses are significantly
              less expensive than the costs for traditional VM and printed book costs.
            </div>
            <br/>
            <%= link_to 'Learn how', 'http://news.codio.com/ci-books/what-you-get', class: 'button button-large button-main' %>
          </div>
          <div class="image">
            <%= image_tag '/img/assets/c-books/carousel/slider4-main-img.png', alt: 'Classes', class: '' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-body">
  <div class="features-block">
    <!-- 1 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para1-img.png', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          The Best of both Worlds
        </div>
        <div class="text">
          C-Books provide instructors with unrivalled flexibility and control in leading intro
          programming courses including: full searchable textbooks, interactive examples, practice
          exercises and challenge-based assessments that are auto-graded + supplementary practical
          labs (also auto-gradable) and free form project workspaces in containerized VMs to take
          students from theory and concepts to practical mastery.
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para2-img.gif', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Interaction
        </div>
        <div class="text">
          Because C-Books run on Codio’s cloud learning platform, the learning experience
          integrates a powerful IDE, access to the terminal, ability to compile and run code,
          a highly visual debugger and many other real world developer tools unavailable in other
          imitation products.
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para3-img.png', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Flexible and Configurable
        </div>
        <div class="text">
          With C-Books, instructors can adopt Codio’s own researched teaching syllabus with
          elements of the textbook compiled into a semester long teaching syllabus, or configure
          their own by ‘cherry picking’ individual elements of chapters, topics and assessments
          sets to create a custom syllabus.  More than that, we’ve gone beyond the textbook to
          provide supplementary content and practical labs to allow student to go further in
          applying learning and demonstrating mastery.
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para4-img.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Save Time
        </div>
        <div class="text">
          C-Books saves instructors and teaching assistants significant admin time: all book
          content and assessment software are pre-configured in Codio’s powerful ubuntu-based cloud
          platform, use our syllabus by simply allocating modules to your class, easily add students
          and teaching assistants, track student progress through real-time insight dashboards,
          compile and run student code, integrate seamlessly with your own LMS for grade book
          exchange and single sign on. Put more time into mentoring and coaching students.
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para5-img.gif', alt: 'Interactivity on Steroids', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
           Interactivity on Steroids
        </div>
        <div class="text">
          Many textbook based platforms claim interactivity but none are built on a student
          friendly professional development environment complete with ubuntu servers, a leading
          edge IDE, sudo access, advanced auto-grading code assessment engine, terminal access,
          visual de-bugger, Git-integration and more.  Codio is used extensively by professional
          developers and educators keen to ensure students learn in a friendly but real world
          environment.
        </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para6-img.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
           Learning Insights
        </div>
        <div class="text">
          C-Books and the Codio platform are keystroke auto-save based which means your instructor
          dashboard allows you to see time stamps of student engagement, gain instant insight into
          student progress, track auto-graded assessment results, enjoy instant access to compile
          and run student code plus advanced tools to provide rich immediate feedback to students
          at every step on their learning journey.
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para7-img.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
           A Platform as much as a Textbook
        </div>
        <div class="text">
          Many institutions use Codio without textbooks for teaching courses from core CS1. CS2
          intro programming and data structures courses, through to advanced courses in Big Data,
          Software Engineering, Cyber security, Robotics and Machine learning.<br/>
          So aside from textbooks, Codio provides every instructor and student with uncapped access
          to project based workspaces, each an ubuntu instance with full sudo access to which the
          Codio IDE is attached.  Allow your students to go beyond the textbook with their own
          programming projects for literally any programming language.
        </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag '/img/assets/c-books/features/para8-img.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
           Simple & Easy to Adopt
        </div>
        <div class="text">
          Codio works with universities across the globe and has an unparalleled reputation for
          customer service excellence.  We offer free training webinars, extensive rich
          documentation, free on-boarding support, LMS/LTI integration, free 24/5 support all
          brought to you by and amazing team of computer scientists and edtech specialists.<br/>
          We pride ourselves on allowing instructors and departments to adopt Codio quickly and
          efficiently and see immediate positive impact on the teaching and student groups.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>"What You get" when You "buy" Books?</h2>
  <div class="button-block">
    <%= link_to 'Buy', 'http://news.codio.com/ci-books/what-you-get', class: 'button button-rounded button-main' %>
    <!--
    <div class="divider"></div>
    <%= link_to 'Buy', 'http://news.codio.com/ci-books/what-you-get', class: 'button button-rounded button-main' %>
    -->
  </div>
</section>

