---
title: Cloud Labs
description: Codio cloud labs is an infinitely scalable computer science lab in the cloud.
tags: computer science education, online ide, cloud infrastructure, cloud servers, containerization, computer labs
fixed: true
transparent: false
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class="header-block vertical">
  <div class="header-content">
    <div class="quote">Unlimited servers in the Cloud for each and every student</div>
    <div class="text">
      Codio CloudLabs is an infinitely scalable Computer Science lab in the Cloud. You might think
      it's just virtualization but it's not. In fact, it goes so far beyond virtual machines that you'll
      be totally amazed.
    </div>
    <%= link_to 'Learn How', '/features/infrastructure/', class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="content-body">
  <div class="features-block">
    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/reduction-in-admin-time.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Anything, Anywhere
        </div>
        <div class="text">
          CloudLabs lets faculty teach anything. Any programming language, database or other software components.
          It alsso lets users work from anywhere. You are no longer bound to the CS lab. Students just open up a
          browser on any machine, anywhere, sign-in and they have access to all their servers and a browser based IDE.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/cost-saving.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Incredibly Affordable
        </div>
        <div class="text">
          Containerization makes CloudLabs unbelievably affordable. When a server is not being used, it is automatically
          shut downso it does not consume resources. As soon as it is accessed, it spins up in just a couple of seconds.
          Exactly as you left it.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/sheffield-projects.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Major savings on Lab investment
        </div>
        <div class="text">
          Many of our customers are saving considerable amounts of money by reducing their need to invest in shiny new
          hardware every few years. Because everything runs on our infrastructure, all you need is a browser. And if
          students have their own laptops then you can significantly reduce the number of lab PCs you buy and maintain.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/simple-bash-test.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Take the strain off your SysAdmin
        </div>
        <div class="text">
          System Administrators are overloaded. CloudLabs means that whenever you want a particular software
          configuration for you and your students, you don’t have to even speak to them. They don’t need to conjure up
          custom configurations they are not familiar with and they don’t need to worry about security.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/intro-to-software-engineering.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Switch it on today. Grow tomorrow.
        </div>
        <div class="text">
          Getting going is instantaneous. There are no complex setup procedures. You just create an account and faculty
          and students can be creating and managing servers and coding projects immediately. And as you add more and
          more students you will never need to worry about scalability. We take care of that.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="line-mobile">
        <div class="dot"></div>
        <div class="bottom"></div>
      </div>
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/certified-stacks.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Built for Education
        </div>
        <div class="text">
          CloudLabs is very different from any other cloud based solution you will find. Although our core
          infrastructure is built for professional developers, we have a vast range of educational features that really
          matter. And if you want to integrate with Canvas, Blackboard or other LMS platforms, our CloudCS product has
          even more to offer above and beyond CloudLabs.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Free Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  <%= link_to 'Schedule A Call', 'http://news.codio.com/contact-us', class: 'button button-rounded button-main' %>
</section>
