---
title: Codio in Education
subtitle: education, teched, teaching and learning
submenu:
  -
    text: Overview
    url: '#overview'
    active: true
  -
    text: Educational Blog Posts
    url: '#blogposts'
  - 
    text: Development Timeline
    url: '#timeline'
  -
    text: Codio Annotations
    url: '#annotations'
---

<section id="overview">
  <h2>Codio in Education</h2>
  <p>Codio is putting considerable resources into helping developers the world over to learn how to code. Underpinning our strategy are the following key drivers</p>

  <ul>
    <li>A free, web based IDE and platform that can be used and embedded anywhere without restrictions</li>
    <li>Codio:Annotations****link****, an extensive set of features aimed at running annotated, interactive tutorials and code samples for any programming language</li>
    <li>Codio:Annotations can be set up with any IDE, not just the Codio IDE</li>
    <li>Curation features that allow tutorials to be categorized, voted on and commented on.</li>
    <li>A public, open-source Github project that aims to be a fully open, collaborative space where people can place and find tutorials for any programming language. The curation features will reference the Github project while not interfering with it.</li>
    <li>A dedicated Codio Education Ambassador, whose role is to assist and liaise with the community and feed great ideas back into the platform.</li>
    <li>Steering Groups that are supported by Codio but run by the community</li>
    <li>Developer Personalities - we believe that teaching is not just about presenting materials, but also about inspiration. There are many amazing developers out there who have built businesses, written legendary code and recognize the importance of coding to the modern economy. We aim to gather short video stories aimed at inspiring the next generation.</li>
  </ul>
</section>

<hr>

<section id="blogposts">
  <h2>Educational blog posts</h2>
  <p>We have already started to lay out our ideas on how to improve the way coding is taught and we will continue to write many more posts on this subject. You can find our blog posts below</p>

  <ul>
    <li><%= link_to 'A post-curriculum approach to teaching programming', '/blog/2013/04/post-curriculum/' %></li>
    <li><%= link_to 'Codio:Annotations - say it with a sample', '/blog/2013/04/say-it-with-a-sample/' %></li>
    <li><%= link_to 'Teaching to Code, learning to code', '/blog/2013/03/codio-for-education' %></li>
  </ul>
</section>

<hr>

<section id="timeline">
  <h2>Development Timeline</h2>
  <p>Development is already well underway and the first version of Codio:Annotations will be released by the end of April 2013. Below is a graphic that shows the development timetable.</p>

</section>

<hr>

<section id="annotations">
  <h2>Codio:Annotations</h2>
  <p>Before the end of April 2013, our first version of Codio:Annotations will be released. This is one of the main drivers of our educational efforts.</p>
  <p>Please go to the <%= link_to 'Codio:Annotations', '/blog/2013/03/codio-for-education' %> overview page where you can find all the details.</p>
</section>


<% content_for :foot do %>
  <%= javascript_include_tag 'vendor/scrollspy' %>
<% end %>