---
title: Developer and Students | Individual Subscription | Codio
description: Codio can be used by anyone to code as a professional team or to learn how to code. It is used by students and professional developers. An individual subscriptions provides you with full access to all Codio's features.
fixed: true
---

<section class='header-block'>
  <h1 class="animated fadeIn">Learn to Code</h1>
  <h2>
    Need a platform for extra exam revision?<br/>
    Tired of watching videos and want to actually code?
  </h2>
  <div class="action-buttons animated fadeInUp">
    <%= link_to 'Start 30 day FREE Trial', '/p/free-education-trial', class: 'button button-xlarge button-main' %>
  </div>
  <div class="clear">
  </div>
</section>

<section class="developer-body">
  <div class="section top">
    <h2 class="section-header">Codio for students and professionals</h2>

    <div class="section-block-row">
      <div class="section-block">
        <h4>
          Student?
        </h4>
        <div class="section-block-copy">
          <p>Codio is designed for anyone interested in learning to code. If you are a complete begginer,
            don't worry! Codio is used by computer science teachers for students of all levels. You can purchase
            an individual licence and pay on a mounthly basis.
          </p>
        </div>
        <%= link_to 'Features', '/features', class: 'button button-large button-top' %>
      </div>
      <div class="section-block">
        <h4>
          Professional Developer?
        </h4>
        <div class="section-block-copy">
          <p>No problem. Codio is a web-based front-end IDE that addresses all aspects of the development
            lifecycle &mdash; from prototype to deployment. It has features of a desktop IDE but the
            usability that developers expect in modern browser-based applications.
          </p>
        </div>
        <%= link_to 'See our pricing', '/pricing', class: 'button button-large button-top' %>
      </div>
    </div>

  </div>

  <hr/>

  <div class="section testimonial">
    <div class="bubble-container">
      <div class="bubble-section quote">
        <div class="section-block bubble">
          <div class="left-quote">
            &ldquo;
          </div>
          <div class="section-block-copy vertical">
            Codio is a fun, easy to use and safe environment for students to learn programming.
            The lessons are logically set out, interesting and iterative, with each lesson nicely
            building on the previous one.
          </div>
          <div class="right-quote">
            &rdquo;
          </div>
        </div>
        <div class="teacher">
          <div class="profile">
            <%= image_tag 'assets/developer/white-young-man.png', class: 'profile-img' %>
          </div>
          <div class="copy">
            <h4>Alex Briggs-Davies</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="section ide">
    <h3 class="chrome-store">5 stars on the chrome web store</h3>
    <span></span>
    <div class="stars">
      <h3 class="ide">Codio IDE</h3>
      <p>&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</p>
    </div>
  </div>

  <div class="grey">
    <div class="developer-img">
      <%= inline_svg "assets/developer/illustration.svg", class: 'developer-content-img' %>
    </div>
  </div>

  <div class="section features">
    <div class="section-body">
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header terminal-access">
            Full Terminal Access and Unlimited Private Projects
          </h3>
          <div class="section-block-copy">
            Students and professional developerscan chose to create an individual account. An
            individual account provides you with full terminal access, unlimited project space
            and one always on-server.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header curriculum">
            Curriculum-maped Courses
          </h3>
          <div class="section-block-copy">
            Over 80+ course units are available to use including computational thinking, Python,
            Java and Javascript. Courses are <a href="/docs/teacher/courses/ocr/">co-developed with Oxford, Cambridge and
            RSA (OCR)</a>, UK's leading exam board.
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header affordable">
            Affordable for All
          </h3>
          <div class="section-block-copy">
            Codio costs $15 per month for an individual license. As an individual user, you have
            access to the exact same tools and resources that Universities, Schools and Professional
            Businesses use.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header code">
            Code from Anywhere
          </h3>
          <div class="section-block-copy">
            Codio provides developers of all skill levels with access to a Web-based IDE for HTML,
            CSS and JavaScript development. As it is cloud based, you can access your projects
            from anywhere on any device.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section bottom">
      <h2>
        Learn more about codio's features
      </h2>
      <div class="action-buttons animated">
        <%= link_to 'Start FREE Trial', '/p/free-education-trial', class: 'button button-xlarge button-main' %>
        <%= link_to 'See our pricing', '/pricing', class: 'button button-xlarge button-main button-demo' %>
      </div>
    </div>
  </div>

</section>