---
title: Codio in Education
subtitle: education, teched, teaching and learning
submenu:
  -
    text: Overview
    url: '#overview'
    active: true
  -
    text: Codio Annotations
    url: '#annotations'   
  -
    text: Codio Curation
    url: '#curation'      
  -
    text: The Github Project
    url: '#github'        
  -
    text: Educode License
    url: '#educode'       
  -
    text: Inspire Program
    url: '#inspire'        
  -
    text: Blog Posts
    url: '#blogposts'
  - 
    text: Development Timeline
    url: '#timeline'
---

<section id="overview">
  <h2>Codio in Education</h2>
  <p>Codio is putting considerable resources into helping developers the world over to learn how to code. We're planning to do rather a lot this year, so read on to find out what and when.</p>
</section>

<hr>

<section id="annotations">
  <h2>Codio:Annotations</h2>
  <p>Codio:Annotations is one of the main drivers of our educational efforts and will be released before the end of April, 2013.</p>
  <p>The best place to find out more is to visit the <%= link_to 'Codio:Annotations documentation', '/docs/annotations/' %> where you can get an overview or dive into real detail.</p>
</section>

<hr>

<section id="curation">
  <h2>Curation</h2>
  <p>Codio will soon be adding a front-end layer that allows the community to collaborate in a Wiki like way on the way that teaching materials are structured and organized. Tutorials can be assigned to places within the curation structure so they can be found easily. We will also offer voting and commenting features so the best tutorials can float to the top and improved through feedback.</p>
  <p><img src="/img/blog/exp-curation.png"></p>
</section>

<hr>

<section id="github">
  <h2>The Github Project</h2>
  <p>Github is the clear leader in open source collaboration projects. Codio will soon be setting up a Github project that will be a goto place for tutorials of any kind. It is designed to work fully independently of Codio but the <a href="#curation">Codio curation</a> features will provide a very friendly front-end for students and learners.</p>
</section>

<hr>

<section id="educode">
  <h2>Educode License</h2>
  <p>We are creating a special license that we will recommend all tutorials and Codio:Annotation projects use. The purpose of this license is to make sure everything is completely open, copyable and leaves people free to improve all available materials in any way they see fit.</p>
</section>


<hr>

<section id="inspire">
  <h2>Inspire Program</h2>
  <p>With the Inspire Program, we will recruit renowned coders from all the world to deliver short, informal, ad hoc talks that aim to inspire the next generation of programmers. These will be in video format and will be published under the Educode License so teachers and collaborators are free to do with them whatever they like.</p>
</section>

<hr>

<section id="blogposts">
  <h2>Educational blog posts</h2>
  <p>We have already started to lay out our ideas on how to improve the way coding is taught and we will continue to write many more posts on this subject. You can find our blog posts below</p>

  <ul>
    <li><%= link_to 'A post-curriculum approach to teaching programming', '/blog/2013/04/post-curriculum/' %></li>
    <li><%= link_to 'Codio:Annotations - say it with a sample', '/blog/2013/04/say-it-with-a-sample/' %></li>
    <li><%= link_to 'Teaching to Code, learning to code', '/blog/2013/03/codio-for-education' %></li>
  </ul>
</section>

<hr>

<section id="timeline">
  <h2>Development Timeline</h2>
  <p>We're already well underway and here is our roadmap for our educational features and initiatives.</p>
  <img src="/img/edu-timeline.png">
</section>



<% content_for :foot do %>
  <%= javascript_include_tag 'vendor/scrollspy' %>
<% end %>