---
title: Back End Features
class_name: features
---

<div class="container">

  <header>
    <div>
      <h2>Just a few highlights of Codio's Back End features...</h2>
    </div>
    <div>
      <h1>More features than hairs on Chuck Norris chest!</h1>
    </div>
  </header>


  <section class="first">
    <h2>Every project gets a Box<small><a href="/docs/emmet/emmet-abbreviations/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>It couldn't be easier. Each Codio project gets a Box, out of the box. Nothing to configure. No delays and no hibernation. Our base Box is fast and free to use for all public projects.</p>
      <p>It comes preconfigured with Node (with full NVM support) and Ruby (with full RVM support).
    </article>

    <span>
      <canvas id="abbreviations_target" class="abbreviations_target" width="854" height="479">
        <div id="abbreviations_fallback" class="abbreviations_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/abbreviations_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section>
    <h2>Nodetastic<small><a href="/docs/command-bar/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>Clone your Node project (or create a brand new one), run `npm install` and you're ready to start coding within the Codio IDE. Even better, our integrated Node debugger will be out soon.</p>
    </article>

    <span>
      <canvas id="command_target" class="command_target" width="854" height="479">
        <div id="command_fallback" class="command_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/command_thumb.png", :width => 854, :height => 479 %>
  </section>

    <section>
    <h2>Node Debugger<small><a href="/docs/command-bar/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>From March, we'll be be releasing a Node debugger that will include breakpoint, stepping and variable &amp; call-stack inspection.</p>
    </article>

    <span>
      <canvas id="command_target" class="command_target" width="854" height="479">
        <div id="command_fallback" class="command_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/command_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section>
    <h2>Rubylicious<small><a href="/docs/panels/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>Ruby is also ready to run and, as with Node projects. Clone your project into Codio and you're ready to run. Our RVM support means any project will work just fine.</p>
    </article>
    <span>
      <canvas id="panels_target" class="panels_target" width="854" height="479">
        <div id="panels_fallback" class="panels_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/panels_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section>
    <h2>Run Commands<small><a href="/docs/emmet/emmet-actions/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>You can configure your own shell commands so they run with a click within Codio. Saves you the hassle of having to enter common commands in the Terminal window.</p>
      <p>All keyboard shortcuts can be overriden in the Settings screen. Take a look at the animation below.</p>
    </article>
    <span>
      <canvas id="shortcuts_target" class="shortcuts_target" width="854" height="479">
        <div id="shortcuts_fallback" class="shortcuts_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/shortcuts_thumb.png", :width => 854, :height => 479 %>
  </section>  

  <section>
    <h2>Bigger Boxes<small><a href="/docs/ide/ide-general/quick-open/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>Currently, there we offer a single box size. Before long, however, we will be offering a choice of box sizes.</p>
    </article>
    <span>
      <canvas id="open_target" class="open_target" width="854" height="479">
        <div id="open_fallback" class="open_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/open_thumb.png", :width => 854, :height => 479 %>
  </section>

  <section class="last">
    <h2>Always-On Boxes<small><a href="/docs/ide-beautify/"><i class="icon-file"></i> read the docs</a></small></h2>
    <article>
      <p>We will soon be offering Boxes that run whether your project is open in the Codio IDE or not, so you can leave server side applications running all the time.</p>
    </article>
    <span>
      <canvas id="beautify_target" class="beautify_target" width="854" height="479">
        <div id="beautify_fallback" class="beautify_target" style="width: 854px; height: 479px; position: relative;"></div>
      </canvas>
    </span>
    <%= image_tag "features/animated_pngs/beautify_thumb.png", :width => 854, :height => 479 %>
  </section>


</div>


<%= javascript_include_tag 'animations' %>