---
title: Building the Perfect Browser Based IDE
class_name: home home-sponblog
---

<%= partial 'partials/home-sponblog/header' %>

<aside class="home">
  <ul>
    <li><a href="#subject-matter">Subject Matter</a></li>    
    <li><a href="#payment">Remuneration</a></li>
    <li><a href="#use-codio">Using Codio</a></li>    
    <li><a href="#annotate">Annotations</a></li>
    <li><a href="#ready">Apply Now</a></li>
  </ul>
</aside>


<%= partial 'partials/home-sponblog/subject-matter' %>
<%= partial 'partials/home-sponblog/payment' %>
<%= partial 'partials/home-sponblog/use-codio' %>
<%= partial 'partials/home-sponblog/annotations' %>
<%= partial 'partials/home-sponblog/ready' %>


<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
