---
title: Teach computing. With confidence.
layout: layout
fixed: true
---

<section class='header-block'>
  <h1 class="animated fadeIn">
    Teach computing. With confidence.
  </h1>
  <h2 class="animated fadeIn">
    The cloud coding & content platform for teaching computer science
  </h2>
  <div class="action-buttons animated fadeInUp">
    <%= link_to 'Schools', '/school', class: 'button button-large' %>
    <%= link_to 'Universities', '/university', class: 'button button-large' %>
  </div>
</section>

<section class="index-content">
  <div id="index-content-start"></div>

  <div class="index-section index-section-partners">
    <h2>
      We are proud members and partners of
    </h2>
    <div class="index-section-partners-img">
      <%= image_tag 'assets/index/partners-ocr.png' %>
      <%= image_tag 'assets/index/partners-cas.png' %>
      <%= image_tag 'assets/index/partners-naace.png' %>
    </div>
  </div>

  <hr/>

  <%= partial "call-to-action" %>
</section>
