---
title: Building the Perfect Browser Based IDE
class_name: home
---

<%= partial 'partials/home/header' %>

<aside class="home">
  <ul>
    <li><a href="#opensource">Free for Open Source</a></li>
    <li><a href="#panels">IDE Panels &amp; Tabs</a></li>
    <li><a href="#productivity">Productivity</a></li>
    <li><a href="#demonstrate">Demo &amp; Embed</a></li>
    <li><a href="#speed">Blazingly fast!</a></li>
    <li><a href="#speed">Ready to go - No installs</a></li>
    <li><a href="#deployment">Deploy anywhere</a></li>
    <li><a href="#sourcecontrol">Git Support</a></li>
    <li><a href="#compiled">CoffeeScript, SASS, etc.</a></li>
    <li><a href="#realtime">Real-time Collaboration</a></li>
    <li><a href="#baked">Bower, Grunt &amp; Yo</a></li>
    <li><a href="#annotate">Annotations</a></li>
  </ul>
</aside>

<%= partial "partials/landing_pages/#{current_page.metadata[:locals][:lp]}" if current_page.metadata[:locals][:lp] %>

<%= partial 'partials/home/opensource' %>
<%= partial 'partials/home/panels' %>
<%= partial 'partials/home/productivity' %>
<%= partial 'partials/home/demonstrate' %>
<%= partial 'partials/home/speed' %>
<%= partial 'partials/home/deployment' %>
<%= partial 'partials/home/sourcecontrol' %>
<%= partial 'partials/home/compiled' %>
<%= partial 'partials/home/realtime' %>
<%= partial 'partials/home/baked' %>
<%= partial 'partials/home/annotations' %>


<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
