---
title: Home | Teaching code | Codio
layout: layout
fixed: true
description: Codio is the platform used by educators to teach computer science. It is for Universities, Schools, Vocational, Hackathons and Developers. Hassle-free for teachers and easy for students to use.
---

<section class="section-scroll">
  <nav id="scrollSpy" class="navbar scrollspy-dotted">
    <ul class="nav" >
      <li class="nav-item"><a class="nav-link" href="#block1"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block2"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block3"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block4"><span></span></a></li>
      <li></li>
    </ul>
  </nav>
  
  <div id="block1" class="block">
    <div class="title-text">
      <h2>Future proof your students’ role in the 21st Century</h2>
      <h4>Join educators in over 2,000 leading institutions on "the most through
        platform for computer science education". Equipping students with the skills needed to thrive.</h4>
      <%= link_to 'Free Trial', '/start-edu-trial',
        class: 'button button-rounded button-main' %>
    </div>
  </div>
  
  <div id="block2" class="block">
  </div>
  
  <div id="block3" class="block">
    <div class="title-text">
      <h2>"Insanely Convenient"</h2>
      <h4>Faculty find Codio an “insanely convenient” way to power their Computer Science courses</h4>
      <%= link_to 'COVENTRY UNIVERSITY AND CODIO', '',
        class: 'button button-rounded button-main' %>
    </div>
    <div class='logo-img'><%= image_tag 'assets/index/logos/coventry-university-logo.png',
      alt: 'Coventry University', class: '' %></div>
  </div>
  
  <div id="block4" class="block">
    <div class="title-text">
      <h2>"I grasped new concepts quickly with Codio"</h2>
      <h4>Bring CS knowledge and digital skills to non-CS majors.</h4>
      <%= link_to 'SEE HOW EASY IT IS TO PILOT CODIO', '',
        class: 'button button-rounded button-main' %>
    </div>
    <div class='logo-img'><%= image_tag 'assets/index/logos/florida-am-university-logo.png',
      alt: 'Florida A&M University', class: '' %></div>
  </div>
</section>
