---
title: The World's Most Powerful Browser-Based IDE
class_name: home
---

<% link_to '/education', id: 'education' do %>
  <div class="container">
    <h3>Teachers &amp; Students <small>Introducing Codio Education: teaching and learning to code has never been easier! <span>Tell me more...</span></small></h3>
  </div>
<% end %>

<%= partial 'partials/home/header' %>

<!-- <div id="hiring-home">
  <div class="container">
    <div>
      <%= link_to image_tag('hiring.gif', :width => 130), '/blog/2014/03/hiring-more-javascript-engineers/', :data => { :"no-turbolink" => true } %>
      <span>
        Marketing folk &amp;<br>Javascript Engineers!
       <%= link_to 'Click here to find out more...', '/blog/2014/03/hiring-more-javascript-engineers/' %>
        
      </span>
    </div>
  </div>
</div> -->


<%= partial 'partials/home/frontback' %>
<%= partial 'partials/home/overview' %>
<%= partial 'partials/home/ide' %>
<%= partial 'partials/home/boxes' %>
<%= partial 'partials/home/testimonials/kaigani' %>
<%= partial 'partials/home/box-parts' %>
<%= partial 'partials/home/testimonials/amyrhaq' %>
<%= partial 'partials/home/speed' %>
<%= partial 'partials/home/testimonials/stephenwil' %>
<%= partial 'partials/home/integrated' %>
<%= partial 'partials/home/testimonials/davetayls' %>
<%= partial 'partials/home/tutorials' %>

<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
