---
title: Home | Teaching code | Codio
layout: layout
fixed: true
transparent: false
description: The cloud infrastructure and learning management platform for computer science and stem education.
priority: 1.0
---

<section class="carousel-block">
  <div id="headerCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#headerCarousel" data-slide-to="1"></li>
      <li data-target="#headerCarousel" data-slide-to="2"></li>
    </ol>
    <div class="scrollto carousel-inner" role="listbox">
      <div class="item active slot-1">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Quality Computer Science Education</div>
            <div class="sub-heading">Raise student grade performance. Boost engagement. Save time. Reduce costs.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
        <div class="information">i</div>
        <div id="infoCarousel" class="information-border">
          <span>
            <div class="tooltip-text">
              Codio supports a wide range of Data Science courses with technologies including Python,
              Jupyter notebook, R, R-Studio, Hadoop, Spark and more - literally anything you can configure for Ubuntu.
            </div>
          </span>
        </div>
      </div>
      <div class="item slot-2">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Quality Computer Science Education</div>
            <div class="sub-heading">Raise student grade performance. Boost engagement. Save time. Reduce costs.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
        <div class="information">i</div>
        <div class="information-border">
          <span>
            <div class="tooltip-text">
              The ability to program objects to move autonomously is making huge advances. See
              <a href="https://www.csail.mit.edu/news/programming-drones-fly-face-uncertainty">this article</a>
              from one of Boston's leading Technology Institute's and
              <a href="http://news.columbia.edu/content/Thinking-Machines-When-Artificial-Intelligence-Takes-the-Wheel">this</a>
              from a leading New York university professor specializing in aritificial intelligence.
            </div>
          </span>
        </div>
      </div>
      <div class="item slot-3">
        <div class="box">
          <div class="header-text">
            <div class="heading">Higher Quality Computer Science Education</div>
            <div class="sub-heading">Raise student grade performance. Boost engagement. Save time. Reduce costs.</div>
          </div>
          <div class="header-button">
            <%= link_to 'Learn how', '#instructorTime', class: 'button button-large button-main' %>
          </div>
        </div>
        <div class="information">i</div>
        <div class="information-border">
          <span>
            <div class="tooltip-text">
              Working in partnership with Tony Prescott (Professor of Cognitive Robotics at
              Sheffield University and a co-founder of Consequential Robotics),
              Codio helped to configure a computationally intensive robotics simulator for the MiRo
              robot platform. See <a href=" http://consequentialrobotics.com/">here</a>.
            </div>
          </span>
        </div>
      </div>
   </div>
  </div>
</section>

<section class="features-block">
  <div class="block">
    <%= image_tag '/img/assets/index/icon1-piggybank.png', alt: 'Save money', class: 'icon' %>
    <div class="text">CS Departments save <span>more than</span></div>
    <div class="numbers">$50,000</div>
    <div class="text">per year</div>
  </div>
  <div class="block">
    <%= image_tag '/img/assets/index/icon2-hourglass.png', alt: 'Save money', class: 'icon' %>
    <div class="text">Instructors recover <span>more than</span></div>
    <div class="numbers">20%</div>
    <div class="text">of their time</div>
  </div>
</section>

<section class="info-block" id="instructorTime">
  <div class="title">Instructor Time</div>
  <div class="description">
    Instructors can waste hours setting up and sharing programming environments, running student code,
    grading and keeping their courses in sync with a general LMS.
  </div>
  <div class="two-text">
    <div class="two-text-left">Cut time wasted on admin and IT tasks by <span>20% or more</span></div>
    <div class="two-text-line"></div>
    <div class="two-text-right">For each instructor, redirect <span>$15,000+</span> worth of admin time to higher-value tasks</div>
  </div>
  <div class="img-block">
    <%= image_tag '/img/assets/index/instructor-time.png', alt: 'Instructor time', class: 'image' %>
    <div class="check-list">
      <ul class="check-list-list">
        <li class="check-list-list-item">
          Configure and template programming projects and share them with the class in seconds.
        </li>
        <li class="check-list-list-item">
          Access and run student code from any connected device in one click.
        </li>
        <li class="check-list-list-item">
          Automatically keep your course and grades in sync with Blackboard, Canvas, Moodle, and more.
        </li>
      </ul>
    </div>
  </div>
  <div class="schedule-demo">
    <%= link_to 'Schedule My Demo', 'http://news.codio.com/contact-us', class: 'button button-large button-main' %>
    <%= link_to 'Sheffield Case Study', 'http://news.codio.com/sheffield-university-uses-codio', class: 'button button-large button-main case-study-btn' %>
  </div>
</section>

<section class="testimonial-gordon-fraser">
  <%= image_tag '/img/assets/index/quote-left.png', alt: 'Quote Left', class: 'quote-left' %>
  <div class="quote-author-avatar"></div>
  <div class="quote-inner-info">
    <div class="quote-topic">Get your Sundays back</div>
    <div class="quote-text">
      Click on a student's project and five seconds later I can compile, run and debug without having
      to unzip or copy and paste it into my own environment. The time I save with this feature alone
      justifies the Codio platform and gives me back my Sundays.
    </div>
    <div class="quote-author">
      <div class="quote-author-info">
        <div class="quote-author-name">Dr. Gordon Fraser</div>
        <div class="quote-author-occupation">Senior Lecturer at Sheffield University</div>
      </div>
    </div>
  </div>
  <%= image_tag '/img/assets/index/quote-right.png', alt: 'Quote Right', class: 'quote-right' %>
</section>

<section class="info-block" id="gradingCosts">
  <div class="title">Grading Costs</div>
  <div class="description">
    Grading is often hugely labor intensive, and costs most CS departments tens of thousands of dollars
    in instructor and GA time each year.
  </div>
  <div class="two-text">
    <div class="two-text-left">Save tens of thousands of dollars in grading costs each year.</div>
    <div class="two-text-line"></div>
    <div class="two-text-right">Grade <span>50-70% faster</span> and automate up to 90%+ of your intro CS course grading.</div>
  </div>
  <div class="img-block">
    <%= image_tag '/img/assets/index/grading-costs.png', alt: 'Grading Costs', class: 'image' %>
    <div class="check-list">
      <ul class="check-list-list">
        <li class="check-list-list-item">
          Auto-grade argument-based and stdin inputs without writing a single line of test code.
        </li>
        <li class="check-list-list-item">
          Speed up manual grading by clicking your way through customizable rubrics.
        </li>
        <li class="check-list-list-item">
          Write custom code in any language to instantly assess almost any testable case.
        </li>
      </ul>
    </div>
  </div>
  <div class="schedule-demo">
    <%= link_to 'Schedule My Demo', 'http://news.codio.com/contact-us', class: 'button button-large button-main' %>
  </div>
</section>

<section class="testimonial-mateen-rizki-black">
  <%= image_tag '/img/assets/index/quote-left.png', alt: 'Quote Left', class: 'quote-left' %>
  <div class="quote-author-avatar"></div>
  <div class="quote-inner-info">
    <div class="quote-topic">Convert manually graded assignments to auto-graded ones</div>
    <div class="quote-text">
      We spend a six-figure sum each year on grading assignments. We will now convert many of our manually
      graded assignments into auto-graded coding assessments. We fully expect to be able to make cost
      saving in the tens of thousands of dollars by using Codio's auto-grading functionality.
    </div>
    <div class="quote-author">
      <div class="quote-author-info">
        <div class="quote-author-name">Mateen Rizki</div>
        <div class="quote-author-occupation">
          Chair of the Department of Computer Science & Engineering at Wright State University
        </div>
      </div>
    </div>
  </div>
  <%= image_tag '/img/assets/index/quote-right.png', alt: 'Quote Right', class: 'quote-right' %>
</section>

<section class="info-block" id="studentEngagement">
  <div class="title">Student Engagement</div>
  <div class="image-text">
    <div class="image-block">
      <%= image_tag '/img/assets/index/student-engagement.jpg', alt: 'Student Engagement', class: '' %>
    </div>
    <div class="text-block">
      <div class="info">
        When instructors lack the time and tools needed to provide today's CS students with the learning
        experience they expect, student engagement and performance suffers.
      </div>
      <p>
        <span>Boost student satisfaction</span> with the engaging learning experience and more 1-on-1 help.<br/>
      </p>
      <p><span>Reduce student attrition</span> and rescue $10,000+ in fees per semester.</p>
    </div>
  </div>
  <div class="img-block">
    <%= image_tag '/img/assets/index/student-engagement.png', alt: 'Student Engagement', class: 'image' %>
    <div class="check-list">
      <ul class="check-list-list">
        <li class="check-list-list-item">
          Instant access to student code makes it easy to critique solutions during labs.
        </li>
        <li class="check-list-list-item">
          Time-based insight into each student's programming helps them correct course before it's too late.
        </li>
        <li class="check-list-list-item">
          Students can access their Codio IDE, GUI outputs, coursework, and assessments in one place - from any device.
        </li>
      </ul>
    </div>
  </div>
  <div class="schedule-demo">
    <%= link_to 'Schedule My Demo', 'http://news.codio.com/contact-us', class: 'button button-large button-main' %>
  </div>
</section>

<section class="info-block" id="easySetup">
  <div class="title">Easy Setup</div>
  <div class="description">
    Many colleges and universities want to upgrade to a cloud infrastructure and LMS made for CS programs,
    but the cost, both in time and money, prevents them.
  </div>
  <div class="two-text">
    <div class="two-text-left">Save thousands of dollars in training fees - we train faculty for free.</div>
    <div class="two-text-line"></div>
    <div class="two-text-right">Start delivering courses in Codio within days of getting started.</div>
  </div>
  <div class="img-block">
    <%= image_tag '/img/assets/index/easy-setup.png', alt: 'Easy Setup', class: 'image' %>
    <div class="check-list">
      <ul class="check-list-list">
        <li class="check-list-list-item">
          Faculty, IT, and leadership receive free 1-on-1 and 1-to-many training.
        </li>
        <li class="check-list-list-item">
          All licenses come with unlimited phone and email support.
        </li>
        <li class="check-list-list-item">
          Large schools are up and running in weeks.
        </li>
      </ul>
    </div>
  </div>
  <div class="schedule-demo">
    <%= link_to 'Schedule My Demo', 'http://news.codio.com/contact-us', class: 'button button-large button-main' %>
  </div>
</section>
