---
title: Home | Teaching code | Codio
layout: layout
fixed: true
transparent: true
description: Join over 2,000 leading institutions on the most thorough platform for computer science education. Equipping students with the skills needed to thrive.
priority: 1.0
---

<section class="section-scroll">
  <div class="block-rectangle">
    <div class="content-wrapper">
      <div class="content-item">
        <div class="caption">
          <h2>The Cloud Infrastructure and LMS for Computer Science<br/>
            and STEAM education
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="cell-wrapper">
        <div class="featured-posts">
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Jill Coddington", "http://news.codio.com/author/jill-coddington", class: "author-link" %>
                </div>
                <div class="post-date">Apr 20, 2017</div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Codio releases curriculum mapped to both CSTA standards and K12 CS framework",
                                  "http://news.codio.com/codio-releases-curriculum-mapped-to-csta-standards-and-k12-cs-framework" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "K12", "http://news.codio.com/topic/k12", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Mateen Rizki", "http://news.codio.com/author/mateen-rizki", class: "author-link" %>
                </div>
                <div class="post-date">Apr 20, 2017</div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Case study: Wright State University",
                                  "http://news.codio.com/codio-used-to-teach-cs-and-non-cs-majors-at-wright-state-university" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Jennifer Bilec-Sullivan", "http://news.codio.com/author/jennifer-bilec-sullivan", class: "author-link" %>
                </div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Case Study: Florida A&M University",
                                  "http://news.codio.com/famu-case-study" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Jennifer Bilec-Sullivan", "http://news.codio.com/author/jennifer-bilec-sullivan", class: "author-link" %>
                </div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Case Study with Gordon Fraser",
                                  "http://news.codio.com/http://news.codio.com/codio-at-sheffield-university" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
