---
title: Building the Perfect Browser Based IDE
class_name: home
---

<header>
  <div class="container">

    <div id="tagline"><%= image_tag 'home/header-amazing.gif', :width => 641, :height => 230 %></div>
    <div id="reel"><%= image_tag 'reel.png', :width => 420, :height => 420 %></div>

  </div>
</header>

<section id="highlighted-feature">
  <div class="container">
    <div>
      <h2>Codio:Annotations <small>It's free and it's available now</small></h2>
      <p>Introducing an amazing new way to create rich, interactive documentation for tutorials, APIs, developer documentation or anywhere you want code documentation to be a cut above the rest - and it's all part of your code!</p>

      <div>
        <a href="http://youtube.com/v/Fk3eG_eSRPM" class="fancybox fancybox.iframe">
          <%= image_tag '//i3.ytimg.com/vi/Fk3eG_eSRPM/mqdefault.jpg', :width => 322, :height => 182 %>
          <i class="icon-play-circle icon-4x"></i>
        </a>
        <p>Watch the video on the left,<br><%= link_to 'read the documentation', '/docs/annotations/' %>,<br><a href="/#tryit">play with Annotations</a> in the embedded IDE,<br>or <a href="/#examples">try some examples</a>. It's all part of our push to <%= link_to 'teach coding in schools', '/education' %>.</p>
      </div>
    </div>

    <div class="screenshot">
      <%= image_tag 'home/highlighted-features/annotations.png', :width => 380 %>
      <span></span>
    </div>
  </div>
</section>

