---
title: Building the Perfect Browser Based IDE
class_name: home
---

<%= partial 'partials/home/header' %>

<aside class="home">
  <ul>
    <li><a href="#overview">How It Works</a></li>  	
    <li><a href="#ide">The IDE</a></li>
    <li><a href="#boxes">Boxes</a></li>
    <li><a href="#box-parts">Box Parts</a></li>
    <li><a href="#speed">Blazingly Fast</a></li>    
    <li><a href="#integrated">Integrated</a></li>    
    <li><a href="#tutorials">Node Tutorials</a></li>    
  </ul>
</aside>

<%= partial "partials/landing_pages/#{current_page.metadata[:locals][:lp]}" if current_page.metadata[:locals][:lp] %>

<%= partial 'partials/home/overview' %>

<%= partial 'partials/home/ide' %>

<%= partial 'partials/home/boxes' %>

<%= partial 'partials/home/box-parts' %>

<%= partial 'partials/home/speed' %>

<%= partial 'partials/home/integrated' %>

<%= partial 'partials/home/tutorials' %>


<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
