---
title: Home | Teaching code | Codio
layout: layout
fixed: true
description: Used by 93,000 users and 2,000 institutions. Codio is the "most complete platform" for computer science education that includes an online ide for education, curriculum authoring tools and more.
---

<section class="section-scroll">
  <nav id="scrollSpy" class="navbar scrollspy-dotted">
    <ul class="nav" >
      <li class="nav-item"><a class="nav-link" href="#block1"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block2"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block3"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block4"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block5"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block6"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block7"><span></span></a></li>
      <li></li>
    </ul>
  </nav>
  
  <div id="block1" class="block">
    <div class="title-text">
      <h2>Future proof your students’ role in the 21st Century</h2>
      <h4>Join educators in over 2,000 leading institutions on "the most through
        platform for computer science education". Equipping students with the skills needed to thrive.</h4>
      <%= link_to 'Free Trial', '/start-edu-trial',
        class: 'button button-rounded button-main' %>
    </div>
  </div>
  
  <div id="block2" class="block">
    <h2>Sharper your tool box</h2>
    <div class="toolbox">
      <div class="box">
        <div class="header"><span>Infrastructure</span></div>
        <div class="dot-line"><div class="dot"></div></div>
        <div class="body">
          <div class="scope-item">
            <div class="scope-img">
              <%= inline_svg 'assets/index/infrastructure.svg', class: '' %>
            </div>
            <div class="scope-txt">
              <span>
                Massively scalable containerized infrastructure gives teachers and students unlimited,
                low-cost, fast start, sudo privileged Ubuntu containers in the cloud.
              </span>
            </div>
            <div class="scope-button">
              <%= link_to 'Learn More', '/features/infrastructure', class: '' %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="box">
        <div class="header"><span>Online IDE</span></div>
        <div class="dot-line"><div class="dot"></div></div>
        <div class="body">
          <div class="scope-item">
            <div class="scope-img">
              <%= inline_svg 'assets/index/webbased.svg', class: '' %>
            </div>
            <div class="scope-txt">
              <span>
                You can use any programming language, database or software component, configured to your
                exact specification in an IDE that is used by students and experts.
              </span>
            </div>
            <div class="scope-button">
              <%= link_to 'Learn More', '/features/ide', class: '' %>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="header"><span>Grading & Auto-grading</span></div>
        <div class="dot-line"><div class="dot"></div></div>
        <div class="body">
          <div class="scope-item">
            <div class="scope-img">
              <%= inline_svg 'assets/index/projecttemplates.svg', class: '' %>
            </div>
            <div class="scope-txt">
              <span>
                Codio has the richest support for autograded and manually graded assessments of any
                platform (designed for computer science education).
              </span>
            </div>
            <div class="scope-button">
              <%= link_to 'Learn More', '/docs/content/authoring/assessments/', class: '' %>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="header"><span>LMS Integration</span></div>
        <div class="dot-line"><div class="dot"></div></div>
        <div class="body">
          <div class="scope-item">
            <div class="scope-img">
              <%= inline_svg 'assets/index/learning.svg', class: '' %>
            </div>
            <div class="scope-txt">
              <span>
                Choose between Codio's own extensive LMS features or an external LMS such as Canvas,
                Blackboard, Moodle and more.
              </span>
            </div>
            <div class="scope-button">
              <%= link_to 'Learn More', '/blog/codio-releases-integration-with-lms-platforms/', class: '' %>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="header"><span>Curriculum Authoring</span></div>
        <div class="dot-line"><div class="dot"></div></div>
        <div class="body">
          <div class="scope-item">
            <div class="scope-img">
              <%= inline_svg 'assets/index/contentauthoring.svg', class: '' %>
            </div>
            <div class="scope-txt">
              <span>
                Codio is the only platform to offer top quality curriculum authoring tools that control
                the IDE. Create simple assignments all the way through to an entire book.
              </span>
            </div>
            <div class="scope-button">
              <%= link_to 'Learn More', '/features/curriculum', class: '' %>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="header"><span>Templating<span></div>
        <div class="dot-line"><div class="dot"></div></div>
        <div class="body">
          <div class="scope-item">
            <div class="scope-img">
              <%= inline_svg 'assets/index/curriculumcontent.svg', class: '' %>
            </div>
            <div class="scope-txt">
              <span>
                Take any custom software configuration (language, database or components) you have
                created and add them to your template library for use by anyone.
              </span>
            </div>
            <div class="scope-button">
              <%= link_to 'Learn More', '/features/templates', class: '' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div id="block3" class="block">
    <div class="title-text">
      <h2>"Insanely Convenient"</h2>
      <h4>Faculty find Codio an “insanely convenient” way to power their Computer Science courses</h4>
      <%= link_to 'COVENTRY UNIVERSITY AND CODIO', '',
        class: 'button button-rounded button-main' %>
    </div>
    <div class='logo-img'><%= image_tag 'assets/index/logos/coventry-university-logo.png',
      alt: 'Coventry University', class: '' %></div>
  </div>
  
  <div id="block4" class="block">
    <div class="title-text">
      <h2>"I grasped new concepts quickly with Codio"</h2>
      <h4>Bring CS knowledge and digital skills to non-CS majors.</h4>
      <%= link_to 'SEE HOW EASY IT IS TO PILOT CODIO', '',
        class: 'button button-rounded button-main' %>
    </div>
    <div class='logo-img'><%= image_tag 'assets/index/logos/florida-am-university-logo.png',
      alt: 'Florida A&M University', class: '' %></div>
  </div>
  
  <div id="block5" class="block">
    <div class="title-text">
      <h2>Engage your community</h2>
      <h4>Conquering student intimidation opens up a new world. Help take them there</h4>
      <%= link_to 'YOUR CURRICULUM. POWERED BY US', '',
        class: 'button button-rounded button-main' %>
    </div>
  </div>
  
  <div id="block6" class="block">
    <div class="title-text">
      <h2>Transform your CS course delivery</h2>
      <h4>Empower students when you spend 20% less time on admin and grading</h4>
      <%= link_to 'SHEFFIELD UNIVERSITY AND CODIO', '',
        class: 'button button-rounded button-main' %>
    </div>
    <div class='logo-img'><%= image_tag 'assets/index/logos/sheffield-university-logo.png',
      alt: 'The University Of Sheffield', class: '' %></div>
  </div>
  
  <div id="block7" class="block">
    <div class="title-text">
      <h2>Grab their imagination</h2>
      <h4>Students realize their vision from the first day of class</h4>
      <%= link_to 'PILOT CODIO IN YOUR SCHOOL', '',
        class: 'button button-rounded button-main' %>
    </div>
  </div>

  <div class="block block-ready-started">
    <h2>Ready to get started?</h2>
    <%= link_to 'Start Free Trial', '/start-edu-trial',
        class: 'button button-rounded button-main' %>
  </div>
</section>
