---
title: Home | Teaching code | Codio
layout: layout
fixed: true
description: Codio is the platform used by educators to teach computer science. It is for Universities, Schools, Vocational, Hackathons and Developers. Hassle-free for teachers and easy for students to use.
---

<section class="header-block">
  <div class="carousel-block">
    <div id="headerCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="http://email.codio.com/plagiarism-detection-for-source-code/">
            <%= image_tag 'assets/index/carousel/new_plagiarism_checker.jpg', class: 'img-responsive center-block' %>
          </a>
        </div>
        <div class="item">
          <a href="https://codio.com/blog/product-announcement-learn-to-think-computationally-by-making-your-very-own-maze-game/">
            <%= image_tag 'assets/index/carousel/maze_game.jpg', class: 'img-responsive center-block' %>
          </a>
          <div class="img-container"></div>
        </div>
        <div class="item">
          <a href="https://codio.com/blog/integrated-debugger-launched-for-multiple-programming-languages/">
            <%= image_tag 'assets/index/carousel/integrated_debugger.jpg', class: '' %>
          </a>
        </div>
      </div>

      <a class="left carousel-control" href="#headerCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>

      <a class="right carousel-control" href="#headerCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</section>

<section class="index-content">
  <div class="index-section-video">
    <h2>What is Codio?</h2>
    <div class="h_iframe">
      <%= image_tag 'assets/placeholdit.png', class: "ratio" %>
      <iframe src="https://player.vimeo.com/video/170160323?portrait=0"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>

  <hr/>

  <div class="index-section-scope">
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/infrastructure.svg', class: '' %>
      </div>
      <h3>Infrastructure as a service</h3>
      <div class="scope-txt">Cloud based, Codio is low on hardware requirements and big on savings, realibility and flexibility.</div>
      <%= link_to 'Learn more', '/features/infrastructure', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/webbased.svg', class: '' %>
      </div>
      <h3>Web-based IDE</h3>
      <div class="scope-txt">Less hassle than installing an IDE on your network or desktop, with no compromises on functionality.</div>
      <%= link_to 'Learn more', '/features/ide', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/projecttemplates.svg', class: '' %>
      </div>
      <h3>Project templates</h3>
      <div class="scope-txt">The fast and simple way to create new computer science teaching projects, and adapt existing ones.
        You can use our pre-configured stacks or create you one.</div>
      <%= link_to 'Learn more', '/features/templates', class: 'button button-large scope-button' %>
    </div>
  </div>
  <div class="index-section-scope">
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/learning.svg', class: '' %>
      </div>
      <h3>Learning management</h3>
      <div class="scope-txt">Manage your computer science classes from the Codio dashboard. Watch your students progress through a course. 
        Assessments are auto-marked, so you save time.</div>
        <%= link_to 'Learn more', '/features/management', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/contentauthoring.svg', class: '' %>
      </div>
      <h3>Content authoring</h3>
      <div class="scope-txt">Create your own course content either by uploading your class notes or
        creating interactive content directly within the IDE.</div>
        <%= link_to 'Learn more', '/features/content-authoring', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/curriculumcontent.svg', class: '' %>
      </div>
      <h3>Curriculum content</h3>
      <div class="scope-txt">We've co-developed over 80 courses with Oxford, Cambridge and RSA (OCR) &mdash; all
        mapped to the UK Computer Science national curriculum.</div>
        <%= link_to 'Learn more', '/features/curriculum', class: 'button button-large scope-button' %>
    </div>
  </div>

  <div class="index-section-testimonials">
    <div class="testimonial-block img">
      <a href="https://codio.com/blog/kent-state-university-teaches-big-data-using-the-codio-platform/">
        <%= image_tag 'assets/index/t1.jpg', class: '' %>
      </a>
    </div>

    <div class="testimonial-block text light-theme">
      <a href="https://codio.com/blog/kent-state-university-teaches-big-data-using-the-codio-platform/">
        <div style="width: 100%; height: 100%">
          <div class="txt-right">
            <p>"I'm impressed with Codio’s Box technology and how it allows students to quickly spin up
            a distributed system or even variations without having to purchase dedicated cloud servers
            or administer systems in-house."</p>
            <p class="txt-quotes">&mdash; Dr. DeLozier,<br/>Kent State University</p>
          </div>
        </div>
      </a>
    </div>

    <div class="testimonial-block text dark-theme">
      <a href="https://codio.com/blog/durham-johnston-school-codio-at-the-chalkface">
        <div style="width: 100%; height: 100%">
          <div class="txt-left">
            <p>"Our A-Level students are completing a unit on HTML, CSS and Javascript. They really
            like that Codio creates a URL that is viewable live on any machine."</p>
            <p class="txt-quotes">&mdash; Ben Garside,<br/>Durham Johnston School</p>
          </div>
        </div>
      </a>
    </div>

    <div class="testimonial-block img">
      <a href="https://codio.com/blog/durham-johnston-school-codio-at-the-chalkface">
        <%= image_tag 'assets/index/t2.jpg', class: '' %>
      </a>
    </div>
  </div>

  <div class="description-block">
    <h4>What is Codio?</h4>
    <p>Codio is a web-based platform used to teach computer science.</p>
    <p>Codio contains a unique combination of technologies that you'll find hard to match.
      It provides a professional grade IDE, learning management tools, project templates,
      course authoring and curriculum all in one.</p>
      <p></p>
    </div>

    <hr/>

    <div class="index-section index-section-partners">
      <h2>
        Our Customers and Partners
      </h2>
      <div class="index-section-partners-img">
        <%= image_tag 'assets/index/logos/aga_khan.png' %>
        <%= image_tag 'assets/index/logos/duck_duck.png' %>
        <%= image_tag 'assets/index/logos/durham.png' %>
        <%= image_tag 'assets/index/logos/kent_state.png' %>
        <%= image_tag 'assets/index/logos/ocr.png' %>
        <%= image_tag 'assets/index/logos/partners-cas.png' %>
        <%= image_tag 'assets/index/logos/partners-naace.png' %>
      </div>
    </div>
    <hr/>
  </section>
