---
title: Home | Teaching code | Codio
layout: layout
fixed: true
transparent: false
description: The cloud infrastructure and learning management platform for computer science and stem education.
priority: 1.0
---

<section class="section-scroll">
  <div class="block-rectangle">
    <div class="content-wrapper">
      <div class="top-block">
        <div class="top-row">
          <div class="number">1</div>
          <div class="text">&lt;head&gt;</div>
        </div>
        <div class="top-row">
          <div class="number">2</div>
          <div class="text">Codio is the cloud infrastructure & LMS for CS and STEM education that makes</div>
        </div>
        <div class="top-row">
          <div class="number">3</div>
          <div class="text">teaching easier and creates a better learning experience for students.</div>
        </div>
        <div class="top-row">
          <div class="number">4</div>
          <div class="text">&lt;/head&gt;</div>
        </div>
        <div class="top-row">
          <div class="text">
            The cloud infrastructure & LMS for CS and STEM education making
            faculty life easier and creating a better learning experience for students.
          </div>
        </div>
        <div class="top-row">
          <div class="boxes">
            <div class="box">
              <div class="box-content">
                <div class="box-image">
                  <img src="/img/assets/index/cloud-cs.png">
                </div>
                <div class="box-header">Cloud CS</div>
                <div class="box-text">
                  Codio Cloud CS is the LMS for Computer science and STEAM education designed to minimise faculty
                  admin time, lower IT expense and maximise student engagement, meaning better outcomes for everyone.
                </div>
                <div class="box-button">
                  <%= link_to "Explore CS", "/cloudcs", class: "button button-main button-rounded" %>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="box-content">
                <div class="box-image">
                  <img src="/img/assets/index/cloud-labs.png">
                </div>
                <div class="box-header">Cloud Labs</div>
                <div class="box-text">
                  Codio CloudLabs is an infinitely scalable Computer Science lab in the Cloud. You might think it's
                  just virtualization but it's not. In fact, it goes so far beyond virtual machines that you'll be
                  totally amazed.
                </div>
                <div class="box-button">
                  <%= link_to "Learn More", "/cloudlabs", class: "button button-main button-rounded" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="cell-wrapper">
        <div class="featured-posts">
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Jennifer Bilec-Sullivan", "http://news.codio.com/author/jennifer-bilec-sullivan", class: "author-link" %>
                </div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Case Study with Gordon Fraser",
                                  "http://news.codio.com/sheffield-university-uses-codio" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Mateen Rizki", "http://news.codio.com/author/mateen-rizki", class: "author-link" %>
                </div>
                <div class="post-date">Apr 20, 2017</div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Case study: Wright State University", "http://news.codio.com/wsu-uses-codio" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="author-data">
                  <%= link_to "Jennifer Bilec-Sullivan", "http://news.codio.com/author/jennifer-bilec-sullivan", class: "author-link" %>
                </div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "Case Study: Florida A&M University", "http://news.codio.com/codio-at-famu" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="post-image">
              <div class="item-wrapper">
                <div class="post-date">July 25, 2016</div>
                <div class="title-wrap">
                  <div class="post-title">
                    <h2>
                      <%= link_to "", "http://news.codio.com/codio-at-coventry-university/" %>
                    </h2>
                  </div>
                  <div class="post-recents-topic">
                    <%= link_to "University", "http://news.codio.com/topic/university", class: "button button-main" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
