---
title: Building the Perfect Browser Based IDE
class_name: home
---

<header>
  <div class="container">

    <div id="tagline">
      <%= image_tag 'home/header-amazing.png', :width => 583 %>

      <div>
        <p>Public projects are free! <a href="/p/create">Create your first one now...</a></p>
      </div>
    </div>

    <div id="screen">
      <a href="http://player.vimeo.com/video/74220594?autoplay=1" target="_blank" class="fancybox fancybox.iframe icon-play-circle" id="video"></a>
    </div>

  </div>
</header>

<aside class="home">
  <ul>
    <li><a href="#speed">Blazingly fast!</a></li>
    <li><a href="#speed">Ready to go - No installs</a></li>
    <li><a href="#panels">IDE Panels &amp; Tabs</a></li>
    <li><a href="#productivity">Productivity, productivity</a></li>
    <li><a href="#deployment">Deploy anywhere</a></li>
    <li><a href="#opensource">Free for OSS &amp; Education</a></li>
    <li><a href="#sourcecontrol">Git in the cloud</a></li>
    <li><a href="#compiled">CoffeeScript, SASS, etc.</a></li>
    <li><a href="#realtime">Real-time Collaboration</a></li>
    <li><a href="#baked">Integrated Tools - Bower</a></li>
    <li><a href="#annotate-embed">Annotate &amp; Embed</a></li>
  </ul>
</aside>

<section id="speed">
  <div class="container">
    <div>
      <div>
        <h2>Blazingly Fast</h2>
        <p>Everything you do in Codio is <strong>fast</strong>, which further increases your productivity. Installing a Bower component takes seconds, deploying code is almost instantaneous.</p>
      </div>

      <div>
        <h2>Your stack awaits</h2>
        <p>Everything you need for modern web development is right here and instantly ready to go. <strong>No installs</strong>, no configuring. All you need is your browser.</p>
      </div>
    </div>
  </div>
</section>

<section id="panels">
  <div class="container">
    <div>
      <div>
        <h2>Panels &amp; Tabs</h2>
        <h3>Any arrangement you need</h3>
        <p>Codio has sensational panel and tab layout capability. You can arrange your panels in exactly the way you want.</p>
        <p>And you can freely reorder tabs and drag them to other panels.</p>

        <div class="links">
          <% link_to '/docs/panels' do %>
            <i class="icon-file"></i> Take me to the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74289800?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="productivity">
  <div class="container">
    <div>
      <div>
        <h2>Productivity</h2>
        <h3>Work and code faster than ever before</h3>
        <p>With Codio, you can <strong>work and code faster</strong>, because we give you to productivity features and tools that you need to succeed fast!</p>
        <p>Syntax highlighting for hundreds of languages, code completion, TextMate-like snippets, fully customizable keyboard shortcuts, TernJS, Emmet, code folding, multiple cursors, color preview/picker, inline preview and much more.</p>
      </div>
    </div>
  </div>
</section>

<section id="deployment">
  <div class="container">
    <div>
      <div>
        <h2>Deploy your code</h2>
        <h3>To production &amp; staging, or anywhere you like.</h3>
        <p>Fast, one-click deployment to any number of test, staging and production environments: <strong>FTP</strong>, <strong>SFTP</strong>, <strong>Parse</strong>, <strong>NodeJitsu</strong>, as well as <strong>Codio's own hosting</strong> platform.</p>
        <p>Being cloud based, these are much faster than deploying from the desktop.</p>

        <div class="links">
          <% link_to '/docs/deployment' do %>
            <i class="icon-file"></i> Take me to the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74279407?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="opensource">
  <div class="container">
    <div>
      <div>
        <h2>Open Source is Free</h2>
        <p>Codio is free for absolutely any project whose source is publicly available. No exceptions.</p>
      </div>

      <div><%= image_tag 'home/oss.png', :width => 106, :height => 128 %></div>

      <div>
        <h2>Education is free</h2>
        <p>Codio is a perfect for teaching and learning to code. <a href="/p/create" data-no-turbolink="1">Create a project</a> and you're ready to run your code.</p>
      </div>
    </div>
  </div>
</section>

<section id="sourcecontrol">
  <div class="container">
    <div>
      <div>
        <h2><%= image_tag 'home/git.png', :width => 36 %> Git in the Cloud</h2>
        <h3>Truly collaborative source control</h3>
        <p>We've spent a lot of time bringing Git into the browser, while still allowing you to use Git in the way you are familiar with. And that means full command line access for all your most used Git commands. Codio has <strong>tight integration with Git</strong>, allowing you to pull and push with any remote repository. It just works!</p>
        <div class="links">
          <% link_to '/docs/git' do %>
            <i class="icon-file"></i> Take me to the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74363882?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="compiled">
  <div class="container">
    <div>
      <div>
        <h2>CoffeeScript, SASS, Less</h2>
        <h3>Pre-process and compile on demand</h3>
        <p>Codio has direct support for writing and running <strong>CoffeeScript, Sass, SCSS and Less</strong>. No manual compilation steps are needed, and you can preview your compiled code any time you want. We'll even compile these when accessing via your HTML.</p>
        <div class="links">
          <% link_to '/docs/compiling' do %>
            <i class="icon-file"></i> Take me to the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74367209?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>        
      </div>
    </div>
  </div>
</section>

<section id="realtime">
  <div class="container">
    <div>
      <div>
        <h2>Real-Time Coding</h2>
        <h3>Google Docs style collaborative coding!</h3>
        <p>Working as part of a team has never been easier! Open a file and watch in real-time as your team mates write code. Then make a few edits as they watch you. The browser is the <strong>natural home of collaboration</strong>, and real time coding is just the start.</p>
      </div>
    </div>
  </div>
</section>

<section id="baked">
  <div class="container">
    <div>
      <div>
        <h2>Integrated Tools</h2>
        <h3>Manage app dependencies with a click of a button</h3>
        <p><strong>Bower</strong> is an amazingly useful tool for managing your application dependencies, so we baked it right into Codio and made it incredibly easy to use, and without any need to install Node or even Bower. It's all in the cloud! <strong>Grunt</strong> and <strong>Yeoman</strong> support coming very soon.</p>
        <div class="links">
          <% link_to '/docs/bower' do %>
            <i class="icon-file"></i> Take me to the docs
          <% end %>
          <a href="http://player.vimeo.com/video/74372622?autoplay=1" class="fancybox fancybox.iframe">
            <i class="icon-facetime-video"></i> Watch the video...
          </a>
        </div>          
        <ul>
          <li><%= image_tag 'home/bower-logo.png', :width => 46 %></li>
          <li><%= image_tag 'home/grunt-logo.png', :width => 36 %></li>
          <li><%= image_tag 'home/yeoman-logo.png', :width => 42 %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="annotate-embed">
  <div class="container">
    <div>
      <div>
        <h2>Annotations</h2>
        <p>Introducing an amazing new way to create <strong>rich, interactive documentation and tutorials</strong> - and it's all right within the IDE and a part of your code! No complicated formatting or standards to understand, just annotate your code and Codio will show the user around your code.</p>
      </div>

      <div>
        <h2>Embed anywhere</h2>
        <p>Dump your code into Codio and then embed the IDE as an iFrame straight into your blog, or just link to it. Your readers see your code in a fully functional web IDE without any signup or interference. They can even run your projects with a single click.</p>
      </div>
    </div>
  </div>
</section>

<section id="pricing">
  <div class="container">
    <div class="clearfix">
      <h2>PRICING <small class="coming-soon">Coming Soon</small></h2>
      <p>Codio is currently in public beta, during which all features are available for free. We will shortly be leaving beta at which point there will be a small monthly fee for creating private projects.</p>
    </div>
  </div>
</section>


<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
