---
title: Building the Perfect Browser Based IDE
class_name: home
---

<%= partial 'partials/home/header' %>

<aside class="home">
  <ul>
    <li><a href="#opensource">Front-end &amp; Back-end</a></li>
    <li><a href="#panels">Panels &amp; Tabs</a></li>
    <li><a href="#productivity">Productivity</a></li>
    <li><a href="#speed">Blazingly fast!</a></li>
    <li><a href="#deployment">Deploy anywhere</a></li>
    <li><a href="#terminal">Terminal Access</a></li>
    <li><a href="#sourcecontrol">Git Support</a></li>
    <li><a href="#compiled">CoffeeScript, SASS, etc.</a></li>
    <li><a href="#realtime">Real-time Collaboration</a></li>
    <li><a href="#baked">Bower, Grunt &amp; Yo</a></li>
    <li><a href="#annotate">Annotations</a></li>
  </ul>
</aside>

<%= partial "partials/landing_pages/#{current_page.metadata[:locals][:lp]}" if current_page.metadata[:locals][:lp] %>

<%= partial 'partials/home/overview' %>
<%= partial 'partials/home/panels' %>

<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Sweet, this is like the BEST browser IDE I've used on my chromebook so far! Great job with this guys."</blockquote>
      <span>
        <a href="https://twitter.com/amyrhaq" target="_blank">
          <%= image_tag 'https://si0.twimg.com/profile_images/2422654062/uxeq37lgme1mk53q5372_bigger.jpeg', :width => 36 %>
          @amyrhaq
        </a>
      </span>
    </div>

  </div>
</section>

<%= partial 'partials/home/productivity' %>

<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Impressive! You folks are made of gold. Nothing compares!"</blockquote>
      <span>
        <a href="https://twitter.com/aloszka22" target="_blank">
          <%= image_tag 'https://pbs.twimg.com/profile_images/378800000346849931/773cc17350ff4b1bae3566a56b34a948_bigger.jpeg', :width => 36 %>
          @aloszka22
        </a>
      </span>
    </div>

  </div>
</section>

<%= partial 'partials/home/speed' %>
<%= partial 'partials/home/deployment' %>
<%= partial 'partials/home/terminal' %>

<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Starting using cloud-based IDE @CodioHQ in ernest - brilliant and highly recommended."</blockquote>
      <span>
        <a href="https://twitter.com/stephenwil" target="_blank">
          <%= image_tag 'https://si0.twimg.com/profile_images/2462328170/image_bigger.jpg', :width => 36 %>
          @stephenwil
        </a>
      </span>
    </div>

  </div>
</section>

<%= partial 'partials/home/sourcecontrol' %>
<%= partial 'partials/home/compiled' %>

<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Damn! The @CodioHQ Browser Based IDE looks amazing."</blockquote>
      <span>
        <a href="https://twitter.com/tristandenyer" target="_blank">
          <%= image_tag 'https://si0.twimg.com/profile_images/348956527/n1235945463_9354_bigger.jpg', :width => 36 %>
          @tristandenyer
        </a>
      </span>
    </div>

  </div>
</section>

<%= partial 'partials/home/realtime' %>
<%= partial 'partials/home/baked' %>

<section id="testimonials">
  <div class="container">

    <div>
      <blockquote>"Didn't know that there is such a good Web-IDE out there. Real-time offshore pair programming... Great Job @CodioHQ"</blockquote>
      <span>
        <a href="https://twitter.com/TechnikerTweets" target="_blank">
          <%= image_tag 'https://si0.twimg.com/profile_images/3128642381/f95d394eb8436c481b46c15f500f65ec_bigger.png', :width => 36 %>
          @TechnikerTweets
        </a>
      </span>
    </div>

  </div>
</section>

<%= partial 'partials/home/annotations' %>


<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
