---
title: Home | Teaching code | Codio
layout: layout
fixed: true
description: Codio is the platform used by educators to teach computer science. It is for Universities, Schools, Vocational, Hackathons and Developers. Hassle-free for teachers and easy for students to use.
---

<div class="section-scroll">
  <nav id="scrollSpy" class="navbar scrollspy-dotted">
    <ul class="nav" >
      <li class="nav-item"><a class="nav-link" href="#block1"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block2"><span></span></a></li>
      <li class="nav-item"><a class="nav-link" href="#block3"><span></span></a></li>
      <li></li>
    </ul>
  </nav>
  <div id="block1" class="block">
    1
  </div>
  <div id="block2" class="block">
    2
  </div>
  <div id="block3" class="block">
    3
  </div>
</div>

<section class="header-block">
  <div class="carousel-block">
    <div id="headerCarousel" class="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item slot-4">
        </div>
        <div class="item active slot-3">
          <div class="title-text">
            <h2>Teaching Data Science?</h2>
            <h3>How to use Codio</h3>
            <%= link_to 'Learn More', 'https://codio.com/blog/using-codio-to-teach-data-science/',
              class: 'button button-large button-main' %>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#headerCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>

      <a class="right carousel-control" href="#headerCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</section>

<section class="index-content">
  <div class="index-section-video">
    <h2>What is Codio?</h2>
    <div class="h_iframe">
      <%= image_tag 'assets/placeholdit.png', alt: 'What is Codio?', class: 'ratio' %>
      <iframe src="https://player.vimeo.com/video/170160323?portrait=0"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>

  <hr/>

  <div class="index-section-scope">
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/infrastructure.svg', class: '' %>
      </div>
      <h3>Infrastructure as a service</h3>
      <div class="scope-txt">Cloud based, Codio is low on hardware requirements and big on savings, realibility and flexibility.</div>
      <%= link_to 'Learn more', '/features/infrastructure', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/webbased.svg', class: '' %>
      </div>
      <h3>Web-based IDE</h3>
      <div class="scope-txt">Less hassle than installing an IDE on your network or desktop, with no compromises on functionality.</div>
      <%= link_to 'Learn more', '/features/ide', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/projecttemplates.svg', class: '' %>
      </div>
      <h3>Project templates</h3>
      <div class="scope-txt">The fast and simple way to create new computer science teaching projects, and adapt existing ones.
        You can use our pre-configured stacks or create you one.</div>
      <%= link_to 'Learn more', '/features/templates', class: 'button button-large scope-button' %>
    </div>
  </div>
  <div class="index-section-scope">
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/learning.svg', class: '' %>
      </div>
      <h3>Learning management</h3>
      <div class="scope-txt">Manage your computer science classes from the Codio dashboard. Watch your students progress through a course.
        Assessments are auto-marked, so you save time.</div>
        <%= link_to 'Learn more', '/features/management', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/contentauthoring.svg', class: '' %>
      </div>
      <h3>Content authoring</h3>
      <div class="scope-txt">Create your own course content either by uploading your class notes or
        creating interactive content directly within the IDE.</div>
        <%= link_to 'Learn more', '/features/content-authoring', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/curriculumcontent.svg', class: '' %>
      </div>
      <h3>Curriculum content</h3>
      <div class="scope-txt">We've co-developed over 80 courses with Oxford, Cambridge and RSA (OCR) &mdash; all
        mapped to the UK Computer Science national curriculum.</div>
        <%= link_to 'Learn more', '/features/curriculum', class: 'button button-large scope-button' %>
    </div>
  </div>

  <div class="index-section-testimonials">
    <div class="testimonial-block img">
      <a href="https://codio.com/blog/using-codio-to-teach-data-science/">
        <%= image_tag 'assets/index/t1.jpg', alt: 'Kent State University', class: '' %>
      </a>
    </div>

    <div class="testimonial-block text light-theme">
      <a href="https://codio.com/blog/using-codio-to-teach-data-science/">
        <div style="width: 100%; height: 100%">
          <div class="txt-right">
            <p>"I'm impressed with Codio’s Box technology and how it allows students to quickly spin up
            a distributed system or even variations without having to purchase dedicated cloud servers
            or administer systems in-house."</p>
            <p class="txt-quotes">&mdash; Dr. DeLozier,<br/>Kent State University</p>
          </div>
        </div>
      </a>
    </div>

    <div class="testimonial-block text dark-theme">
      <div style="width: 100%; height: 100%">
        <div class="txt-left">
          <p>"Our A-Level students are completing a unit on HTML, CSS and Javascript. They really
            like that Codio creates a URL that is viewable live on any machine."</p>
          <p class="txt-quotes">&mdash; Ben Garside,<br/>Durham Johnston School</p>
        </div>
      </div>
    </div>

    <div class="testimonial-block img">
      <%= image_tag 'assets/index/t2.jpg', alt: 'Durham Johnston School', class: '' %>
    </div>
  </div>

  <div class="description-block">
    <h4>What is Codio?</h4>
    <p>Codio is a web-based platform used to teach computer science.</p>
    <p>Codio contains a unique combination of technologies that you'll find hard to match.
      It provides a professional grade IDE, learning management tools, project templates,
      course authoring and curriculum all in one.</p>
      <p></p>
    </div>

    <hr/>

    <div class="index-section index-section-partners">
      <h2>
        Our Customers and Partners
      </h2>

      <div id="logosCarousel" class="carousel slide carousel-block logos-carousel" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#logosCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#logosCarousel" data-slide-to="1"></li>
          <li data-target="#logosCarousel" data-slide-to="2"></li>
          <li data-target="#logosCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides-->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/agakhan-academy-logo.png', alt: 'Agakhan Academy', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/aspire-blackpool-academy(alt)-logo.png', alt: 'Aspire Blackpool Academy', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/bathspa-university-logo.png', alt: 'Bathspa University', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/burgesshill-girls-logo.png', alt: 'Burgesshill Girls', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/computing-at-school-logo.png', alt: 'Computing At School', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/coventry-university-logo.png', alt: 'Coventry University', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/csta-logo.png',  alt: 'Computer Science Teachers Associations', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/drchalloners-school-logo.png',  alt: 'Dr. Challoners School', class: "img-responsive" %></div>
            </div>
          </div>
          <div class="item">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/duck-duck-go-logo.png', alt: 'Duck Duck Go', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/durham-school-logo.png', alt: 'Durham School', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/florida-am-university-logo.png', alt: 'Florida A&M University', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/glyn-school-logo.png', alt: 'Glyn School', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/higlander-logo.png', alt: 'Higlander', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/holcombe-grammar-school-logo.png', alt: 'Holcombe Grammar School', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/holy-angels-academy-logo.png', alt: 'Holy Angels Academy', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/john-carroll-university-logo.png', alt: 'John Carroll University', class: "img-responsive" %></div>
            </div>
          </div>
          <div class="item">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/kent-state-university-logo.png', alt: 'Kent State University', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/lincoln-public-school-logo.png', alt: 'Lincoln Public School', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/manhattan-indians-logo.png', alt: 'Manhattan Indians', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/naace-logo.png', alt: 'Naace', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/ocr-logo.png', alt: 'Oxford Cambridge and RSA', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/perse-school-logo.png', alt: 'The Perse School Cambridge', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/pool-academy-logo.png', alt: 'Pool Academy', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/sheffield-university-logo.png', alt: 'The University of Sheffield', class: "img-responsive" %></div>
            </div>
          </div>
          <div class="item">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/st-lawrence-college-logo.png', alt: 'St. Lawrence College', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/westholme-school-logo.png', alt: 'Westholme School', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/bristol-grammar-school-logo.png', alt: 'Bristol Grammar School', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/index/logos/wright-state-university-logo.png', alt: 'St. Lawrence College', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/index/logos/csforall-member-badge-logo.png', alt: 'CS For All Member Consortium', class: "img-responsive" %></div>
            </div>
          </div>
        </div>

        <!--Left and right controls -->
        <a class="left carousel-control" href="#logosCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#logosCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
