---
title: Visual IDE in the Cloud
class_name: home
full_width: true
active_menu_item: home
---

<header>
  <div class="container">
    <div class="carousel" data-paginate data-autoplay data-transition="flip">

      <section id="slide1" class="clearfix">
        <div>
          <div>
            <p>We are building</p>
            <p>the very first</p>
            <p>cloud-based IDE</p>
            <p>for web development</p>
            <p>you will want to use day in, day out</p>
          </div>
          <div>
            <p>Code, collaborate, deploy ...</p>
          </div>
          <div>
            <%= image_tag 'flourish.gif', :width => 174, :height => 28 %>
          </div>
        </div>
        <div>
          <%= image_tag "home/slides/slide1.gif", :width => 380, :alt => "Visual Development in the Cloud" %>
        </div>
      </section>


    </div>
  </div>
</header>


<section id="price-banner" class="clearfix">
  <div class="container">
    <div><span>Free</span><br>for public projects</div>
    <div class="nofade"><a href="/get-started">
      <p>Features</p>
      <p></p>
      <!--<p><span>&#x2605;</span>Benefits<span>&#x2605;</span></p>-->
    </a></div>
    <div>
     <p>Example Projects</p>
     <p>View, Run, Fork, Share</p>
    </div>
  </div>
</section>


<section id="content">
  <div class="container">

    <section class="feature clearfix">
      <div><%= image_tag "home/feature1.png", :width => 300, :alt => '100% cloud based visual development' %></div>
      <div>
        <h2><strong>Features</strong> Current</h2>
        <p>Crafted already has all the features you need to build and run beautiful web applications.<a href="/product">Learn more &raquo;</a></p>
      </div>
      <ul>
          <li>
            <h4>100% Cloud-Based</h4>
            <p></p>
          </li>
          <li>
            <h4>Any HTML5+CSS+JS Application</h4>
            <p>Web front-end, web site, mobile web app, code library - any type of web application can be built with Crafted. We will be adding HAML, SCSS, SASS etc. before too long.</p>
          </li>
          <li>
            <h4>Anonymous Mode</h4>
            <p>You can access the Crafted IDE without even signing up. By bookmarking the URL any project you create will be only editable by you. Others can look at your code and even fork it.</p>
          </li>          
          <li>
            <h4>Beautiful Code Editor</h4>
            <p>Like many others, we are eternally grateful to the ACE project for the best web-based code editor in existence.</p>
          </li>
          <li>
            <h4>Fork a Project</h4>
            <p>Fork any public or anonymous project into your own user account or anonymously.</p>
          </li>           
          <li>
            <h4>Code Completion</h4>
            <p>Yup - code completion.   *As you type, code suggestions appear below your code.*</p>
          </li>            
          <li>
            <h4>Import from Git and Zip</h4>
            <p>Import from a Git repo or a Zip file.</p>
          </li>             
          <li>
            <h4>Develop AND Run</h4>
            <p>Crafted is not just an IDE. It also lets you run and deploy your applications on the Crafted platform. You can manage multiple environments such as development, staging, and production.</p>
          </li>       
          <li>
            <h4>Private / Public Projects</h4>
            <p>You can have as many public projects as you like - all for free. For those who want to protect their project we will soon be adding private projects.</p>
          </li>      
          <li>
            <h4>Teams</h4>
            <p>You can group Crafted users into teams, who can then be assigned read/write/admin access. Soon, teams will be a part of the special Organization account.</p>
          </li>   
          <li>
            <h4>Collaboration</h4>
            <p>Crafted allows any number of users to collaborate in real-time projects, in a Google Docs manner. Git integration is right around the corner to complete the picture.</p>
          </li>                     
        </ul>
    </section>

    <section class="feature clearfix">
      <div>
        <h2>Coming Soon</h2>
        <p>We are adding new features at a scary rate. Here is a taste of great things to come.<a href="/product">Learn more &raquo;</a></p>
      </div>
      <div><%= image_tag "home/feature2.png", :width => 320, :alt => 'Build prototypes, front-ends and full-blown apps' %></div>
      <ul>
          <li>
            <h4>Multi-Pane Code Editing</h4>
            <p>You can have multiple windows open simultaneously, so separate HTML, CSS and JS windows for example. Great for quick experiments.</p>
          </li>  
          <li>
            <h4>Instant Preview</h4>
            <p></p>
          </li>   
          <li>
            <h4>Gravatars</h4>
            <p></p>
          </li>   
          <li>
            <h4>Project Starring</h4>
            <p></p>
          </li>   
          <li>
            <h4>Git Integration</h4>
            <p></p>
          </li>
          <li>
            <h4>Version Control</h4>
            <p></p>
          </li>               
          <li>
            <h4>External Deployment</h4>
            <p></p>
          </li>   
          <li>
            <h4>Mobile Build</h4>
            <p></p>
          </li>   
          <li>
            <h4>Team Accounts</h4>
            <p></p>
          </li>     
          <li>
            <h4>Resource Browser</h4>
            <p></p>
          </li>   
          <li>
            <h4>Server-Side Javascript</h4>
            <p></p>
          </li>                                                                                           
        </ul>
    </section>

    <section class="feature clearfix">
      <div><%= image_tag "home/feature3.png", :width => 330, :alt => 'Deploy as a web app and to the App Stores' %></div>
      <div>
        <h2>Benefits</h2>
        <p>Crafted has everything you need on one place. No need to set up servers for development or delpoyment. You can have your first app up and running in a couple of minutes <a href="/product">Learn more &raquo;</a></p>
      </div>
      <ul>
          <li>
            <h4>Build apps without having to sign up</h4>
            <p></p>
          </li>
          <li>
            <h4>If it's public, it's free</h4>
            <p></p>
          </li>
          <li>
            <h4>The complete stack : Coding, deployment, Git integration</h4>
            <p></p>
          </li>
          <li>
            <h4>No vendor lock-in</h4>
            <p></p>
          </li>
          <li>
            <h4>Blazingly fast</h4>
            <p></p>
          </li>
          <li>
            <h4>Any size project</h4>
            <p></p>
          </li>
      </ul>      
    </section>

    <section class="feature clearfix">
      <div>
        <h2>Examples</h2>
        <p>There's no better way to see Crafted in action than loading up some juicy projects and running them in the IDE. <a href="/product">Run and fork now &raquo;</a></p>
      </div>
      <div><%= image_tag "home/feature4.png", :width => 300, :alt => 'Everything is HTML5, CSS and Javascript' %></div>
      <ul>
          <li>
            <h4>ToDoMVC</h4>
            <p>A complex project demonstrating MVC frameworks</p>
          </li>
          <li>
            <h4>Web Site</h4>
            <p>A web site ...</p>
          </li>
          <li>
            <h4>Mobile Web App</h4>
            <p>This demonstrates a mobile application based on the jquerymobile+jquery framework</p>
          </li>
          <li>
            <h4>Starter Backbone App</h4>
            <p></p>
          </li>
          <li>
            <h4>Ember.js</h4>
            <p></p>
          </li>
          <li>
            <h4>HTML5 Boilerplate</h4>
            <p></p>
          </li>
          <li>
            <h4>3.JS</h4>
            <p></p>
          </li>  
          <li>
            <h4>HTML5 Game</h4>
            <p></p>
          </li>   
          <li>
            <h4>Codepen Demos</h4>
            <p></p>
          </li>                             
      </ul>       
    </section>   

  </div>
</section>