---
title: Building the Perfect Browser Based IDE
class_name: home
---

<header>
  <div class="container">

    <div id="public-stamp" class="nofade">
      <%= link_to image_tag("home/support-campaign.png", :width => "330x158", :alt => "Let's get Coding taught in our schools. - Support our Campaign"), '/education', :class => "nofade" %>
      <%# image_tag "home/free-public-beta.png", :width => 310, :alt => "Visual Development in the Cloud" %>
    </div>

    <div class="clearfix">
      <div>
        <div>
          <p>We're building</p>
          <p>an amazing</p>
          <p>Web IDE</p>
          <div>
            <p>For web development</p>
            <p>teaching and learning</p>
          </div>
          <%= image_tag 'flourish.gif', :width => 174, :height => 28 %>
        </div>
        <p>We're building a modern web IDE for front-end development and teaching people to code in any programming language.</p>
      </div>
      <div>Codio.com</div>
    </div>
  </div>
</header>


<section id="tryit">
  <div class="container">
    <h3>
      <i class="icon-thumbs-up"></i> Try out the IDE below... <a href="https://codio.com/fmay/Impress/tree/Impress/js/impress.js" target="_blank">or click here to open in a new browser tab</a>
    </h3>
    <iframe src="https://codio.com/fmay/Impress/tree/Impress/js/impress.js" width="100%" height="500" frameborder="0" marginheight="20" marginwidth="35" scrolling="auto"></iframe>
  </div>
</section>


<section id="nav-banner" class="clearfix">
  <div class="container">
    <ul>
      <li class="active"><a href="#benefits">What is Codio?</a></li>
      <li><i class="icon-star"></i></li>
      <li><%= link_to 'Education', '/education' %></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#features">Features</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#examples">Examples</a></li>
      <li><i class="icon-star"></i></li>
      <li><a href="#roadmap">Roadmap</a></li>
    </ul>
  </div>
</section>


<section class="switched-lists">
  <div class="container">

    <ul id="benefits" class="columned">
      <li>
        <ul>
          <li>
            <h3>What is Codio?</h3>
            <p><%= link_to "Codio in Education", '/education' %></p>
            <p><a href="/#roadmap" id="roadmaplink">Roadmap</a></p>
          </li>
          <li>
            <p>Codio is a Web IDE that has everything you need in one place to build and run HTML5+CSS+JS applications of any size. It's missing a few things but take a look at our Roadmap page and you'll see what we're looking to add in the coming months.</p>
            <p>Right now, you can build and run any HTML5+CSS+JS application. It's a great place to start playing with web development, because there is no need to set up any stack. Once we've added deployment targets, Git/Hg integration, build tasks, code completion and more, we think you'll be ready to dump your desktop tools.</p>
          </li>
        </ul>
      </li>
      <li><p></p></li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-thumbs-up"></i> No sign up needed</h4>
                <p>You can use our IDE without even having to sign up.</p>
              </li>
              <li>
                <h4><i class="icon-unlock"></i> Collaborate in real time</h4>
                <p>Collaboration is at the heart of what we are buildling. Google Docs style imminent but we're about to add Git support and chat.</p>
              </li>
              <li>
                <h4><i class="icon-road"></i> Any size project</h4>
                <p>Codio is equally at home with very large applications as with tiny demos.</p>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-eye-open"></i> If it's public, it's free</h4>
                <p>Public projects are and always will be free.</p>
              </li>
              <li>
                <h4><i class="icon-tasks"></i> A complete stack</h4>
                <p>We provide everything you need to build and deploy your front-end applications. No need to worry about 3rd party providers unless you want to.</p>
              </li>
              <li>
                <h4><i class="icon-fire"></i> Learning with codio</h4>
                <p>Codio is great for anyone learning web development. You can start coding without installing anything and we're going announce some major learning features soon.</p>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <div id="features" class="columned">
      <ul>
        <li>

        </li>
        <li>
          <ul id="feature-tabs">
            <li class="active"><a href="#features-ide">IDE</a></li>
            <li><a href="#features-education">Annotations</a></li>
          </ul>
        </li>
      </ul>
      <div id="feature-groups">
        <ul>
        <li id="features-ide" class="active">
          <ul>
            <li>
              <ul>
                <li>
                  <h4><i class="icon-cog"></i> Any Web Application</h4>
                  <p>Any HTML5+CSS+JS front-end, web site, mobile web app or code library works in our IDE. And we're adding HAML, SCSS, SASS etc. before too long.</p>
                </li>
                <li>
                  <h4><i class="icon-edit"></i> Beautiful Code Editor</h4>
                  <p>Like many others, we're eternally grateful to the ACE project for the best web-based code editor in existence.</p>
                </li>
                <li>
                  <h4><i class="icon-cloud-upload"></i> Develop, Run, Host</h4>
                  <p>Codio is not just an IDE. It also lets you run and deploy your applications on the Codio platform.</p>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <h4><i class="icon-cloud"></i> 100% Cloud-Based &amp; Fast</h4>
                  <p>Everything runs in your browser and is blazingly fast. You can access and fork projects without even needing an account.</p>
                </li>
                <li>
                  <h4><i class="icon-refresh"></i> Highly Collaborative</h4>
                  <p>Codio allows any number of users to collaborate on real-time projects. Full Git/Hg integration is right around the corner.</p>
                </li>
                <li>
                  <h4><i class="icon-sitemap"></i> Fork any Project</h4>
                  <p>Fork any public or anonymous project without creating an account.</p>
                </li>
                <li>
                  <h4><i class="icon-comments-alt"></i> Private &amp; Public Projects</h4>
                  <p>Watch Codio in action by loading up some projects and running them in the IDE. Just load the app and run!</p>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <h4><i class="icon-group"></i> Teams &amp; Organizations</h4>
                  <p>You can group Codio users into teams, who can then be assigned read/write/admin access. Soon, teams will be a part of the special Organization account.</p>
                </li>
                <li>
                  <h4><i class="icon-cloud-download"></i> Import from Git, Hg and Zip</h4>
                  <p>Import from Git/Mercurial repos and ZIP files and your project can be run instantly within the IDE. Just press the Run button.</p>
                </li>
                <li>
                  <h4><i class="icon-user"></i> Anonymous Mode</h4>
                  <p>You can access the Codio IDE without even signing up. By bookmarking the URL any project you create will be only editable by you. Others can look at your code and even fork it.</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li id="features-education"><h4>Please visit the  <%= link_to 'Codio:Annotations documentation', '/docs/annotations/' %> page for details.</h4>
          <h4>Find out what we're foing for education and <%= link_to 'teaching people to code', '/education' %>.</h4></br></br>
          <ul>
            <li>
              <ul>
                <li>
                  <h4><i class="icon-cog"></i> Any Programming Language</h4>
                  <p>Create interactive tutorials for any programming language using the Codio IDE or your own favorite IDE.</p>
                </li>
                <li>
                  <h4><i class="icon-edit"></i> Rich Annotations</h4>
                  <p>You can add rich text, images and videos that automatically point to relevant code snippets within any part of your project.</p>
                </li>
                <li>
                  <h4><i class="icon-cloud-upload"></i> Great for Education</h4>
                  <p>It's completely free and is really great for teaching, tutorials or code examples at any level.</p>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <h4><i class="icon-cloud"></i> Great for APIs &amp; Advanced Stuff</h4>
                  <p>You can use Codio:Annotations to explain an API, frameworks and any piece of complex code.</p>
                </li>
                <li>
                  <h4><i class="icon-refresh"></i> Guided Tours</h4>
                  <p>Codio:Annotations lets you create guided tours around your project so you see code explained in its natural habitat - an IDE.</p>
                </li>
                <li>
                  <h4><i class="icon-sitemap"></i> Explore any code project</h4>
                  <p>You can also run in Explore mode, which lets you wander through an annotated project and click to get explanations in the bits you're interested in.</p>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <h4><i class="icon-group"></i> Helpers</h4>
                  <p>We provide neat helpers that rapidly speed up the pace at which you can add your annotations.</p>
                </li>
                <li>
                  <h4><i class="icon-cloud-download"></i> Embed in any web page</h4>
                  <p>Your annotated projects can be run in any browser and even embedded directly into your own web page. We've got a widget coming soon to make this even easier.</p>
                </li>
                <li>
                  <h4><i class="icon-user"></i> No signup needed</h4>
                  <p>There are absolutely no barriers so you can annotate your project then let people run it without them even needing to signup.</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      </div>
    </div>

    <ul id="roadmap" class="columned">
      <li>
        <p>We're working towards building the perfect IDE to make building HTML5 applications as enjoyable for you as possible.</p>
      </li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-th-large"></i> Education and Tutorials</h4>
                <p>Coming around the end of April 2013, Codio is going help shake up the way that coding is taught and learnt. <%= link_to "Take a look here", '/education' %></a>.
                <ul>
                  <li>Codio:Annotations for creating rich, interactive tutorials and annotated code examples</li>
                  <li>Curated GitHub project</li>
                </ul>
              </li>
              <li>
                <h4><i class="icon-th-large"></i>IDE and Editor Features</h4>
                <ul>
                  <li>Code completion</li>
                  <li>Snippets (a la TextMate)</li>
                  <li>Hyperlink to function defined at cursor location</li>
                  <li>Rich Find, Search &amp; Replace etc. including regex support</li>
                  <li>Code completion linked to function help</li>
                  <li>Multi pane code editing</li>
                  <li>Instant preview window</li>
                  <li>Star, watch, rate and explore</li>
                </ul>
              </li>
              <li>
                <h4><i class="icon-th-large"></i> Deployment &amp; Build Tasks</h4>
                <ul>
                  <li>Define multiple deployment points within the Codio platform (staging, production etc.)</li>
                  <li>FTP, SFTP &amp; Heroku</li>
                  <li>Build tasks such as minification etc.</li>
                </ul>
              </li>
              <li>
                <h4><i class="icon-th-large"></i> Git and Mercurial Integration</h4>
                <ul>
                  <li>Tight integration with Git and Mercurial</li>
                  <li>Branches etc.</li>
                  <li>GUI and command line</li>
                </ul>
              </li>
              <li>
                <h4><i class="icon-th-large"></i> HTML, CSS, JS Preprocessor support</h4>
                <ul>
                  <li>HAML, Markdown</li>
                  <li>LESS, SCSS</li>
                  <li>Coffeescript</li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>
      </li>
    </ul>

    <ul id="examples" class="columned">
      <li>
        <p>There's no better way to see Codio in action than loading up some juicy projects and running them in the IDE.</p>
        <p>Once the app is loaded in the IDE, simply press the Play button to run it.<p>
      </li>
      <li>
        <ul>
          <li>
            <ul>
              <li>
                <h4><i class="icon-th-large"></i> ToDoMVC</h4>
                <p>This is the ToDoMVC project for understanding and choosing an MVC Framework. It is a large project showing several MVC frameworks in action.</p>
                <%= link_to '<i class="icon-play"></i> run and play...', 'https://codio.com/codio/todo-mymvc/tree/todo-mymvc/index.html', :target => "_blank" %>
              </li>
              <li>
                <h4><i class="icon-eye-open"></i> Impress.js</h4>
                <p>A cool Open Source project that lets you construct Prezi like presentations.</p>
                <%= link_to '<i class="icon-play"></i> run and play...', 'https://codio.com/codio/impress/tree/impress/index.html', :target => "_blank"  %>
              </li>
              <li>
                <h4><i class="icon-desktop"></i> Street Fighter</h4>
                <p>A very simple HTML5 game example. </p>
                <%= link_to '<i class="icon-play"></i> run and play...', 'https://codio.com/codio/Street-Fighter/tree/App/index.html', :target => "_blank"  %>
              </li>
            </ul>
          </li>
          <li>
            <ul>
              <li>
                <h4><i class="icon-star"></i> jquerymobile</h4>
                <p>This shows an application built using jquerymobile. You can run this on the desktop or in a mobile browser.</p>
                <%= link_to '<i class="icon-play"></i> run and play...', 'https://codio.com/codio/jquerymobile-demo/tree/jquerymobile-demo/index.html', :target => "_blank"  %>
              </li>
              <li>
                <h4><i class="icon-step-backward"></i> A Tutorial</h4>
                <p>A tutorial type application for teaching javascript modification of HTML</p>
                <%= link_to '<i class="icon-play"></i> run and play...', 'https://codio.com/codio/Tutorial/tree/Tutorial/index.html', :target => "_blank"  %>
              </li>
              <li>
                <h4><i class="icon-picture"></i> Pixelate</h4>
                <p>Something borrowed from Codepen showing javascript pixelation of an image</p>
                <%= link_to '<i class="icon-play"></i> run and play...', 'https://codio.com/codio/Pixelate/tree/Pixelate/index.html', :target => "_blank"  %>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</section>
