---
title: Home | Teaching code | Codio
layout: layout
fixed: true
description: Codio is the platform used by educators to teach computer science. It is for Universities, Schools, Vocational, Hackathons and Developers. Hassle-free for teachers and easy for students to use.
---

<section class="header-block">
  <div class="subheader-block">
    <span>
      <div class="link-button-bar">
        <div class="button-container">
          <%= link_to 'Schools', '/school', class: 'button button-large' %>
          <%= link_to 'Universities', '/university', class: 'button button-large' %>
          <%= link_to 'Developer', '/developer', class: 'button button-large' %>
          <%= link_to 'Students', '', class: 'button button-large' %>
        </div>
      </div>
    </span>
  </div>

  <div class="carousel-block">
    <div id="headerCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag 'assets/index/carousel/c11.png', class: '' %>
          <div class="title-text">
            <h2>New Plagiarism Checker</h2>
            <div class="subtitle">
              <h3>Is it collaboration or cheating?</h3>
              <%= link_to 'Lean More', 'https://codio.com/blog/codio-launches-plagiarism-feature-to-detect-cheating-in-programming-classes/', class: 'button button-large button-main' %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'assets/index/carousel/c12.png', class: 'img-responsive center-block' %>
          <div class="img-container"></div>
          <div class="title-text">
            <h2>Make your own maze game</h2>
            <div class="subtitle">
              <h3>Computational thinking project for students</h3>
              <%= link_to 'Lean More', 'https://codio.com/blog/product-announcement-learn-to-think-computationally-by-making-your-very-own-maze-game/', class: 'button button-large button-main' %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag 'assets/index/carousel/c13.jpg', class: 'img-responsive center-block' %>
          <div class="title-text">
            <h2>Integrated debugger</h2>
            <div class="subtitle">
              <h3>Supports Java and Python. NodeJS, C, C++ and PHP coming soon.</h3>
              <%= link_to 'Lean More', 'https://codio.com/blog/integrated-debugger-launched-for-multiple-programming-languages/', class: 'button button-large button-main' %>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#headerCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>

      <a class="right carousel-control" href="#headerCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</section>

<section class="index-content">
  <div class="index-section-video">
    <h2>What is Codio?</h2>
    <div class="h_iframe">
      <%= image_tag 'assets/placeholdit.png', class: "ratio" %>
      <iframe src="https://player.vimeo.com/video/141552266?portrait=0"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>

  <hr/>

  <div class="index-section-scope">
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/infrastructure.svg', class: '' %>
      </div>
      <h3>Infrastucture as a service</h3>
      <p>Cloud based, Codio is low on hardware requirements and big on savings, realibility and flexibility.<br/><br/></p>
      <%= link_to 'Learn more', '/features/infrastructure', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/webbased.svg', class: '' %>
      </div>
      <h3>Web-based IDE</h3>
      <p>Less hassle than installing an IDE on your network or desktop, with no compromises on functionality.<br/><br/></p>
      <%= link_to 'Learn more', '/features/ide', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/projecttemplates.svg', class: '' %>
      </div>
      <h3>Project templates</h3>
      <p>The fast and simple way to create new computer science teaching projects, and adapt existing ones. 
        You can use our pre-configured stacks or create you one.</p>
      <%= link_to 'Learn more', '/features/templates', class: 'button button-large scope-button' %>
    </div>
  </div>
  <div class="index-section-scope">
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/learning.svg', class: '' %>
      </div>
      <h3>Learning management</h3>
      <p>Manage your computer science classes from the Codio dashboard. Watch your students progress through a course. 
        Assessments are auto-marked, so you save time.</p>
      <%= link_to 'Learn more', '/features/management', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/contentauthoring.svg', class: '' %>
      </div>
      <h3>Content authoring</h3>
      <p>Create your own course content either by uploading your class notes or creating interactive content directly within the IDE.<br/><br/></p>
      <%= link_to 'Learn more', '/features/content-authoring', class: 'button button-large scope-button' %>
    </div>
    <div class="scope-item">
      <div class="scope-img">
        <%= inline_svg 'assets/index/curriculumcontent.svg', class: '' %>
      </div>
      <h3>Curriculum content</h3>
      <p>We've co-developed over 50 courses with Oxford, Cambridge and RSA (OCR) - all mapped to the UK Computer Science national curriculum.</p>
      <%= link_to 'Learn more', '/docs/teacher/courses/ocr/', class: 'button button-large scope-button' %>
    </div>
  </div>

</section>

<div class="index-section-testimonials">
  <div class="testimonial-block-img">
    <%= image_tag 'assets/index/t1.jpg', class: '' %>
  </div><!--

  --><div class="testimonial-block-text light-theme">
    <div class="txt-right">
      <p>"I'm impressed with Codio’s Box technology and how it allows students to quickly spin up a distributed system or even variations without having to purchase dedicated cloud servers or administer systems in-house."</p>
      <p class="txt-quotes">&mdash; Dr. DeLozier,<br/>
        Kent State University</p>
    </div>
  </div><!--

  --><div class="testimonial-block-text dark-theme">
    <div class="txt-left">
      <p> "Our A-Level students are completing a unit on HTML, CSS and Javascript. They really like that Codio creates a URL that is viewable live on any machine."</p>
      <p class="txt-quotes">&mdash; Ben Garside,<br/>
        Durham Johnston School</p>
    </div>
  </div><!--

  --><div class="testimonial-block-img">
    <%= image_tag 'assets/index/t2.jpg', class: '' %>
  </div>
</div>

<section class="index-content description-block">
  <div>
    <h4>What is Codio?</h2>
    <p><b>Codio</b> reduces administration time, provides real costs savings and is flexible so you can deliver an
      amazing learning experience for your computer science students.</p>
    <p><b>Codio</b> contains a unique combination of technologies that you'll find hard to match. It provides 
      an entire infrastructure stack in the cloud to give your students access to their code projects at any time.</p>
    <b>We are a learning management system with a professional grade integrated wev development environment.</b>
    <p></p>
  </div>

  <hr/>

  <div class="index-section index-section-partners">
    <h2>
      Our Customers and Partners
    </h2>
    <div class="index-section-partners-img">
      <%= image_tag 'assets/index/logos/aga_khan.png' %>
      <%= image_tag 'assets/index/logos/duck_duck.png' %>
      <%= image_tag 'assets/index/logos/durham.png' %>
      <%= image_tag 'assets/index/logos/kent_state.png' %>
      <%= image_tag 'assets/index/logos/ocr.png' %>
      <%= image_tag 'assets/index/logos/partners-cas.png' %>
      <%= image_tag 'assets/index/logos/partners-naace.png' %>
    </div>
  </div>
  <hr/>
</section>
