---
title: Building the Perfect Browser Based IDE
class_name: home
---

<header>
  <div class="container">

    <div id="tagline">
      <%= image_tag 'home/header-amazing.gif', :width => 641, :height => 230 %>
      <div>
        <p>spin the wheel to discover the delights of Codio</p>
        <%= image_tag 'home/arrow.png', :width => 60 %>
      </div>
    </div>
    <div id="reel">
      <%= image_tag 'reel.png', :width => 420, :height => 420 %>
    </div>

  </div>
</header>

<aside class="home">
    <ul>
      <li class="active"><a href="#productivity">Productivity</a></li>
      <li><a href="#speed">'kin fast</a></li>      
      <li><a href="#deployment">Deployment Targets</a></li>
      <li><a href="#compiled">CoffeeScript, Less etc.</a></li>
      <li><a href="#sourcecontrol">Git Integrated</a></li>      
      <li><a href="#realtime">Real-time Collaboration</a></li>
      <li><a href="#baked">Yeoman, Bower, Grunt</a></li>
      <li><a href="#node">Front &amp; Back</a></li>
      <li><a href="#instant">Free, Effortless</a></li>
      <li><a href="#annotations">Annotations</a></li>      
    </ul>
</aside>

<section id="productivity">
  <div class="container">
    <div>
      <div>
        <h2>Productivity</h2>
        <p>You can work <strong>as fast</strong> as with the best desktop tools.</p><p>Syntax highlighting for hundreds of languages, code completion, TextMate-like snippets, fully customizable keyboard shortcuts, TernJS, Emmet, code folding, multiple cursors, color preview/picker, inline preview and much more.</p>
      </div>
    </div>
  </div>
</section>

<section id="speed">
  <div class="container">
    <div>
      <div>
        <h2>Cloud !== Slow</h2>
        <p>Do you think that developing in the cloud is slow? Think again! We havea prepared a whole set of eyeopening benchmarks. Spin the wheel.</p>
      </div>
    </div>
  </div>
</section>

<section id="deployment">
  <div class="container">
    <div>
      <div>
        <h2>Deployment</h2>
        <p>One-click deployment to any number of test, staging and production environments: <strong>FTP</strong>, <strong>SFTP</strong>, <strong>Parse</strong>, <strong>NodeJitsu</strong>, as well as <strong>Codio's hosting platform.</strong></p>
        <p>Being cloud based, these are usually much faster than deploying from the desktop.</p>
      </div>
    </div>
  </div>
</section>

<section id="compiled">
  <div class="container">
    <div>
      <div>
        <h2>!JS &amp; &amp; !CSS</h2>
        <p>Codio has direct support for <strong>CoffeeScript</strong>, <strong>Sass</strong>, <strong>SCSS</strong> and <strong>Less</strong> with more to come. No manual compilation steps needed.</p>
      </div>
    </div>
  </div>
</section>

<section id="sourcecontrol">
  <div class="container">
    <div>
      <div>
        <h2>Git</h2>
        <p>Codio has full integration with any Git repository, including Github of course. It just works.</p>
      </div>
    </div>
  </div>
</section>

<section id="realtime">
  <div class="container">
    <div>
      <div>
        <h2>Collaboration</h2>
        <p>Google Docs style coding for multiple developers coding in real time on the same files.</p>
      </div>
    </div>
  </div>
</section>

<section id="baked">
  <div class="container">
    <div>
      <div>
        <h2>Yeoman</h2>
        <p><strong>Bower</strong> is an amazingly useful tool for managing dependencies, so we baked it right into Codio and made it incredibly easy to use. <strong>Grunt</strong> and <strong>Yeoman</strong> support coming very soon.</p>
        <ul>
          <li><%= image_tag 'home/bower-logo.png', :width => 36 %></li>
          <li><%= image_tag 'home/grunt-logo.png', :width => 28 %></li>
          <li><%= image_tag 'home/yeoman-logo.png', :width => 32 %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="node">
  <div class="container">
    <div>
      <div>
        <h2>front &amp; back</h2>
        <p>Hook Codio up to your Digital Ocean or any other cloud server and you have an incredibly fast, 100% cloud based development setup so you can run your own Node.js environment with full SSH access.</p>
      </div>
    </div>
  </div>
</section>

<section id="instant">
  <div class="container">
    <div>
      <div>
        <h2>Free &amp; Effortless</h2>
        <p>Accessing the Codio IDE requires no signup. And when you do signup, it's completely free to use for all Open Source projects, including educational usage.</p>
        <p>And you can use it as your full blown web dev IDE, or you use it to demo code by embedding in a blog or linking to it. Truly effortless.</p>
      </div>
    </div>
  </div>
</section>

<section id="annotations">
  <div class="container">
    <div>
      <div>
        <h2>Annotations</h2>
        <p>Introducing an amazing new way to create rich, interactive documentation for tutorials, APIs, developer documentation or anywhere you want code documentation to be a cut above the rest - and it's all right within the IDE and a part of your code! No complicated formatting or standards to understand.</p>
      </div>
    </div>
  </div>
</section>



<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
