---
title: Building the Perfect Browser Based IDE
class_name: home
---

<header>
  <div class="container">

    <div id="tagline">
      <%= image_tag 'home/header-amazing.gif', :width => 641, :height => 230 %>
      <div>
        <p>spin the wheel to discover the delights of Codio</p>
        <%= image_tag 'home/arrow.png', :width => 60 %>
      </div>
    </div>
    <div id="reel">
      <%= image_tag 'reel.png', :width => 420, :height => 420 %>
    </div>

  </div>
</header>

<aside class="home">
    <ul>
      <li class="active"><a href="#productivity">Packing Productivity</a></li>
      <li><a href="#realtime">Real-time Collaboration</a></li>
      <li><a href="#baked">Baked in Brilliance</a></li>
      <li><a href="#sourcecontrol">Source Control</a></li>
      <li><a href="#deployment">Deployment Delights</a></li>
      <li><a href="#annotations">Annotations</a></li>
      <li><a href="#compiled">Not Just Javascript!</a></li>
    </ul>
</aside>

<section id="productivity">
  <div class="container">
    <div>
      <div>
        <h2>Productivity</h2>
        <p><strong>Codio</strong> has a ton of features that will massively increase your productivity. Syntax highlighting for hundreds of languages, code completion, search &amp; replace, TextMate-like snippets, keyboard shortcuts, code folding, multiple cursors, color preview/picker, inline preview, and so much more.</p>
      </div>
    </div>
  </div>
</section>

<section id="realtime">
  <div class="container">
    <div>
      <div>
        <h2>Collaboration</h2>
        <p>Codio makes it unbelievably easy and fast when when working in teams. Each keystroke you make is seen by your team mates as you type it. It makes for an extremely collaborative environment.</p>
      </div>
    </div>
  </div>
</section>

<section id="baked">
  <div class="container">
    <div>
      <div>
        <h2>Brilliance</h2>
        <p><strong>Bower</strong> is an amazingly useful tool for managing dependencies, so we baked it right into Codio and made it incredibly easy to use. We'll also be adding support for <strong>Grunt</strong> and <strong>Yeoman</strong> very soon.</p>
        <ul>
          <li><%= image_tag 'home/bower-logo.png', :width => 36 %></li>
          <li><%= image_tag 'home/grunt-logo.png', :width => 28 %></li>
          <li><%= image_tag 'home/yeoman-logo.png', :width => 32 %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="sourcecontrol">
  <div class="container">
    <div>
      <div>
        <h2>Git</h2>
        <p>You're not a <i>real</i> IDE until you have source control integrated. Control and version your code using <strong>Git</strong> without leaving Codio. Pull from any remote Git repository, then commit, branch, merge and push it all back! It's all in the cloud, which means no setup or installation is needed, and it all just works!</p>
      </div>
    </div>
  </div>
</section>

<section id="deployment">
  <div class="container">
    <div>
      <div>
        <h2>Deployment</h2>
        <p>With Codio, you can deploy with a single click! Define any number of deployment targets, and deploy to FTP/SFTP, <strong>Parse</strong> or <strong>NodeJitsu</strong>. Or deploy onto Codio's hosting platform for zero-setup production hosting of your static apps.</p>
      </div>
    </div>
  </div>
</section>

<section id="annotations">
  <div class="container">
    <div>
      <div>
        <h2>Annotations</h2>
        <p>Introducing an amazing new way to create rich, interactive documentation for tutorials, APIs, developer documentation or anywhere you want code documentation to be a cut above the rest - and it's all right within the IDE and a part of your code! No complicated formatting or standards to understand.</p>
      </div>
    </div>
  </div>
</section>

<section id="compiled">
  <div class="container">
    <div>
      <div>
        <h2>Javascript!</h2>
        <p>We all love Javascript don't we? Well just in case you don't, you can use <strong>CoffeeScript</strong> in your Codio projects instead! And how about <strong>SASS</strong> or <strong>Less</strong>? Just code away and Codio will take care of the rest.</p>
      </div>
    </div>
  </div>
</section>


<% content_for :foot do %>
  <%= javascript_include_tag 'home' %>
<% end %>
