---
title: Codio
---
<section class="hero paraxify">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Instant Coding Environments</h1>
      <p>
        Unlock student potential with access anywhere to unlimited project workspaces,
        in a cloud IDE with pre-configured stacks & coding environments.
      </p>
    </div>
    <a href="/p/signup">Get Started</a>
  </div>

  <div class="info">
    <i class="fa fa-info-circle"></i>
    <span>
      Created using
      <a href="http://weavesilk.com" target="_blank">
        weavesilk.com
      </a>
    </span>
  </div>
</section>
<section class="pillar-text">
  <div class="wrapper">
    <aside>
      <%= sprockets.find_asset("icons/stacks.svg").to_s %>
    </aside>
    <article>
      <h2>
        Accessible in the classroom, at home, anywhere,
        with any machine or browser.
      </h2>
      <p>
        No more lost code or missing USB sticks; your code
        is ready and accessible any time you sign in and
        each student enjoys a powerful editor with
        unlimited project workspaces, dedicated servers and plenty of
        storage.</br>
        <%= link_to "Read more...", "/docs/quickstart/myfirstproject" %>
      </p>
      <a class="btn" href="/p/signup">Get Started</a>
    </article>
  </div>

</section>

<section class="pillar-text">
  <div class="wrapper">

    <aside>
      <%= sprockets.find_asset("icons/ide.svg").to_s %>
    </aside>
    <article>

      <h2>
        Put to one side the complexity of software set up and configuration.
      </h2>
      <p>
        With one click stack selection from a limitless library you can
        focus on teaching and maximising student engagement.
        And Codio takes you even further with starter packs providing a
        pre-configured stack, starting point code & instructional content.
        </br>
        <%= link_to "Read more...", "/docs/quickstart/stacks" %>
      </p>
      <a class="btn" href="/p/signup">Get Started</a>
    </article>
  </div>
</section>

<section class="pillar-text">
  <div class="wrapper">
    <aside>
      <%= sprockets.find_asset("icons/book.svg").to_s %>
    </aside>
    <article>

      <h2>Take the pain out of teaching programming.
      </h2>
      <p>
        Teachers and lecturers can set up class groups in an instant,
        invite students in, assign Tutorials and modules, view student
        projects and demonstrate coding through sharing and
        collaborating. Tutorial content can be created and published,
        remain public or be made private.
        </br>
        <%= link_to "Read more...", "/docs/quickstart/education" %>
      </p>
      <a class="btn" href="/p/signup">Get Started</a>

    </article>
  </div>
</section>
