---
title: Building the Perfect Browser Based IDE
class_name: home
---

<header>
  <div class="container">

    <div id="tagline">
      <%= image_tag 'home/header-amazing.gif', :width => 641, :height => 230 %>
      <div>
        <p>spin the wheel to discover the delights of Codio</p>
        <%= image_tag 'home/arrow.png', :width => 60 %>
      </div>
    </div>
    <div id="reel">
      <%= image_tag 'reel.png', :width => 420, :height => 420 %>
    </div>

  </div>
</header>

<aside>
    <ul>
      <li class="active"><a href="#productivity">Packing Productivity</a></li>
      <li><a href="#baked">Baked in Brilliance</a></li>
      <li><a href="#compiled">Compiled Stuff</a></li>
      <li><a href="#deployment">Deployment Delights</a></li>
      <li><a href="#">Real-time Collaboration</a></li>
      <li><a href="#">Source Control</a></li>
      <li><a href="#">Annotations</a></li>
      <li><a href="#">Other Goodies</a></li>
    </ul>
</aside>

<section id="productivity">
  <div class="container">
    <div>
      <h2>Packing Productivity</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
    </div>
  </div>
</section>

<section id="baked">
  <div class="container">
    <div>
      <h2>Baked in Brilliance</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
    </div>
  </div>
</section>

<section id="compiled">
  <div class="container">
    <div>
      <h2>Compiled Stuff</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
    </div>
  </div>
</section>

<section id="deployment">
  <div class="container">
    <div>
      <h2>Deployment Delights</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, velit, animi illum iste ex laborum quos debitis ducimus ad nobis! Ad, illum voluptate optio aliquid tenetur voluptates corporis doloremque cupiditate!</p>
    </div>
  </div>
</section>


<!-- <section id="highlighted-feature">
  <div class="container">
    <div>
      <h2>Codio:Annotations <small>It's free and it's available now</small></h2>
      <p>Introducing an amazing new way to create rich, interactive documentation for tutorials, APIs, developer documentation or anywhere you want code documentation to be a cut above the rest - and it's all part of your code!</p>

      <div>
        <a href="http://youtube.com/v/Fk3eG_eSRPM" class="fancybox fancybox.iframe">
          <%= image_tag '//i3.ytimg.com/vi/Fk3eG_eSRPM/mqdefault.jpg', :width => 322, :height => 182 %>
          <i class="icon-play-circle icon-4x"></i>
        </a>
        <p>Watch the video on the left,<br><%= link_to 'read the documentation', '/docs/annotations/' %>,<br><a href="/#tryit">play with Annotations</a> in the embedded IDE,<br>or <a href="/#examples">try some examples</a>. It's all part of our push to <%= link_to 'teach coding in schools', '/education' %>.</p>
      </div>
    </div>

    <div class="screenshot">
      <%= image_tag 'home/highlighted-features/annotations.png', :width => 380 %>
      <span></span>
    </div>
  </div>
</section> -->

<% content_for :foot do %>
<%= javascript_include_tag 'submenu' %>
<% end %>
