<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
    <title><%= current_page.data.title %> - Codio</title>

    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield_content :meta_description %>">
    <% elsif current_page.data.meta_description %>
      <meta name="description" content="<%= current_page.data.meta_description %>">
    <% else %>
      <meta name="description" content="Visual mobile and desktop development in the cloud, for developers of all skill levels.">
    <% end %>

    <% if content_for?(:meta_keywords) %>
      <meta name="keywords" content="<%= yield_content :meta_keywords %>" />
    <% elsif current_page.data.meta_keywords %>
      <meta name="description" content="<%= current_page.data.meta_keywords %>">
    <% else %>
      <meta name="keywords" content="mobile application development tools, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, android, html5, html 5, ios, ipad, iphone, desktop, windows, blackberry, smartphone, symbian" />
    <% end %>

    <%= stylesheet_link_tag 'normalize', 'boilerplate' %>

    <% if !current_page.app.development? %>
      <link href="/plugins/sitebar-min.css" media="screen" rel="stylesheet" type="text/css" />
    <% end %>

    <%= yield_content :head %>

    <link href="http://feeds.feedburner.com/ApplicationCraft" rel="alternate" title="Gettin' Crafty - A Blog written by the team at Application Craft - the Visual IDE people" type="application/atom+xml"/>
  </head>
  <body class="<%= current_page.data.class_name || 'standard' %>">
    <a id="top"></a>

    <nav>
      <div class="container">

        <div id="blog-ribbon" class="nofade">
          <%= link_to 'Blog', '/blog', :title => "Check out our Blog" %>
        </div>

        <nav class="clearfix">
          <%= link_to image_tag('logo-beta.png', :width => 178, :height => 59), '/' %>

          <ul id="social-icons">
            <li><%= link_to '<span></span>Twitter', 'http://twitter.com/codiohq' %></li>
            <li><%= link_to '<span></span>Facebook', 'https://www.facebook.com/codio' %></li>
            <li><%= link_to '<span></span>Google+', 'https://plus.google.com/b/114193155177577005539/?prsrc=3' %></li>
          </ul>

          <ul id="navigation">
            <li><%= link_to 'Features', '/#features' %></li>
          </ul>
        </nav>

      </div>
    </nav>

    <%= yield %>
    <%= partial :footer %>

  </body>
</html>
