<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
    <title><%= current_page.data.title %> - Codio</title>

    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield_content :meta_description %>">
    <% elsif current_page.data.meta_description %>
      <meta name="description" content="<%= current_page.data.meta_description %>">
    <% else %>
      <meta name="description" content="Codio is a powerful cloud-based visual front-end IDE that covers the complete web development cycle; from prototype to deployment">
    <% end %>

    <% if content_for?(:meta_keywords) %>
      <meta name="keywords" content="<%= yield_content :meta_keywords %>" />
    <% elsif current_page.data.meta_keywords %>
      <meta name="description" content="<%= current_page.data.meta_keywords %>">
    <% else %>
      <meta name="keywords" content="mobile application development tools, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, android, html5, html 5, ios, ipad, iphone, desktop, windows, blackberry, smartphone, symbian" />
    <% end %>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/s/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="/s/favicon.png" />
    <!-- should actually be placed in your root dir -->
    <link rel="icon" type="image/ico" href="/s/favicon.ico" />

    <%= stylesheet_link_tag 'normalize', 'boilerplate' %>

    <% if !current_page.app.development? %>
      <link href="/plugins/sitebar-min.css" media="screen" rel="stylesheet" type="text/css" />
    <% end %>

    <%= yield_content :head %>

    <link href="https://codio.com/s/blog/feed.xml" rel="alternate" title="Gettin' Crafty - A Blog written by the team at Codio - the perfect IDE people" type="application/atom+xml"/>
  </head>
  <body class="<%= current_page.data.class_name || 'standard' %>">
    <a id="top"></a>

    <div class="wrap">

      <nav>
        <div class="container">

          <div id="blog-ribbon" class="nofade">
            <%= link_to 'Blog', '/blog', :title => "Check out our Blog", :data => { :"no-turbolink" => true } %>
          </div>

          <div id="hiring" class="nofade">
            <%= link_to "We're hiring!", '/blog/2013/03/we-are-hiring-engineers/', :title => "We're hiring!", :data => { :"no-turbolink" => true } %>
          </div>

          <nav class="clearfix">
            <%= link_to image_tag('logo-beta.png', :width => 178, :height => 59), '/', :data => { :"no-turbolink" => true } %>

            <ul id="social-icons">
              <li><%= link_to '<span></span>Google+', 'https://plus.google.com/u/0/b/107423236292333764300/107423236292333764300/posts', :target => "_blank" %></li>
              <li><%= link_to '<span></span>Facebook', 'https://www.facebook.com/pages/Codio/164778707006897?ref=hl', :target => "_blank" %></li>
              <li><%= link_to '<span></span>Twitter', 'https://twitter.com/codiohq', :target => "_blank" %></li>
            </ul>

            <ul id="navigation">
              <li><a href="/#tryit" data-no-turbolink>Try it!</a></li>
              <li><a href="/#features" data-no-turbolink>Features</a></li>
              <li><%= link_to 'Docs', '/docs', :data => { :"no-turbolink" => true } %></li>
            </ul>
          </nav>

        </div>
      </nav>

      <%= yield %>

    </div>

    <%= partial :footer %>

  </body>
</html>
