<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <% if current_page.data.subtitle %>
        <%= current_page.data.title %>: <%= current_page.data.subtitle %>
      <% else %>
        <%= current_page.data.title %>
      <% end %>
       - Codio
    </title>

    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield_content :meta_description %>">
    <% elsif current_page.data.meta_description %>
      <meta name="description" content="<%= current_page.data.meta_description %>">
    <% else %>
      <meta name="description" content="Codio is a powerful cloud and browser based IDE that covers the complete web development cycle; from prototype to deployment">
    <% end %>

    <% if content_for?(:meta_keywords) %>
      <meta name="keywords" content="<%= yield_content :meta_keywords %>" />
    <% elsif current_page.data.meta_keywords %>
      <meta name="description" content="<%= current_page.data.meta_keywords %>">
    <% else %>
      <meta name="keywords" content="mobile application development tools, mobile development platform, mobile application software, app development, app developments, applications, application, apps, tools, tool, platform, platforms, software, softwares, environment, android, html5, html 5, ios, ipad, iphone, desktop, windows, blackberry, smartphone, symbian" />
    <% end %>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/s/apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/s/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/s/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/s/apple-touch-icon-precomposed.png" />
    <link rel="shortcut icon" href="/s/favicon.png" />
    <!-- should actually be placed in your root dir -->
    <link rel="icon" type="image/ico" href="/s/favicon.ico" />

    <%= stylesheet_link_tag 'normalize', 'boilerplate' %>

    <%= yield_content :head %>

    <link href="https://codio.com/s/blog/feed.xml" rel="alternate" title="Code and Unload - While we code we often have lots of ideas brewing around. Ideas we'd like to unload onto you" type="application/atom+xml"/>
  </head>
  <body class="<%= current_page.data.class_name || 'standard' %>" data-spy="scroll" data-target="aside">
    <a id="top"></a>

    <div class="wrap">

      <%= partial :header %>

      <% if current_page.data.submenu %>

        <div class="container clearfix">
          <aside>
            <ul id="submenu" class="nav">
              <% current_page.data.submenu.each do |f| %>
                <li class="<%= 'active' if f.active %>">
                  <a href="<%= f.url %>"><%= f.text %></a>
                </li>
              <% end %>
            </ul>
          </aside>

          <article>
            <%= yield %>
          </article>
        </div>
      <% else %>
        <%= yield %>
      <% end %>

    </div>

    <%= partial :footer %>

  </body>
</html>
