---
title: Pricing | Teaching code | Codio
description: Codio licences are for individuals, developers, schools, colleges universities and other learning organisations — with a free 30 day trial.
layout: layout
fixed: false
---

<div class="header-block">
  <div class="pricing-header-container">
    <h1>
      Your first 30 days are free with Codio
    </h1>
    <%= link_to '30 day free trial', '/start-edu-trial', class: 'button button-large button-action signup-link button-main' %>
  </div>
</div>

<div class="pricing-tabs">
  <ul class="nav nav-tabs" id="pricingTab">
    <li data-type="school">
      <a href="#school" data-toggle="tab"><div class="text-center"><span>K12 Schools</span></div></a>
    </li>
    <li data-type="university">
      <a href="#university" data-toggle="tab"><span>University</span></a>
    </li>
    <li data-type="business">
      <a href="#business" data-toggle="tab"><span>Enterprise</span></a>
    </li>
    <li data-type="individual">
      <a href="#individual" data-toggle="tab"><div class="text-center"><span>Learner or Developer</span></div></a>
    </li>
  </ul>

  <div class="tab-content pricing-tab pricing-tab-content">
    <div class="pricing-content-col pricing-content-col-left">
      <h3 class="first-letter-uppercase">Individual Licence</h3>
      <div class="price-count-block">
        <span class="currency-type">&pound;</span>
        <span class="amount">0</span>
        <div class="currency-after">
          <div class="range-block">
            <span class="divider">/</span>
            <span class="range">month</span>
          </div>
          <span class="zero">.00</span>
        </div>
      </div>
      <div class="count">
        <div class="count-block">
          for
          <span class="number">0</span>
          user(s)
        </div>
      </div>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          <div class="dropdown-header">Select plan...</div><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        </ul>
      </div>

      <div class="subtext">Codio offers a range of flexible pricing options including institution, department and self-pay options.
        Why not talk to the Codio team to find the most cost-effective option for you.</div>

      <div class="features-list">
        <ul class="list">
        </ul>
      </div>

      <div class="action-buttons">
        <a id="actionBtn" href="#" class="button button-large button-dark signup-link">Buy now</a>
        <a id="contactUsBtn" href="http://email.codio.com/get-a-quote-university"
          class="button button-large button-white signup-link">Contact Us</a>
        <a id="requestQuoteBtn" href="http://email.codio.com/get-a-quote-school"
          class="button button-large button-white signup-link">Request  Quote</a>
        <a id="learnMore" href="http://codio-2227229.hs-sites.com/request-a-quote" class="learn-more-link">Learn More</a>
      </div>

      <div class="information-block">
        <div>Not ready yet? Need more information?</div>
        <b>No problem, <%= mail_to 'help@codio.com', 'contact us', class: '' %><span> for a personal demo<span></b>
      </div>

      <div class="payment-cards">
        <%= image_tag 'assets/pricing/visa.png', class: 'payment-card-1' %>
        <%= image_tag 'assets/pricing/mastercard.png', class: 'payment-card-2' %>
        <%= image_tag 'assets/pricing/visa.png', class: 'payment-card-3' %>
        <%= image_tag 'assets/pricing/mastercard.png', class: 'payment-card-4' %>
        <div class="vat-block">
          * VAT and/or local taxes may apply
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="school">
      <%= partial 'pricing-faq-school' %>
    </div>
    <div class="tab-pane fade" id="university">
      <%= partial 'pricing-faq-university' %>
    </div>
    <div class="tab-pane fade" id="business">
      <%= partial 'pricing-faq-business' %>
    </div>
    <div class="tab-pane fade in active" id="individual">
      <%= partial 'pricing-faq-individual' %>
    </div>
  </div>
</div>

<hr/>
