---
title: Pricing | Teaching code | Codio
description: Codio licences are for individuals, developers, schools, colleges universities and other learning organisations — with a free 30 day trial.
---
<div class="pricing-header">
  <div class="subheader-block">
    <span>
      <div class="link-button-bar">
        <div class="button-container">
          <%= link_to 'Schools', '/school', class: 'button button-large' %>
          <%= link_to 'Universities', '/university', class: 'button button-large' %>
          <%= link_to 'Developer', '/developer', class: 'button button-large' %>
          <%= link_to 'Students', '', class: 'button button-large' %>
        </div>
      </div>
    </span>
  </div>
  <div class="pricing-header-container">
    <h1>
      Your first 30 days are free with Codio
    </h1>
    <%= link_to '30 day free trial', '/p/free-education-trial', class: 'button button-large button-action signup-link button-main' %>
  </div>
</div>

<div class="pricing-tabs">
  <ul class="nav nav-tabs" id="pricingTab">
    <li class="active"><a href="#individual" data-toggle="tab"><span>Individual</span></a></li>
    <li><a href="#business" data-toggle="tab"><span>Business</span></a></li>
    <li><a href="#school" data-toggle="tab"><div class="text-center"><span>Schools from K1-12</span></div></a></li>
    <li><a href="#university" data-toggle="tab"><span>University</span></a></li>
  </ul>
  
  <div class="tab-content pricing-tab pricing-tab-content">
    <div class="currency-block">
      <h4>Choose currency</h4>
      United Kingdom - United States
    </div>

    <div class="pricing-content-col pricing-content-col-left">
      <h3>Individual Licence</h3>
    </div>
    
    <div class="tab-pane fade in active" id="individual">
      <%= partial 'pricing-faq-individual' %>
    </div>
    <div class="tab-pane fade" id="business">
      <%= partial 'pricing-faq-business' %>    </div>
    <div class="tab-pane fade" id="school">
      <%= partial 'pricing-faq-school' %>
    </div>
    <div class="tab-pane fade" id="university">
      <%= partial 'pricing-faq-university' %>
    </div>
  </div>
</div>

<hr/>

<div class="pricing-slider">
  <%= partial 'slider' %>
  <div class="action-buttons">
    <%= link_to 'Start trial', '/p/free-education-trial', class: 'button button-large button-action signup-link' %>
    <%= mail_to 'help@codio.com', 'Contact us', class: 'button button-large button-dark open-intercom' %>
  </div>
</div>

<hr/>
