
<div class="pricing-header">
  <div class="pricing-header-container">
    <h1>
      Affordable for everyone
    </h1>
    <h2>
      We support you with the technology, learning resources and
      management tools you need to succeed.
    </h2>
  </div>
</div>

<div class="pricing-slider">
  <%= partial 'slider' %>
  <div class="action-buttons">
    <%= link_to 'Start trial', '/p/free-education-trial', class: 'button button-large button-action signup-link' %>
    <%= link_to 'Contact us', '/', class: 'button button-large button-dark' %>
  </div>
</div>

<hr/>

<div class="pricing-faq">
  <div class="pricing-faq-header">
    <%= image_tag 'assets/pricing/faq.svg' %>
    <h2>Still some questions left?</h2>
  </div>

  <div class="pricing-faq-col pricing-faq-col-left">
    <div class="pricing-faq-entry">
      <h3>Licences explained</h3>
      <h4>Individuals</h4>
      <p>
        Our individuals Developer licences are offered on a monthly
        subscription basis and priced in either US dollars or UK
        pounds. You can set up a recurring monthly payment and manage your
        account and billing details inside Codio.
      </p>
      <p>
        If you cancel at any time, your account runs to the end of the
        last paid licence period at which point your account and projects
        will be de-activated but not deleted. You can export or save
        your projects to a repository &mdash; and you can re-activate your
        account at any time.
      </p>
      <h4>Schools and universities</h4>
      <p>
        Schools and university licences are offered as academic year
        licences for a defined user group &mdash; teachers, lecturers, students
        and technicians &mdash; for each education institution. Licences are
        invoiced annually and paid for in advance of a licence period.
      </p>
    </div>
    <div class="pricing-faq-entry">
      <h3>School and university organisations</h3>
      <p>
        School and university user groups benefit from Codio's
        organization management tools.
      </p>
      <p>
        You can create you school or university organization with all your
        teaching staff, faculty members and students assigned to your organization.
      </p>
      <p>
        Codio offers powerful Class management functionality &mdash; allowing you
        to create Class groups comprising teachers, students and any course modules
        or units you wish to assign to a Class &mdash; whether these are Codio
        learning resources or resources or projects you create.
      </p>
      <p>
        We offer easy on-boarding features for education organization user
        groups, and on licence renewal, we'll work with you to manage on-boarding
        or roll-off of existing students to ensure a smooth transition for
        students starting or ending courses.
      </p>
      <p>
        See our Docs for more information about <%= link_to 'school set up', '/docs/teacher/edusetup/' %>.
      </p>
    </div>
    <div class="pricing-faq-entry">
      <h3>Account owners</h3>
      <p>
        Typically the account holder is the teacher or lecturer, or other
        department member who creates your institutions organization in Codio.
      </p>
      <p>
        Multiple owners can be assigned to any organization &mdash; e.g. multiple
        teaching faculty &mdash; each with the ability to add users, create Classes
        and assign resources.
      </p>
    </div>
  </div>
  <div class="pricing-faq-col pricing-faq-col-right">
    <div class="pricing-faq-entry">
      <h3>Teacher accounts vs student accounts</h3>
      <p>
        Teachers and faculty members have access to a teacher-view dashboard
        which presents information different from the information presented to
        any student user in your group.
      </p>
      <p>
        The teacher view shows you organization members, Class groups, teachers,
        students and any course resources assigned to a Class.
      </p>
      <p>
        Once auto-marked assessments are live, you'll also see a rich dashboard of
        information about student engagement and progress &mdash; viewable in whole
        class, individual student or individual question topic formats.
      </p>
      <p>
        You can read more in our documentation about school set up, organizations
        and class features.
      </p>
    </div>
    <div class="pricing-faq-entry">
      <h3>Codio Course Content</h3>
      <p>
        School and university licence holders have access to all Codio certified teaching and learning resources during the licence period, including all new resources or resource enhancement released during another licence period.
      </p>
      <p>
        Using Codio's Guides features, you can also author and publish your own resources in Codio, and even assign these as courses or projects to your student group.
      </p>
    </div>
    <div class="pricing-faq-entry">
      <h3>Project workspace</h3>
      <p>
        Codio provides each account &mdash; individuals, teachers, students &mdash; with all the project workspace needed to develop programming projects or create projects that can be assigned to student groups.
      </p>
      <p>
        You'll have access to Codio's library of Stacks and Starter packs providing you with all the software, languages, databases, and other components needed to develop in just about any programing language.
      </p>
      <p>
        In Docs, you can read more about Stacks and Starter Packs
      </p>
    </div>
    <div class="pricing-faq-entry">
      <h3>Project ownership</h3>
      <p>
        You own all your own projects and code &mdash; you can save and export your code, or save it to a repository.
      </p>
    </div>
  </div>
</div>
