---
title: Teaching code | schools | Codio
description: Codio is the learning platform computer science teachers use in the classroom. Being cloud-based, students code from anywhere.
layout: layout
fixed: true
---

<section class='header-block'>
  <h1 class="animated fadeIn">Teach Code with Confidence</h1>
  <div class="school-section school-section-content">
    <div class="school-section-block-row">
      <div class="section-block h_iframe">
        <%= image_tag 'assets/school/placeholdit.png', class: "ratio" %>
        <iframe src="https://player.vimeo.com/video/141552266?portrait=0"
          frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>
      <div class="section-block">
        <h2>A complete solution to support computer science teachers and their students</h2>
        <div class="action-buttons animated fadeInUp">
          <%= link_to '30 DAY FREE TRIAL', '/p/free-education-trial', class: 'button button-large button-main' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="school-content">
  
  <div class="school-section confidence school-section-content wow fadeIn"
    data-wow-duration="2s"
    data-wow-delay=".5s">
    <h2>Testimonials</h2>
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->      
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="bubble-container">
            <div class="section quote">
              <div class="section-block bubble">
                <div class="left-quote">
                  &ldquo;
                </div>
                <div class="section-block-copy vertical">
                  I would definitely recommend Codio for teachers. A lot of work has gone into making it easy to use.
                </div>
                <div class="right-quote">
                  &rdquo;
                </div>
              </div>
              <div class="teacher">
                <div class="profile">
                  <!--<%= inline_svg "assets/school/man-young-white.svg", class: "" %>-->
                  <%= image_tag 'assets/school/white-young-man.png', class: 'profile-img' %>
                </div>
                <div class="copy">
                  <h4>Ben Garside</h4>
                  <p>
                    Teacher of Computing, Durham<br />
                    Johnston School<br />
                    <%= link_to 'Lean more', 'https://codio.com/blog/durham-johnston-school-codio-at-the-chalkface/', class: 'link' %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="bubble-container">
            <div class="section quote">
              <div class="section-block bubble">
                <div class="left-quote">
                  &ldquo;
                </div>
                <div class="section-block-copy vertical">
                  A fantastic resource which removes all barriers to coding within a Classroom environment.
                </div>
                <div class="right-quote">
                  &rdquo;
                </div>
              </div>
              <div class="teacher">
                <div class="profile">
                  <!--<%= inline_svg "assets/school/black_man.svg", class: "" %>-->
                  <%= image_tag 'assets/school/white-young-man-black-hair.png', class: 'profile-img' %>
                </div>
                <div class="copy">
                  <h4>Karl Douglass</h4>
                  <p>
                    Subject Leader ICT and <br />
                    Computing,<br />
                    Pudsey Grangefield School
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="bubble-container">
            <div class="section quote">
              <div class="section-block bubble">
                <div class="left-quote">
                  &ldquo;
                </div>
                <div class="section-block-copy vertical">
                  I’m really very excited by what Codio has developed. Teaching computing and
                  ICT has been looking for something like this for a while!
                </div>
                <div class="right-quote">
                  &rdquo;
                </div>
              </div>
              <div class="teacher">
                <div class="profile">
                  <%= inline_svg "assets/school/older_man_with_glasses.svg", class: "" %>
                </div>
                <div class="copy">
                  <h4>Vaughan Connolly</h4>
                  <p>
                    Head of Computing <br />
                    Haberdashers’ Aske’s Boys’ <br />
                    School, Elstree, UK
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="bubble-container">
            <div class="section quote">
              <div class="section-block bubble">
                <div class="left-quote">
                  &ldquo;
                </div>
                <div class="section-block-copy vertical">
                  Loving Linux at last! “Eureka! I think I have finally found a way to teach
                  coursework task"
                </div>
                <div class="right-quote">
                  &rdquo;
                </div>
              </div>
              <div class="teacher">
                <div class="profile">
                  <!--<%= inline_svg "assets/school/beard_man.svg", class: "" %>-->
                  <%= image_tag 'assets/school/white-beard-man.png', class: 'profile-img' %>
                </div>
                <div class="copy">
                  <h4>John Richards</h4>
                  <p>
                    Head of Computing and IT <br />
                    Holsworthy Community College, <br />
                    Devon, UK
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="bubble-container">
            <div class="section quote">
              <div class="section-block bubble">
                <div class="left-quote">
                  &ldquo;
                </div>
                <div class="section-block-copy vertical">
                  Coding in the cloud is great because it enables young people to take
                  the work they learn in school and continue it at home or anywhere around the world
                </div>
                <div class="right-quote">
                  &rdquo;
                </div>
              </div>
              <div class="teacher">
                <div class="profile">
                  <%= inline_svg "assets/school/man-young-black.svg", class: "" %>
                </div>
                <div class="copy">
                  <h4>Mark Martin</h4>
                  <p>
                    aka Urban Teacher, <br />
                    Blogger and Computing Teacher <br />
                    London, UK
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  </div>

  <hr/>

  <div
    class="school-section school-section-content wow fadeIn"
    data-wow-duration="2s"
    data-wow-delay=".5s"
    >
    <h2>Codio for schools</h2>

    <div class="school-section-content">
      <p>
        Codio is designed for computer science teachers to use in the classroom. It
        combines an online code editor, curriculum-mapped courses, course publishing
        tools and the ability to monitor student progress. And because it's cloud-based,
        you don't worry about the administrative hassle of setting up a code environment.
      </p>
    </div>
  </div>
</section>

<div class="grey">
  <div class="school-img">
    <%= image_tag 'assets/school/codio_for_schools.png', class: "school-section-content-img" %>
  </div>
</div>

<section class="school-content">
  <div class="school-section school-section-content wow fadeIn">
    <h2>Codio benefits</h2>
    
    <div class="school-section-block-row">
        
      <div class="section-block">
        <h4 class="section-block-header">
          Auto-marked Assessments
        </h4>
        <div class="section-block-copy">
          <p>
            Save time by <a href="/features/management/">creating code</a> assessments that are marked automatically.
            It provides instant feedback for your students. You have a selection
            of assessments types such as multiple choice or fill in the blank.
          </p>
        </div>
      </div>
        
      <div class="section-block">
        <h4 class="section-block-header">
          Curriculum-mapped Courses
        </h4>
        <div class="section-block-copy">
          <p>
            Over 80+ course units are available to use including computational
            thinking, Python, Java and Javascript. <a href="/docs/content/courses/currmap2012/">Courses are co-developed with
            Oxford, Cambridge and RSA (OCR)</a>, UK's leading exam board.
          </p>
        </div>
      </div>
        
    </div>
      
    <div class="school-section-block-row">
      
      <div class="section-block">
        <h4 class="section-block-header">
          Monitor Student Progress
        </h4>
        <div class="section-block-copy">
          <p>
            We've made <a href="/features/management/">class management</a> simple. You can easily create and manage
            classes, monitor assignments, and access student code. You can also
            track student progress and demonstrate impact.
          </p>
        </div>
      </div>
      
      <div class="section-block">
        <h4 class="section-block-header">
          Code from Anywhere
        </h4>
        <div class="section-block-copy">
          <p>
            Accessible anywhere, students use an <a href="/features/">online code editor</a> that contains
            all the software a student needs. Each student enjoys a dedicated virtual
            server for their project work - ideal in the classroom or at home.
          </p>
        </div>
      </div>
    </div>    
  </div>
</section>

<div class="blue">
  <div class="school-img">
    <h2>
      Ready to get started?
    </h2>
    <div class="action-buttons">
      <%= link_to 'Start Free Trial', '/p/free-education-trial', class: 'button button-large button-main' %>
      <%= link_to 'Attend a webinar', 'https://attendee.gotowebinar.com/rt/3941926581006800900?splash=false', class: 'button button-main button-large' %>
    </div>
  </div>
</div>

<section class="school-content"> 
  <div class="school-section confidence school-section-content wow fadeIn"
       data-wow-duration="2s"
       data-wow-delay=".5s">
    <h2>Proudly supporting schools and non-profits</h2>

      <div id="logosCarousel" class="carousel slide logos-carousel" data-ride="carousel">
        <!-- Indicators -->      
        <ol class="carousel-indicators">
          <li data-target="#logosCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#logosCarousel" data-slide-to="1"></li>
          <li data-target="#logosCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides-->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/school/logos/AcademyOfHolyAngels.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/agslogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/aka_hyderabad_logo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/Ashdonlogo.png', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/school/logos/bishopjustuslogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/CaistorGrammarSchool.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/ChellastonLogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/CodedbyKidslogo-v4.png', class: "img-responsive" %></div>
            </div>
          </div>
          <div class="item">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/school/logos/EWLogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/GlynnSchoollogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/ISSNorway.jpg', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/KingEcgbertSchool.png', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/school/logos/Kingwoodschoollogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/LondonOratory_logo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/NortonCollege.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/NYCacademylogo.jpg', class: "img-responsive" %></div>
            </div>
          </div>
          <div class="item">
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/school/logos/PudseyGrangefieldSchool.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/SeafordCollege.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/StHelenaSchool.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/TheUrbanAssembly.png', class: "img-responsive" %></div>
            </div>
            <div class="logos-container">
              <div class="logo-img"><%= image_tag 'assets/school/logos/EllenWilkinsonSchool.jpg', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/WymondhamCollege.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/YoungWomenAstorialogo.png', class: "img-responsive" %></div><!--
              --><div class="logo-img"><%= image_tag 'assets/school/logos/ThePerseSchoolCambridge.jpg', class: "img-responsive" %></div>
            </div>
          </div>
        </div>

        <!--Left and right controls -->
        <a class="left carousel-control" href="#logosCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#logosCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </div>
</section>