---
title: Teach code | Across your district
description: Achieve your vision for a full computer science program across your district with Codio, from middle school to high school seniors. Attract new funding, free for professional development training, use with any curriculum such as Computer Science AP courses.
layout: layout
transparent: true
---

<section class="header-block vertical">
  <div class="header-content">
    <div class="title">Measurable Impact in K12 Computer<br/>Science Education</div>
    <div class="text">
      Codio is the only advanced platform custom-built to power K12 CS education programs;
      curriculum-agnostic and designed around teachers and students for maximum learning impact.
    </div>
    <%= link_to 'Schedule A Call', 'http://news.codio.com/contact-us',
      class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="content-block">
  <div class="block">
    <div class="left-part">
      <div class="content">
        <div class="image">
          <%= image_tag 'assets/school/leadership/measurable-impact.jpg', alt: 'Measurable Impact', class: '' %>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="content vertical">
        <div class="title-text-right">
          <h2>Measurable Impact</h2>
          <p>
            From time stamping student engagement to immediate feedback through auto-graded assessments,
            Codio achieves your vision of a District or State approach to CS education.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="curriculum" class="block">
    <div class="left-part">
      <div class="content vertical">
        <div class="title-text-left">
          <h2>Curriculum Agnostic</h2>
          <p>
            Running your course in Codio gives you several key advantages. Mini auto-graded assessments,
            the ability to illustrate concepts in an IDE, time-stamps of student engagement and tools
            for group or teacher/student collaboration.
          </p>
        </div>
      </div>
    </div>
    <div class="right-part"></div>
  </div>

  <div class="block">
    <div class="left-part">
      <div class="content">
        <div class="image">
          <%= image_tag 'assets/school/leadership/product-in-laptop.jpg', alt: 'Coded by Kids', class: '' %>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="content vertical">
        <div class="title-text-right">
          <h2>A platform students actually want to use</h2>
          <p>
            Starting from middle school, students can switch on to new subjects or get turned off for life.
            Maximize the potential to engage your students with CS on a platform custom-built for better
            outcomes and engagement with CS education.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="commitment" class="block">
    <div class="left-part">
      <div class="content vertical">
        <div class="title-text-left">
          <h2>Commitment to K12<br/>teacher PD</h2>
          <p>
            Codio and the CSTA announced a partnership in July 2016 giving every K12 CSTA teacher
            member access to the Codio platform and resources for personal professional development.
            Have your teachers join over 600 K12 school teachers in the Codio CSTA community group.
          </p>
        </div>
      </div>
    </div>
    <div class="right-part"></div>
  </div>

  <div id="trusted" class="block">
    <div class="content vertical">
      <div class="title-text-center">
        <h2>Trusted by over 1,000 K12 Institutions</h2>
        <p>
          Codio is a trusted partners to K12 educators and school systems across the globe.
          Used extensively in the US and UK K12 systems, as well as International Schools worldwide - join
          over 1,000 K12 institutions enhancing their CS programs on the Codio platform.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="carousel-block">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="bottom-block">
        <div class="left-part">
            <div class="coded-by-kids-img"></div>
        </div><!--
     --><div class="right-part">
          <div class="title"></div>
          <%= image_tag '/img/assets/index/logos/coded-by-kids-logo.png', alt: 'Coded By Kids', class: '' %>
          <div class="quote">
              “Some older kids see it as: “this could take me somewhere”. The younger kids don’t yet
              see it in career terms. But that’s fine, it’s about immersing them in technology;
              immersing them in innovation. Seeing tech become second nature: using Git, the command line.
              That’s when I know we’re having an impact in bringing kids into the modern world.”
          </div>
          <div class="author">
            - Sylvester Mobley, uses Codio in all his outreach programs
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Free Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  <%= link_to 'Schedule A Call', 'http://news.codio.com/contact-us', class: 'button button-rounded button-main' %>
</section> 