---
title: Your CS Program | Future proof your students' career
description: Ensure your students are ready of today's digital economy. Codio is the only custom-built platform to provide you with the online IDE, resources, tools and infrastructure you need.
layout: layout
transparent: true
priority: 0.9
---

<section class="header-block vertical">
  <div class="header-content">
    <div class="title">Every student deserves the skills needed for our digital economy</div>
    <div class="text">
      Codio’s platform lets you shape your own vision for campus-wide digital skills programs with
      minimal disruption to faculty and maximum benefit for student employability
    </div>
    <%= link_to 'Schedule A Call', 'http://news.codio.com/contact-us',
      class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="content-block">
  <div class="block">
    <div class="left-part">
      <div class="content">
        <div class="image">
          <%= image_tag 'assets/university/leadership/product-in-laptop.jpg', alt: 'Coded by Kids', class: '' %>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="content vertical">
        <div class="title-text-right">
          <h2>Easy to Adopt</h2>
          <p>
            Codio is easy for faculty to adopt without disruption to existing teaching practices.
            The benefits are immediate in reduced setup and admin time, easier faculty-student
            interaction and richer insight into student performance. Getting started is simple too - you
            can set up instructor and student groups in seconds and integrate with your LMS in a blink.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="curriculum" class="block-background">
    <div class="left-part">
      <div class="content vertical">
        <div class="title-text-left">
          <h2>Curriculum Agnostic</h2>
          <p>
            It’s your program and your pedagogy. Codio gets out of the way and lets you teach the way
            you want. You can import existing materials, or create and adapt curricula with our
            state-of-the-art “Guides” authoring and assessment tools that save faculty and TAs hours of
            time and enhance the student learning experience.
          </p>
        </div>
      </div>
    </div>
    <div class="right-part"></div>
  </div>

  <div class="block">
    <div class="left-part">
      <div class="content">
        <div class="image">
          <%= image_tag 'assets/university/leadership/robust-learning-platform.jpg', alt: 'Coded by Kids', class: '' %>
        </div>
      </div>
    </div>
    <div class="right-part">
      <div class="content vertical">
        <div class="title-text-right">
          <h2>Robust learning platform</h2>
          <p>
            When adopting platform technology to support new programs - you need the reassurance of
            a partner that has a proven ability to support students and faculty at scale. From tens
            of thousands of students on edX to multi-institution higher education campus programs,
            Codio’s massively scalable cloud infrastructure is built for volume.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="platform-students" class="block-background">
    <div class="left-part">
      <div class="content vertical">
        <div class="title-text-left">
          <h2>A platform students<br/>will actually use</h2>
          <p>
            Students often feel intimidated by technology<br/>
            that was not designed to support computer<br/>
            science. This is doubly true for novice students.<br/>
            Codio is different because our design is<br/>
            driven by faculty and students. It is approachable,<br/>
            rich in feedback, and better for student engagement.
          </p>
        </div>
      </div>
    </div>
    <div class="right-part"></div>
  </div>

  <div id="funding-magnet" class="block-background">
    <div class="content vertical">
      <div class="title-text-center">
        <h2>Funding Magnet</h2>
        <p>
          Often new STEM and CS programs are a catalyst for institutional innovation, student
          employability and the attraction of new funds to stimulate and capture enrolment growth.
          Codio can strengthen the case for program funds and show you how to maximize your impact.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="carousel-block">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="bottom-block">
        <div class="left-part">
            <div class="clement-allet-img"></div>
        </div><!--
     --><div class="right-part">
          <div class="title"></div>
          <%= image_tag '/img/assets/index/logos/florida-am-university-logo-2.png', alt: 'Florida University', class: '' %>
          <div class="quote">
              “This semester is the first year we decided to teach a computer programming course to
              non-Majors. And I immediately wanted it to be Codio. The students are already intimidated by
              computers and programming. So, I needed an environment that was friendly, accessible and something they can easily grasp.”
          </div>
          <div class="author">
            - Dr. Clement Allen, Associate Professor
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Free Trial', '/start-edu-trial', class: 'button button-rounded button-main' %>
  <%= link_to 'Schedule A Call', 'http://news.codio.com/contact-us', class: 'button button-rounded button-main' %>
</section>