---
title: "Teaching code | universities and colleges | Codio"
description: "Codio is designed for teaching computer science. Cloud based, it works on any device."
fixed: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class='header-block'>
  <div class="vertical">
    <div>
      <h1 class="animated fadeIn">
        Scale your Impact
      </h1>
      <h2>
        Freedom to teach any course topic from Big Data to Introductory courses, powerful yet easy to use,
        aggregate data set to measure program-wide impact and a more engaging experience for students.
        <br/>
        Dean, Provost or Head of Faculty?
      </h2>
      <div class="action-buttons animated fadeInUp">
        <%= link_to 'Start FREE Trial', '/start-edu-trial', class: 'button button-xlarge button-main' %>
        <%= link_to 'Book a Demo', '/demo', class: 'button button-xlarge button-main button-demo' %>
      </div>
    </div>
  </div>
  <div class="clear">
  </div>
</section>

<section class="university-body">
  <div class="section top">
    <h4 class="section-header">Codio For Universities and Colleges</h4>

    <div class="section-block-row">
      <p class="text">
        Streamline your course delivery with Codio. Instant access to student code.
        Easy to adopt with minimal disruption, online IDE with unique containerized
        infrastructure, with content authoring and a powerful assessment engine. All
        designed to increase student engagement and retention.
      </p>
    </div>
  </div>

  <div class="grey">
    <div class="section first">
      <div class="section-body">
        <div class="h_iframe">
          <%= image_tag 'assets/school/placeholdit.png', alt: 'Codio speaks with David Croft, Lecturer at Coventry University', class: 'ratio' %>
          <iframe src="https://www.youtube.com/embed/1KmjJeTNHMg" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="section second">
    <h4 class="section-header">Codio benefits</h4>
    <div class="section-block-row">
      <div class="section-block">
        <div class="left-quote">
          &ldquo;
        </div>
        <div class="section-block-copy">
          Web-based IDE, online code editor, project templates, powerful class
          management features and a flexible content authoring system all come
          as standard.
        </div>
        <div class="right-quote">
          &rdquo;
        </div>
      </div>
    </div>
  </div>

  <div class="section third">
    <div class="section-body">
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header">
            Save Time on Admin
          </h3>
          <div class="section-block-copy">
            Easy set up for projects and assignments. Instant access to student code.
            Advanced containerised infrastructure.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header">
            Save Time On Grading
          </h3>
          <div class="section-block-copy">
            A powerful auto-graded assessment engine for simple through advanced code tests.
            Grading cubic to streamline manual grading.
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header">
            Easy Adoption, Minimal Disruption
          </h3>
          <div class="section-block-copy">
            LMS integration with any LTI interface. Run courses from LMS with single
            sign on and resource allocation.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header">
            Freedom To Teach How You Want, From Anywhere
          </h3>
          <div class="section-block-copy">
            Ability to teach any course topic from Data Science to Non-CS majors.
            Cloud based so can access from anywhere.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section fourth">
      <h2>
        Ready to find out more?
      </h2>
      <div class="action-buttons animated">
        <%= link_to 'Start FREE Trial', '/start-edu-trial', class: 'button button-xlarge button-main' %>
        <%= link_to 'Book a Demo', '/demo', class: 'button button-xlarge button-main button-demo' %>
      </div>
    </div>
  </div>

</section>
