---
title: "Teaching code | Universities and Colleges | Codio"
description: "Codio is designed for teaching computer science. Cloud based, it works on any device."
fixed: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class="header-block vertical">
  <div class="header-content">
    <div class="quote">“ Codio has radically improved the way I teach my class ”</div>
    <div class="author">- Gordon Fraser, Sheffield University</div>
    <div class="text">
      The time saving for faculty and students is huge thanks to features like instant access
      to student code, powerful auto-graded assessments and more.
    </div>
    <%= link_to 'Free Trial', '/start-edu-trial',
      class: 'button button-rounded button-main' %>
  </div>
</section>

<section class="content-body">
  <div class="features-block">
    <div class="features-row">
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/features/lms/classes.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          20% reduction in admin time
        </div>
        <div class="text">
          Faculty consistently report a reduction in admin time of at least 20% through
          breakthroughs that include instant access to student code, reduction in setup
          and configuration time for new assignments use of auto-graded assessment creation
          without the need to write code, and LMS integration.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/features/lms/classes.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Cost saving
        </div>
        <div class="text">
          Codio delivers tangible reductions in grading costs as manual grading is easily replaced
          with auto-grading. Codio’s VM and IDE also reduces the need to invest and maintain labs.
          All students need is a laptop and a browser.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/sheffield-projects.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Better Collaboration
        </div>
        <div class="text">
          Instant access to student code enables class groups to share and contrast approaches to
          problem solving and programming in a classroom setting, which means better class
          engagement and greater potential for learning.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/simple-bash-test.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          New ways of teaching
        </div>
        <div class="text">
          Codio’s curriculum authoring tools lets your instructional content control the IDE,
          enabling better concept illustration and student interaction. Together with integrated
          assessments, it enhances your teaching materials and allows for a more immersive and
          rewarding learning experience for students.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/intro-to-software-engineering.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Greater insight into student progress
        </div>
        <div class="text">
          Learning management features like recording student time spent in assignments, and use of
          integrated assessments give faculty far greater insight into student engagement and
          students get faster feedback loop on assignment challenges.
        </div>
      </div>
    </div>

    <div class="features-row">
      <div class="left-part screen wow fadeIn">
        <%= image_tag 'assets/university/certified-stacks.jpg', alt: 'Classes', class: 'img-responsive' %>
      </div>
      <div class="middle-part">
        <div id="row2" class="vertical-dot-line">
          <div class="top"></div>
          <div class="dot"></div>
          <div class="bottom"></div>
        </div>
      </div>
      <div class="right-part description wow fadeIn">
        <div class="header">
          Reliability and ease of use
        </div>
        <div class="text">
          Codio is the only platform able to scale to student demand and is relied on by thousand of
          institutions worldwide. It is highly reliable and  easy to use for faculty and students.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="support-block vertical">
  <div class="support-content">
    <div class="title">Exemplary support</div>
    <div class="text">
      Codio prides itself on fast troubleshooting and response times to any user query.  We build
      customer feedback into our development plan. We pride ourselves on getting back to you very
      quickly so you know your questions are being addressed.
    </div>
  </div>
</section>

<section class="ready-started-block">
  <h2>Ready to get started?</h2>
  <%= link_to 'Free Trial', '/start-edu-trial',
    class: 'button button-rounded button-main' %>
  <%= link_to 'Schedule A Call', '',
    class: 'button button-rounded button-main' %>
</sectionsection>
