---
title: "Teaching code | universities and colleges | Codio"
description: "Codio is designed for teaching computer science. Cloud based, it works on any device."
fixed: true
---
<% @pricingType = "university" %>
<% @signupUrl = "/start-edu-trial" %>

<section class='header-block'>
  <h1 class="animated fadeIn">
    The easier, smarter way
    to teach programming
  </h1>
  <h2>
    Works on every device, powerful yet easy to use, puts you in charge of
    course content, and provides significant savings too.
  </h2>
  <div class="action-buttons animated fadeInUp">
    <%= link_to 'Start FREE Trial', '/start-edu-trial', class: 'button button-xlarge button-main' %>
    <%= link_to 'Book a Demo', '/demo', class: 'button button-xlarge button-main button-demo' %>
  </div>
  <div class="clear">
  </div>
</section>

<section class="university-body">
  <div class="section top">
    <h4 class="section-header">Codio For Universities and Colleges</h4>

    <div class="section-block-row">
      <div class="section-block">
        <div class="section-block-copy">
          Codio is built for computer science educators, and contains a unique
          combination of technologies that you’ll find hard to match. Codio
          provides an entire infrastructure stack in the cloud to give your
          students access to their code projects at any time.
        </div>
      </div>
      <div class="section-block">
        <div class="section-block-copy">
          And it offers you great visibility too - with tools that let you
          monitor progress, provide support and feedback. Plus, you can
          easily create new course content or adapt Codio's stacks to create
          your own learning templates.
        </div>
      </div>
    </div>
  </div>

  <div class="grey">
    <div class="section first">
      <div class="section-body">
        <div class="h_iframe">
          <%= image_tag 'assets/school/placeholdit.png', alt: 'Video', class: 'ratio' %>
          <iframe src="https://player.vimeo.com/video/177683401?portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="section second">
    <h4 class="section-header">Codio benefits</h4>
    <div class="section-block-row">
      <div class="section-block">
        <div class="left-quote">
          &ldquo;
        </div>
        <div class="section-block-copy">
          Web-based IDE, online code editor, project templates, powerful class
          management features and a flexible content authoring system all come
          as standard.
        </div>
        <div class="right-quote">
          &rdquo;
        </div>
      </div>
    </div>
  </div>

  <div class="section third">
    <div class="section-body">
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header savings">
            Cost <span>savings</span>
          </h3>
          <div class="section-block-copy">
            For 500 users, the annual cost per student is just $48. You could
            save up to 85% in costs compared to managing your own
            infrastructure.
            <%= link_to 'See our pricing structure', '/pricing', class: 'link' %>.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header productivity">
            Efficiency and productivity
          </h3>
          <div class="section-block-copy">
            Codio's Stacks and Starter packs save time setting up new users.
            Efficient workflows make communicating with students easier, and
            lets them start coding instantly.
          </div>
        </div>
      </div>
      <div class="section-block-row">
        <div class="section-block">
          <h3 class="section-block-header lms">
            Learning management
          </h3>
          <div class="section-block-copy">
            We've made class management simple. Your faculty staff can easily
            create and manage classes, monitor assignments, and access student
            code. Uploading and downloading student work is simple too - just
            drag and drop.
          </div>
        </div>
        <div class="section-block">
          <h3 class="section-block-header creation">
            Simple course creation
          </h3>
          <div class="section-block-copy">
            Simple and powerful, Codio's content authoring tools will help you
            create a great learning experience. You can easily upload your own
            course materials or create new courses with pre-configured template
            projects.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="section fourth">
      <h2>
        Ready to find out more?
      </h2>
      <div class="action-buttons animated">
        <%= link_to 'Start FREE Trial', '/start-edu-trial', class: 'button button-xlarge button-main' %>
        <%= link_to 'Book a Demo', '/demo', class: 'button button-xlarge button-main button-demo' %>
      </div>
    </div>
  </div>

</section>
